@model IEnumerable<TheatreCMS3.Areas.Prod.Models.ProductionMember>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearJoined)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainRole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentMember)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CastYearLeft)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DebutYearLeft)
        </th>
        <th></th>
    </tr>

@{ var index = 0; }
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearJoined)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MainRole)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bio)
        </td>
        <td>
            <img src="@ViewBag.ImageDataUrls[index]" width="auto" height="75px" /> @{ index++; }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentMember)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CastYearLeft)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DebutYearLeft)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductionMemberId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductionMemberId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductionMemberId })
        </td>
    </tr>
}

</table>
