@model IEnumerable<TheatreCMS3.Areas.Prod.Models.ProductionMember>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script src="https://kit.fontawesome.com/634caf7d3f.js" crossorigin="anonymous"></script>
</head>
<div class="text-center m-3">
    <h2 class="cms-text-light">Production Members</h2>
    <button class="Prod-ProductionMember-createBtn text-center" type="button" onclick="location.href='@Url.Action("Create")'">Create</button>
</div>

<div class="container-fluid cms-bg-main-light text-center rounded Prod-ProductionMember-Index">

    @foreach (var name in Model.GroupBy(x => x.ProductionTitle).Select(y => y.First()).ToList())
    {
        if (name.ProductionTitle == null)
        {
            <h2 class="hi CMS-text-bigger cms-text-dark">No Production</h2>
        }
        <h2 class="CMS-text-bigger cms-text-dark">@Html.DisplayFor(modelName => name.ProductionTitle)</h2>
        <hr />
        <div class="row">

            @foreach (var item in Model)
            {
                if (item.ProductionTitle == name.ProductionTitle)
                {
                    <div class="col-3">
                        <div class="Prod-ProductionMember-IndexContainer card">
                            <div class="Prod-ProductionMember-ImgHover text-center">
                                <button class="Prod-ProductionMember-createBtn text-center mt-2" type="button" onclick="location.href='@Url.Action("Edit", "ProductionMembers", new {id = item.ProductionMemberId })'"><i class="fa-solid fa-pen-to-square"></i> Edit</button>
                                <button class="Prod-ProductionMember-backBtn text-center mt-2" type="button" onclick="location.href='@Url.Action("Delete", "ProductionMembers", new {id = item.ProductionMemberId })'"><i class="fa-solid fa-trash"></i> Delete</button>
                            </div>
                            <a href="@Url.Action("Details",new { id = item.ProductionMemberId })">
                                <article class="text-left">
                                    <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
                                    <h4>@Html.DisplayFor(modelItem => item.Character)</h4>
                                </article>
                                <img src="@Url.Action("DisplayImg", "ProductionMembers", new { item.ProductionMemberId })" class="Prod-ProductionMember-imgsize" alt="">
                            </a>
                        </div>

                    </div>
                }
            }
        </div>
    }
</div>


@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductionTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearJoined)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentMember)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Character)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CastYearLeft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DebutYearLeft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductionTitle)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearJoined)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MainRole)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentMember)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Character)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CastYearLeft)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DebutYearLeft)
                </td>
                <td>
                    @{
                        if (item.Photo != null)
                        {
                            <img class="mb-3" style=" position: relative; width: 50px; height: 50px; overflow: hidden; border-radius: 5%;" src="@Url.Action("DisplayImg","ProductionMembers",new { item.ProductionMemberId })" />
                        }
                        else
                        {
                            <p>No photo</p>
                        }
                    }

                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductionMemberId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProductionMemberId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductionMemberId })
                </td>
            </tr>
        }

    </table>*@



