@model TheatreCMS3.Areas.Rent.Models.Rental

@{
  ViewBag.Title = "Create";
  Layout = "~/Views/Shared/_Layout.cshtml";
}



<br />

<div class="rental-create--form container-fluid h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="rental-create--formContainer col-8 col-md-8 col-lg-8">

      @using (Html.BeginForm())
      {
        @Html.AntiForgeryToken()

      
        <div class="form-horizontal justify-content-center align-items-center">
          <h2 class="rental-create--header">Create Rental</h2>
          @Html.ValidationSummary(true, "", new { @class = "text-danger" })
          <div class="form-group">
            @Html.LabelFor(model => model.RentalName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="rental-create--input form-row col-md-12">
              @Html.EditorFor(model => model.RentalName, new { htmlAttributes = new { @class = "rental-create--form-control form-control", placeholder = @Html.DisplayNameFor(m => m.RentalName) } })
              @Html.ValidationMessageFor(model => model.RentalName, "", new { @class = "text-danger" })
            </div>
          </div>
        </div>

        <div class="form-group">
          @Html.LabelFor(model => model.RentalCost, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="rental-create--input form-row col-md-12">
            @Html.EditorFor(model => model.RentalCost, new { htmlAttributes = new { @class = "rental-create--form-control form-control", placeholder = @Html.DisplayNameFor(m => m.RentalCost) } })
            @Html.ValidationMessageFor(model => model.RentalCost, "", new { @class = "text-danger" })
          </div>
        </div>

        <div class="form-group">
          @Html.LabelFor(model => model.FlawsAndDamages, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="rental-create--input form-row col-md-12">
            @Html.EditorFor(model => model.FlawsAndDamages, new { htmlAttributes = new { @class = "rental-create--form-control form-control", placeholder = @Html.DisplayNameFor(m => m.FlawsAndDamages)} })
            @Html.ValidationMessageFor(model => model.FlawsAndDamages, "", new { @class = "text-danger" })
          </div>
        </div>
        <br />

        <div class="form-row col-md-12">
          <div class="rental-create-btn--container container-fluid col-md-6">
            <input class="rental-create--btn-submit btn btn-block text-lg-center" type="submit" value="Create" id="create" /> <br />
          </div>
        </div>

        
          <div class="form-row col-md-12">
            <div class="rental-create--btn-container container-fluid col-md-6">
               <div class="rental-create--btn-List btn btn-block text-lg-center">
                 @Html.ActionLink("Back to List", "Index", new { }, new { htmlAttributes= new { @class="rental-create--btn-List" } } )
               </div>
            </div>
          </div>
        

      }
    </div>
    </div>
  </div>



    @section Scripts {
      @Scripts.Render("~/bundles/jqueryval")
    }

<style>

  /* Page specific styles */

  a {
    color: black;
  }

  .wrapper-fluid {
    max-width: 100%;
  }

  /*Page specific - body container padding and background color*/
  .body-content {
    padding-left: 0px;
    padding-right: 0px;
    background-color: var(--secondary-color--dark);
  }

  /* Spans body background full width of page */
  .container {
    max-width: 100%;
  } 
    

</style>
