@model TheatreCMS3.Areas.Rent.Models.Rental

@{
  ViewBag.Title = "Create Rental";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
  
<h2 class="Rental-CreateEdit--heading"> @ViewBag.Title</h2>

<div class="container border cms-bg-main mx-auto" style="border-radius: 8px; width: 40%;">
  @using (Html.BeginForm())
  {
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
      <hr />
      @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      <div class="form-group">
        @Html.LabelFor(model => model.RentalName,"Rental Name", htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-10 Rental-CreateEdit--div">
          @Html.EditorFor(model => model.RentalName, new { htmlAttributes = new { @class = "form-control Rental-CreateEdit--inputField", @placeholder = "Rental's Name"} })
          @Html.ValidationMessageFor(model => model.RentalName, "", new { @class = "text-white" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.RentalCost, "Rental Cost", htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-10 Rental-CreateEdit--div">
          @Html.EditorFor(model => model.RentalCost, new { htmlAttributes = new { @class = "form-control Rental-CreateEdit--inputField", @placeholder = "Rental's Cost" } })
          @Html.ValidationMessageFor(model => model.RentalCost, "", new { @class = "text-white" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.FlawsAndDamages, "Flaws & Damages", htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-10 Rental-CreateEdit--div">
          @Html.EditorFor(model => model.FlawsAndDamages, new { htmlAttributes = new { @class = "form-control Rental-CreateEdit--inputField", @placeholder = "Flaws & Damages" } })
          @Html.ValidationMessageFor(model => model.FlawsAndDamages, "", new { @class = "text-white" })
        </div>
      </div>

      @*<div class="form-group">
            @Html.LabelFor(model => model.Photo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 Rental-CreateEdit--div">
                @Html.EditorFor(model => model.Photo, new { htmlAttributes = new { @class = "form-control Rental-CreateEdit--inputField", @placeholder = "Photo" } })
                @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-white" })
            </div>
        </div>*@

      <div class="form-group">
        <div class="row m-sm-3">
          <div class="col-md-auto cms-bg-secondary mx-auto cms-text-light rounded">
            <input type="submit" value="Submit" class="btn btn-default mx-auto cms-text-light" />
          </div>
        </div>
      </div>
    </div>
  }
</div>

<div class="container">
  <div class="row m-sm-5">
    <div class="col-md-auto cms-bg-main mx-auto cms-text-light rounded">
      @Html.ActionLink("Back to List", "Index", routeValues: null, htmlAttributes: new { @class = "col-md-auto btn btn-default cms-bg-main mx-auto cms-text-light" })
    </div>
  </div>
</div>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
