@model TheatreCMS3.Areas.Rent.Models.Rental
<link rel="stylesheet" type="text/css" href="~/Areas/Rent/CSS/CreateStyleSheet.css" />

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()


    
<div class="container-sm" >

    <h2 id="titleStyle" style="text-align: center">Create Rental</h2>

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group" id="textStyle">
        @Html.LabelFor(model => model.RentalName, htmlAttributes: new { @class = "control-label col-md-3" })
        <div id="centered-input" >
            @Html.EditorFor(model => model.RentalName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RentalName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" id="textStyle">
        @Html.LabelFor(model => model.RentalCost, htmlAttributes: new { @class = "control-label col-md-3" })
        <div id="centered-input">
            @Html.EditorFor(model => model.RentalCost, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RentalCost, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" id="textStyle">
        @Html.LabelFor(model => model.FlawsAndDamages, htmlAttributes: new { @class = "control-label col-md-3" })
        <div id="centered-input">
            @Html.EditorFor(model => model.FlawsAndDamages, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FlawsAndDamages, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm">
                <input type="submit" value="Create Account" class="btn btn-default" id="submitButtonStyle" />
            </div>
            <div class="col-sm">
                @Html.ActionLink("Return to List","Index", new { @class = "btn btn-default returnButtonStyle" })
                <a href="<%: Url.Action("Index", "RentalsController") %>" >
                    <input type="submit" value="Return to List" class="btn btn-default returnButtonStyle" />
                </a>
            </div>
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
