@model TheatreCMS3.Areas.Rent.Models.Rental

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    h4, h2 {
        text-align: center
    }
    .btn {
        display: inline;
        text-align: center;
        background-color: var(--dark-color);
        color: white;
        padding: 7px;
        border-radius: 20px 20px 20px 20px;
    }
    .btn:hover {
        box-shadow: 0px 0px 10px var(--main-color);
        color: var(--main-color--light)
     }
    .btn1 {
        display: block;
        text-align: center;
        background-color: var(--secondary-color);
        color: black;
        padding: 7px;
        border-radius: 20px 20px 20px 20px;
        justify-content:center;
    }
    .btn1:hover {
        box-shadow: 0px 0px 10px white;
        color: black
    }
    .formContainerRent {
        margin: 10% auto;
        width: 750px;
        background-color: var(--secondary-color--dark);
        border: ridge 10px;
        border-color: var(--secondary-color);
        box-shadow: inset var(--main-color--light) 1px 2px 20px;
    }
    .form-group {
        width: 880px;
    }
    .form-control:focus {
        border-color: var(--light-color);
        box-shadow: none;
        background: var(--main-color);
        color: white;

</style>

<h2>Create Rental</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="formContainerRent">
    <div class="form-horizontal">
        <h4>Rentals</h4>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.RentalName, htmlAttributes: new { @class = "control-label col-md-2"})
            <div class="col-md-10" placeholder="Hi">
                @Html.EditorFor(model => model.RentalName, new { htmlAttributes = new { @class = "form-control",  @placeholder = "Enter rental item" } })
                @Html.ValidationMessageFor(model => model.RentalName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RentalCost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RentalCost, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter a price" } })
                @Html.ValidationMessageFor(model => model.RentalCost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FlawsAndDamages, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FlawsAndDamages, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter any damages occured" } })
                @Html.ValidationMessageFor(model => model.FlawsAndDamages, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default btn-block" />
            </div>
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn1" })
            </div>
                
        </div>
    </div>
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
