@model TheatreCMS3.Areas.Rent.ViewModels.AllRentals

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="centered-rental">Delete</h2>
<div class="rental-container">
    <h4 class="centered-rental alert rental-delete-confirm">Are you sure you want to delete this?</h4>
    <dl class="dl-horizontal" data-type="@Html.DisplayFor(model => model.RentalType)"> @*Used to display correct form*@ 
        <div class="row">
            <div class="col-md-6">
                <div>
                    <dt class="rental-details-titles">
                        Name of Rental:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RentalName)
                    </dd>
                </div>

                <div>
                    <dt class="rental-details-titles">
                        Daily Rental Cost:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RentalCost)
                    </dd>
                </div>

                <div>
                    <dt class="rental-details-titles">
                        Flaws and Damages:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FlawsAndDamages)
                    </dd>
                </div>
            </div>
            <div class="col-md-6">
                <div class="to-hide equipment d-none">
                    <dt class="rental-details-titles">
                        Purchase Price:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PurchasePrice)
                    </dd>
                </div>

                <div class="to-hide equipment d-none">
                    <dt class="rental-details-titles">
                        Choking Hazard:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ChokingHazard)
                    </dd>
                </div>

                <div class="to-hide equipment d-none">
                    <dt class="rental-details-titles">
                        Suffocation Hazard:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SuffocationHazard)
                    </dd>
                </div>

                <div class="to-hide room d-none">
                    <dt class="rental-details-titles">
                        Room Number:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RoomNumber)
                    </dd>
                </div>

                <div class="to-hide room d-none">
                    <dt class="rental-details-titles">
                        Square Footage:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SquareFootage)
                    </dd>
                </div>

                <div class="to-hide room d-none">
                    <dt class="rental-details-titles">
                        Max Occupancy:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MaxOccupancy)
                    </dd>
                </div>
            </div>
        </div>

        @{  if (ViewBag.associatedRentalRequest != null)
            {
                TheatreCMS3.Areas.Rent.Models.RentalRequest rentalRequest = ViewBag.associatedRentalRequest;
                <div class="row">
                    <div class="col-sm-12">
                        <h4><a class="rental-request-link" href="~/Rent/RentalRequests/Details/@rentalRequest.RentalRequestID">Rental Request Information:</a></h4>
                    </div>
                    <div class="col-sm-4">
                        <p><strong>Company:</strong><br />@rentalRequest.Company</p>
                    </div>
                    <div class="col-sm-4">
                        <p><strong>Contact Person:</strong><br />@rentalRequest.ContactPerson</p>
                    </div>
                    <div class="col-sm-4">
                        <p><strong>Rental Code:</strong><br />@rentalRequest.RentalCode</p>
                    </div>
                </div>
            }

        }
    
    </dl>
        
    @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div class="form-actions no-color row">
        <div class="col-md-3">&nbsp;</div>
        <input type="submit" value="Delete" class="btn col-sm-3 rentals-btn btn-default" />
        @Html.ActionLink("Back to List", "Index", null, new { @class = "back-list-color col-sm-3 btn back-list-btn" })
    </div>
      }
</div>


    @*@using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="col-md-3 btn rentals-btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", null, new { @class = "back-list-color col-sm-3 btn back-list-btn" })
        </div>
    }
</div>*@
