@model TheatreCMS3.Areas.Rent.ViewModels.AllRentals

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="centered-rental">Rental Details</h2>

<div class="rental-container">
    <dl class="dl-horizontal" data-type="@Html.DisplayFor(model => model.RentalType)">
        <dt>
            Name of Rental
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentalName)
        </dd>

        <dt>
            Rental Cost
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentalCost)
        </dd>

        <dt>
            Flaws and Damages
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlawsAndDamages)
        </dd>
        
        <dt>
            Purchase Price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>

        <dt>
            Choking Hazard
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChokingHazard)
        </dd>

        <dt>
            Suffocation Hazard
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuffocationHazard)
        </dd>

        <dt>
            Room Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>
        
        <dt>
            Square Footage
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SquareFootage)
        </dd>

        <dt>
            Max Occupancy
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxOccupancy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RentalId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
