@model TheatreCMS3.Areas.Rent.ViewModels.AllRentals

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="centered-rental">Rental Details</h2>

<div class="rental-container">
    <dl class="dl-horizontal" data-type="@Html.DisplayFor(model => model.RentalType)">
        
        <div>
            <dt>
                Name of Rental
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RentalName)
            </dd>
        </div>

        <div>
            <dt>
                Daily Rental Cost
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RentalCost)
            </dd>
        </div>

        <div>
            <dt>
                Flaws and Damages
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FlawsAndDamages)
            </dd>
        </div>

        <div class="to-hide equipment d-none">
            <dt>
                Purchase Price
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PurchasePrice)
            </dd>
        </div>

        <div class="to-hide equipment d-none">
            <dt>
                Choking Hazard
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ChokingHazard)
            </dd>
        </div>

        <div class="to-hide equipment d-none">
            <dt>
                Suffocation Hazard
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SuffocationHazard)
            </dd>
        </div>

        <div class="to-hide room d-none">
            <dt>
                Room Number
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RoomNumber)
            </dd>
        </div>

        <div class="to-hide room d-none">
            <dt>
                Square Footage
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SquareFootage)
            </dd>
        </div>

        <div class="to-hide room d-none">
            <dt>
                Max Occupancy
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaxOccupancy)
            </dd>
        </div>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RentalId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
