@model TheatreCMS3.Areas.Rent.Models.Rental

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml"; //Add full site layout to Edit Page
}
<link href="~/Content/Areas/Rent.css" rel="Stylesheet" type="text/css" />

<h2>Edit Page</h2>


@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()

  <div class="form-horizontal  container pr-0 pt-1">
    <h4 style="text-align:center">Rental Edit Page</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-white" })
    @Html.HiddenFor(model => model.RentalId)

    <div class="form-group text-white">
      @Html.LabelFor(model => model.RentalName, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="input-group input-group-lg mx-auto col-lg-12">
        @Html.EditorFor(model => model.RentalName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.RentalName, "", new { @class = "text-white" })
      </div>
    </div>

    <div class="form-group text-white">
      @Html.LabelFor(model => model.RentalCost, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="input-group input-group-lg mx-auto col-lg-12">
        @Html.EditorFor(model => model.RentalCost, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.RentalCost, "", new { @class = "text-white" })
      </div>
    </div>

    <div class="form-group text-white">
      @Html.LabelFor(model => model.FlawsAndDamages, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="input-group input-group-lg mx-auto col-lg-12">
        @Html.EditorFor(model => model.FlawsAndDamages, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.FlawsAndDamages, "", new { @class = "text-white" })
      </div>
    </div>

    <div class="row justify-content-center col-12">
      <div class="pr-1">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
      </div>
      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-danger" />
      </div>
    </div>
  </div>
}



@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
