@model TheatreCMS3.Areas.Rent.Models.Rental

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .form-control:focus {
        border-color: #d6972a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(214, 151, 42, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(214, 151, 42, 0.6);
        background-color: rgb(255, 251, 251, .97);
        color: #000000;
    }
</style>


<h2 class="rentals-create-header">RENTAL</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="rentals-create-formContainer">

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <!--Form Section-->
                <section class="rentals-create-Form">

                    <h4>EDIT RENTAL</h4>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.RentalId)
                    <div class="form-group">
                        @Html.LabelFor(model => model.RentalName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.RentalName, new { htmlAttributes = new { @class = "form-control", placeholder = "John Smith" } })
                            @Html.ValidationMessageFor(model => model.RentalName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RentalCost, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.RentalCost, new { htmlAttributes = new { @class = "form-control", placeholder = "100" } })
                            @Html.ValidationMessageFor(model => model.RentalCost, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FlawsAndDamages, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.FlawsAndDamages, new { htmlAttributes = new { @class = "form-control", placeholder = "None" } })
                            @Html.ValidationMessageFor(model => model.FlawsAndDamages, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Save" class="rentals-create-buttons btn btn-block" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="rentals-create-back col-md-12">
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "backButton btn btn-block" })
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </div>
}