@model TheatreCMS3.Areas.Rent.Models.Rental

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="rental-edit--editrentalheading">Edit</h2>

<!--DROPDOWN-->
<div class="dropdown rental-edit--dropdowncontainer">
    <button class="btn btn-secondary dropdown-toggle rental-edit--dropdownbutton" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Rental Type
    </button>
    <div class="dropdown-menu rental-edit--dropdownMenu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item rental-edit--choice1" href="#">Rental</a>
        <a class="dropdown-item rental-edit--choice2" href="#">Rental Equipment</a>
        <a class="dropdown-item rental-edit--choice3" href="#">Rental Room</a>
    </div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="rental-edit--formcontainer">
        <div class="form-horizontal rental-edit--formhorizontal">
            <h4 class="rental-edit--formheading">Rental</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.RentalId)

            <div class="form-group rental-edit--formgroupheading1">
                @Html.LabelFor(model => model.RentalName, "Rental Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RentalName, new { htmlAttributes = new { @class = "form-control rental-edit--formcontrols", placeholder = "Enter rental name" } })
                    @Html.ValidationMessageFor(model => model.RentalName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group rental-edit--formgroupheading2">
                @Html.LabelFor(model => model.RentalCost, "Rental Cost", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RentalCost, new { htmlAttributes = new { @class = "form-control rental-edit--formcontrols", placeholder = "Enter rental cost" } })
                    @Html.ValidationMessageFor(model => model.RentalCost, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group rental-edit--formgroupheading3">
                @Html.LabelFor(model => model.FlawsAndDamages, "Flaws And Damages", htmlAttributes: new { @class = "control-label col-md-2 rental-edit--flawslabel" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FlawsAndDamages, new { htmlAttributes = new { @class = "form-control rental-edit--formcontrols", placeholder = "Enter flaws and damages" } })
                    @Html.ValidationMessageFor(model => model.FlawsAndDamages, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default rental-edit--savebutton" />
                </div>
            </div>
        </div>
        <div>
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn rental-edit--backbutton" })   <!--apply bootstrap class when you create new class-->
        </div>

    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
