@using TheatreCMS3.Areas.Rent.Models
@model dynamic

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<h4>Rentals</h4>
<div class="row mb-3 rental-index--cards">
    @foreach (Rental item in Model.Rental)
    {
        Type tp = item.GetType();
        if (tp.Equals(typeof(Rental)))
        {
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => item.RentalName)
                    </h5>
                    <h6 class="card-subtitle mb-2">
                        $@Html.DisplayFor(modelItem => item.RentalCost)/day
                    </h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Flaws and Damages: @Html.DisplayFor(modelItem => item.FlawsAndDamages)</li>
                    </ul>
                    @Html.ActionLink("Edit", "Edit", new { id = item.RentalId }, htmlAttributes: new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.RentalId }, htmlAttributes: new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.RentalId }, htmlAttributes: new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
        }
    }
</div>
<h4>Rental Equipment</h4>
<div class="row mb-3 rental-index--cards">
    @foreach (RentalEquipment item in Model.RentalEquipment)
    {
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => item.RentalName)
                    </h5>
                    <h6 class="card-subtitle mb-2">
                        $@Html.DisplayFor(modelItem => item.RentalCost)/day
                        <br />
                        @if (item.ChokingHazard)
                        {
                            <span class="badge badge-warning">Choking Hazard</span>
                        }
                        @if (item.SuffocationHazard)
                        {
                            <span class="badge badge-warning">Suffocation Hazard</span>
                        }
                    </h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Flaws and Damages: @Html.DisplayFor(modelItem => item.FlawsAndDamages)</li>
                        <li class="list-group-item">Purchase Price: @Html.DisplayFor(modelItem => item.PurchasePrice)</li>
                    </ul>

                    @Html.ActionLink("Edit", "Edit", new { id = item.RentalId }, htmlAttributes: new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.RentalId }, htmlAttributes: new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.RentalId }, htmlAttributes: new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    }
</div>
<h4>Rental Rooms</h4>
<div class="row mb-3 rental-index--cards">
    @foreach (  RentalRoom item in Model.RentalRoom)
    {
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => item.RentalName)
                    </h5>
                    <h6 class="card-subtitle mb-2">
                        $@Html.DisplayFor(modelItem => item.RentalCost)/day <span class="badge badge-secondary">@Html.DisplayFor(modelItem => item.SquareFootage) ft<sup>2</sup></span>
                    </h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Flaws and Damages: @Html.DisplayFor(modelItem => item.FlawsAndDamages)</li>
                        <li class="list-group-item">RoomNumber: @Html.DisplayFor(modelItem => item.RoomNumber)</li>
                        <li class="list-group-item">Max Occupancy: @Html.DisplayFor(modelItem => item.MaxOccupancy)</li>
                    </ul>
                    @Html.ActionLink("Edit", "Edit", new { id = item.RentalId }, htmlAttributes: new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.RentalId }, htmlAttributes: new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.RentalId }, htmlAttributes: new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    }
</div>
