@model IEnumerable<TheatreCMS3.Areas.Rent.Models.Rental>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap-grid.css" />

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="container text-center">
    <div class="row">
        @Html.DisplayNameFor(model => model.RentalType)
        <div class="row row-cols-2">
            @foreach (var item in Model)
            {
                <div class="card w-25">
                    <img src="~/Content/images/placeholder.jpg" class="card-img-top" alt="Image soon to come">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.RentalName)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.RentalCost)</p>

                        <a href="@Html.ActionLink("Edit", "Edit", new { id = item.RentalId })" class="btn btn-primary">Edit</a>
                        <a href="@Html.ActionLink("Details", "Details", new { id = item.RentalId })" class="btn btn-primary">Details</a>
                        <a href="@Html.ActionLink("Delete", "Delete", new { id = item.RentalId })" class="btn btn-primary">Delete</a>
                    </div>
                </div>
            }
        </div>
        @Html.DisplayNameFor(model => model.RentalEquipment)
        <div class="row row-cols-2">
            @foreach (var item in Model.RentalEquipment)
            {
                <div class="card w-25">
                    <img src="~/Content/images/placeholder.jpg" class="card-img-top" alt="Image soon to come">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.RentalName)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.RentalCost)</p>
                        <span class="badge badge-pill badge-warning">@Html.DisplayFor(ModelItem=>item.ChokingHazard</span>
                        <span class="badge badge-pill badge-warning">Warning</span>
                        <a href="@Html.ActionLink("Edit", "Edit", new { id = item.RentalId })" class="btn btn-primary">Edit</a>
                        <a href="@Html.ActionLink("Details", "Details", new { id = item.RentalId })" class="btn btn-primary">Details</a>
                        <a href="@Html.ActionLink("Delete", "Delete", new { id = item.RentalId })" class="btn btn-primary">Delete</a>
                    </div>
                </div>
            }
        </div>
        @Html.DisplayNameFor(model => model.RentalRoom)
        <div class="row row-cols-2">
            @foreach (var item in Model)
            {
                <div class="card w-25">
                    <img src="~/Content/images/placeholder.jpg" class="card-img-top" alt="Image soon to come">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.RentalName)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.RentalCost)</p>
                        <a href="@Html.ActionLink("Edit", "Edit", new { id = item.RentalId })" class="btn btn-primary">Edit</a>
                        <a href="@Html.ActionLink("Details", "Details", new { id = item.RentalId })" class="btn btn-primary">Details</a>
                        <a href="@Html.ActionLink("Delete", "Delete", new { id = item.RentalId })" class="btn btn-primary">Delete</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

