@model IEnumerable<TheatreCMS3.Areas.Rent.Models.Rental>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap-grid.css" />

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="container text-center">
    <div class="row">
        <div class="row row-cols-2">
            <h2>Rental</h2>
            @foreach (var rental in Model.Where(item => item.RentalType == "Rental"))
            {
                <div class="card w-25">
                    <img src="~/Content/images/placeholder.jpg" class="card-img-top" alt="Image soon to come">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => rental.RentalName)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => rental.RentalCost)</p>

                        <a href="@Html.ActionLink("Edit", "Edit", new { id = rental.RentalId })" class="btn btn-primary">Edit</a>
                        <a href="@Html.ActionLink("Details", "Details", new { id = rental.RentalId })" class="btn btn-primary">Details</a>
                        <a href="@Html.ActionLink("Delete", "Delete", new { id = rental.RentalId })" class="btn btn-primary">Delete</a>
                    </div>
                </div>
            }
        </div>
        
        <div class="row row-cols-2">
            <h2>Rental Equipment</h2>
            @foreach (var rentalEquipment in Model.Where(item => item.RentalType == "RentalEquipment"))
            {
                <div class="card w-25">
                    <img src="~/Content/images/placeholder.jpg" class="card-img-top" alt="Image soon to come">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => rentalEquipment.RentalName)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => rentalEquipment.RentalCost)</p>
                        <span class="badge badge-pill badge-warning">@Html.DisplayFor(ModelItem => rentalEquipment.RentalEquipment.SuffocationHazard)</span>
                        <span class="badge badge-pill badge-warning">@Html.DisplayFor(ModelItem => rentalEquipment.RentalEquipment.ChokingHazard)</span>
                        <a href="@Html.ActionLink("Edit", "Edit", new { id =rentalEquipment.RentalId })" class="btn btn-primary">Edit</a>
                        <a href="@Html.ActionLink("Details", "Details", new { id = rentalEquipment.RentalId })" class="btn btn-primary">Details</a>
                        <a href="@Html.ActionLink("Delete", "Delete", new { id = rentalEquipment.RentalId })" class="btn btn-primary">Delete</a>
                    </div>
                </div>
            }
        </div>
        <h2>Rental Room</h2>
    <div class="row row-cols-2">
        @foreach (var rentalRoom in Model.Where(item => item.RentalType == "RentalRoom"))
        {
            <div class="card w-25">
                <img src="~/Content/images/placeholder.jpg" class="card-img-top" alt="Image soon to come">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => rentalRoom.RentalName)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => rentalRoom.RentalCost)</p>
                    <a href="@Html.ActionLink("Edit", "Edit", new { id = rentalRoom.RentalId })" class="btn btn-primary">Edit</a>
                    <a href="@Html.ActionLink("Details", "Details", new { id = rentalRoom.RentalId })" class="btn btn-primary">Details</a>
                    <a href="@Html.ActionLink("Delete", "Delete", new { id = rentalRoom.RentalId })" class="btn btn-primary">Delete</a>
                </div>
            </div>
        }
    </div>
    </div>
</div>

