@model IEnumerable<TheatreCMS3.Areas.Rent.ViewModels.AllRentals>

@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (Request.IsAuthenticated && User.IsInRole("RentalManager"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

@using (Html.BeginForm())
{
    <p>Filter by less than or greater than cost: </p>
    //Fa-Chevron class is added by javascript for loading consistency after submit
    <p><i class="btn gtlt-btn fa" id="GreaterThan_LessThan" onclick="greaterThanLessThanClick()"></i>
       <input type="hidden" id="greater_less_input" name="greaterLessThan" value="@ViewBag.LessThanGreaterThan">
        @Html.TextBox("searchCost")
       <input type="submit" class ="rental-filter-button" value="Filter" />
    </p>
}
<h3>Rentals</h3>
<hr class="rental-hr"/>
<div class="row rental-text">
    @foreach (var rentItem in Model)
    {
        if (rentItem.RentalType == "rental")
        { 
            <div class="card col-auto mb-3  mr-4 rental-cards">
                <img class="card-img-top mt-3 index-card-img" src="~/Content/images/theater.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => rentItem.RentalName)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => rentItem.RentalCost) / day</p>
                </div>
                <div class="card-footer">
                    @if (Request.IsAuthenticated && User.IsInRole("RentalManager"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = rentItem.RentalId }, new { @class = "btn rental-edit-btn rental-edit-text" })
                    }
                        @Html.ActionLink("Details", "Details", new { id = rentItem.RentalId }, new { @class = "rental-edit-text btn rental-details-btn" })
                    @if (Request.IsAuthenticated && User.IsInRole("RentalManager"))
                    {
                        <a href="@Url.Action("Delete", "Rentals", new { id = rentItem.RentalId }) "><i class="fa fa-trash delete-img"></i></a>
                    }
                </div>
            </div>
        }
    }
</div>

<h3>Equipment</h3>
<hr class="rental-hr" />
<div class="row rental-text">
    @foreach (var item in Model)
    {
        if (item.RentalType == "equipment")
        { 
            <div class="card col-auto mb-3 mr-4 rental-cards">
                <img class="card-img-top mt-3 index-card-img" src="~/Content/images/theater.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.RentalName)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.RentalCost) / day</p>
                    @if (item.ChokingHazard)
                    {
                        <span class="badge badge-pill badge-primary pill-badge-custom">Choking Hazard</span>
                    }
                    @if (item.SuffocationHazard)
                    {
                        <span class="badge badge-pill badge-primary pill-badge-custom">Sufocation Hazard</span>
                    }
                </div>
                <div class="card-footer">
                    @if (Request.IsAuthenticated && User.IsInRole("RentalManager"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.RentalId }, new { @class = "btn rental-edit-btn rental-edit-text" })
                    }
                        @Html.ActionLink("Details", "Details", new { id = item.RentalId }, new { @class = "rental-edit-text btn rental-details-btn" })
                    @if (Request.IsAuthenticated && User.IsInRole("RentalManager"))
                    {
                        <a href="@Url.Action("Delete", "Rentals", new { id = item.RentalId }) "><i class="fa fa-trash delete-img"></i></a>
                    }
                </div>
            </div>
        }
    }
</div>

<h3>Rooms</h3>
<hr class="rental-hr" />
<div class="row rental-text">
    @foreach (var item in Model)
    {
          
        if (item.RentalType == "room")
        { 
            <div class="card col-auto mb-3 mr-4 rental-cards">
                <img class="card-img-top mt-3 index-card-img" src="~/Content/images/theater.jpg" alt="Card image cap">
                <div class="card-body row">
                    <div class="col-sm-8">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.RentalName)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.RentalCost) / day</p>
                    </div>
                    <div class="col-sm-4">
                        <span class="badge badge-pill badge-primary pill-badge-room">@Html.DisplayFor(modelItem => item.SquareFootage) ft<sup>2</sup></span>
                    </div>
                </div>
                <div class="card-footer">
                    @if (Request.IsAuthenticated && User.IsInRole("RentalManager"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.RentalId }, new { @class = "btn rental-edit-btn rental-edit-text" })
                    }
                        @Html.ActionLink("Details", "Details", new { id = item.RentalId }, new { @class = "rental-edit-text btn rental-details-btn" })
                    @if (Request.IsAuthenticated && User.IsInRole("RentalManager"))
                    {
                        <a href="@Url.Action("Delete", "Rentals", new { id = item.RentalId }) "><i class="fa fa-trash delete-img"></i></a>
                    }
                </div>
            </div>
        }
    }
</div>