@model IEnumerable<TheatreCMS3.Areas.Rent.Models.Rental>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/Areas/Rent.css" />

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="container text-center">
    <h2 class="index-header"style="text-align:left">Rental</h2>
    <div class="row">
    @foreach (var rental in Model.Where(item => item.RentalType == "Rental"))
    {
        <div class="col-md-4 mb-4 rental-card" data-rental-cost="@rental.RentalCost" data-rental-name="@rental.RentalName">
            <div class="card">
                <img src="~/Content/images/placeholder.jpg" class="card-img-top" alt="Image soon to come">
             <div class="card-body text-dark">
                <h5 class="card-title">@rental.RentalName</h5>
                <p class="card-text">Rental Cost: $@rental.RentalCost /day</p>
             <div class="mt-3">
                @Html.ActionLink("Edit", "Edit", new { id = rental.RentalId }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Details", "Details", new { id = rental.RentalId }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "Delete", new { id = rental.RentalId }, new { @class = "btn btn-danger" })
             </div>
             </div>
             </div>
         </div>
      }
    </div>

    <h2 class="index-header" style="text-align:left">Rental Equipment</h2>
    <div class="row">
        @foreach (var rentalEquipment in Model.Where(item => item.RentalType == "RentalEquipment"))
        {
            <div class="col-md-4 mb-4 rental-card" data-rental-cost="@rentalEquipment.RentalCost" data-rental-name="@rentalEquipment.RentalName">
                <div class="card">
                    <img src="~/Content/images/placeholder.jpg" class="card-img-top" alt="Image soon to come">

                    <div class="card-body text-dark">
                        <h5 class="card-title">@rentalEquipment.RentalName</h5>
                        <p class="card-text">Rental Cost: $@rentalEquipment.RentalCost /day</p>

                        <div class="row">
                            <div class="col-md-6">
                                @if (rentalEquipment.RentalEquipment?.SuffocationHazard == true)
                                {
                                    <span class="badge badge-pill badge-warning">Suffocation Hazard</span>
                                }
                            </div>
                            <div class="col-md-6">
                                @if (rentalEquipment.RentalEquipment?.ChokingHazard == true)
                                {
                                    <span class="badge badge-pill badge-warning">Choking Hazard</span>
                                }
                            </div>
                        </div>

                        <div class="mt-3">
                            @Html.ActionLink("Edit", "Edit", new { id = rentalEquipment.RentalId }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Details", "Details", new { id = rentalEquipment.RentalId }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Delete", "Delete", new { id = rentalEquipment.RentalId }, new { @class = "btn btn-danger" })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

<h2 class="index-header" style="text-align:left">Rental Room</h2>
    <div class="row">
     @foreach (var rentalRoom in Model.Where(item => item.RentalType == "RentalRoom"))
     {
        <div class="col-md-4 mb-4 rental-card" data-rental-cost="@rentalRoom.RentalCost" data-rental-name="@rentalRoom.RentalName">
            <div class="card">
                <img src="~/Content/images/placeholder.jpg" class="card-img-top" alt="Image soon to come">
            <div class="card-body text-dark">
                <h5 class="card-title">@rentalRoom.RentalName</h5>
                <p class="card-text"> Rental Cost: $@rentalRoom.RentalCost /day</p>

                <div class="row">
                    <div class="col-md-6">
                        <span class="badge badge-pill badge-warning text-center">@rentalRoom.RentalRoom.SquareFootage sq ft</span>
                    </div>
                </div>

                <div class="mt-3">
                    @Html.ActionLink("Edit", "Edit", new { id = rentalRoom.RentalId }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Details", "Details", new { id = rentalRoom.RentalId }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id = rentalRoom.RentalId }, new { @class = "btn btn-danger" })
                </div>
            </div>
            </div>
        </div>
     }
    </div>

</div>

