@model TheatreCMS3.Areas.Prod.Models.ProdPhoto

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/Areas/Prod.css">
</head>

<body>
    <div class="ProdPhotos-Edit-Card">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <center>
                    <h2 class="ProdPhotos-Edit-Title">Edit Production Photo Entry</h2>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ProPhotoId)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </center>

                <div class="ProdPhotos-Edit-Buttons-Center">
                    <input type="submit" value="Save" class="btn ProdPhotos-Edit-Buttons">
                    <div class="btn ProdPhotos-Edit-BackButtons">
                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div>
                </div>

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-10">
                        <form method="post">
                            <center>
                                <input type="file">
                            </center>
                            <img class="ProdPhotos-Edit-ImagePlaceholder" src="https://via.placeholder.com/600">
                        </form>
                    </div>
                </div>
            </div>
        }


    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
