@model TheatreCMS3.Areas.Blog.Models.BlogAuthor
@{
    var deleteUrl = Url.Action("Delete", "BlogAuthors", new { id = Model.BlogAuthorId });

}
<div class="modal" id="confirmation-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmation-modal">Confirm Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this author?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cancel-delete">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirm-delete">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="blogauthor-fade" data-author-id="@Model.BlogAuthorId">
    <div class="row justify-content-md-center">
        <div class="bg-light row">
            <div class="toggle-buttons">
                <button class="btn btn-success author-details-btn" data-author-id="@Model.BlogAuthorId">Author Details</button>
            </div>
            <div class="toggle-buttons">
                <button class="btn btn-dark latest-posts-btn" data-author-id="@Model.BlogAuthorId">Latest Posts</button>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("Delete", "BlogAuthors", new { id = Model.BlogAuthorId }))
    {
        @Html.AntiForgeryToken()


        <div class="card-container">
            <div class="card mb-3 form-width">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="~/Content/images/placeholder.jpg" alt="Author Image" class="card-img img-fluid" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body text-body">
                            <div class="latest-posts" data-author-id="@Model.BlogAuthorId">
                                (Implement in future stories)
                            </div>
                            <div class="author-details" data-author-id="@Model.BlogAuthorId">
                                <div class="row text-body">
                                    <h1 class="m-3">
                                        @Html.DisplayFor(model => model.Name)
                                    </h1>
                                    <div class="social-icons">
                                        <a href="https://www.facebook.com" target="_blank" class="text-body">
                                            <h2 class="fab fa-facebook"></h2>
                                        </a>
                                    </div>
                                    <div class="partial-delete">
                                        <a href="https://www.instagram.com" target="_blank" class="text-body">
                                            <h2 class="fab fa-instagram"></h2>
                                        </a>
                                    </div>
                                </div>


                                <p>
                                    @Html.DisplayFor(model => model.Bio)
                                </p>

                                <div class="row">
                                    <div class="col-md-4">
                                        <h5><b>Joined Date</b></h5>
                                    </div>
                                    <div class="col-md-8">
                                        <h5><b>Left Date</b></h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="partial-joined">
                                        <dd>
                                            @Html.DisplayFor(model => model.Joined)
                                        </dd>
                                    </div>
                                    <div>
                                        <dd>
                                            @Html.DisplayFor(model => model.Left)
                                        </dd>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="partial-edit">
                                        <a href="@Url.Action("Edit", new { id = Model.BlogAuthorId })" class="btn btn-success">
                                            <i class="fa-solid fa-pen-to-square"></i> Edit
                                        </a>
                                    </div>
                                    <div class="partial-delete">
                                        <button class="btn btn-danger delete-author-button" data-author-id="@Model.BlogAuthorId">
                                            <i class="fa-solid fa-trash"></i> Delete
                                        </button>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
        $(".delete-author-button").click(function (e) {
            e.stopPropagation();
            e.preventDefault();
            var authorId = $(this).data('author-id');
            deleteAuthorUrl = '@Html.Raw(deleteUrl)';
            $('#confirmation-modal').show();
        });


    $(document).ready(function () {
        $('.delete-author-button').click(function () {
        console.log("Delete button clicked");
            var authorId = $(this).data('author-id');
            console.log("Author ID: " + authorId);
        $('#confirmation-modal').show();
            $('#confirm-delete').off().on('click',function () {
                if (!deleteAuthorUrl) {
                    console.error("Delete URL is not ready.");
                    return;
                }
            $.ajax({
                type: 'POST',
                url: deleteAuthorUrl,
                data: { id: authorId, __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() },
                success: function () {
                    console.log("Deletion success");

                    var authorContainer = $('.blogauthor-fade[data-author-id="' + authorId + '"]');
                    console.log(authorContainer);
                    authorContainer.addClass('author-fade-out');
                    console.log("Fade-out class added");
                    setTimeout(function () {
                        authorContainer.remove();
                        console.log("Author container removed");
                    }, 500);
                    $('#confirmation-modal').hide();
                },
                error: function (err) {
                    console.error("Deletion error: " + err);
                }
            });

        });

        $('#cancel-delete').click(function () {
            $('#confirmation-modal').hide();
        });
    });
});

</script>
