@model TheatreCMS3.Areas.Blog.Models.BlogAuthor

<div class="row justify-content-md-center">
    <div class="bg-light row">
        <div class="toggle-buttons">
            <button class="btn btn-success author-details-btn" data-author-id="@Model.BlogAuthorId">Author Details</button>
        </div>
        <div class="toggle-buttons">
            <button class="btn btn-dark latest-posts-btn" data-author-id="@Model.BlogAuthorId">Latest Posts</button>
        </div>
    </div>
</div>

<div class="card-container">
    <div class="card mb-3 form-width">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="~/Content/images/placeholder.jpg" alt="Author Image" class="card-img img-fluid" />
            </div>
            <div class="col-md-8">
                <div class="card-body text-body">
                    <div class="latest-posts" data-author-id="@Model.BlogAuthorId">
                        (Implement in future stories)
                    </div>
                    <div class="author-details" data-author-id="@Model.BlogAuthorId">
                        <div class="row text-body">
                            <h1 class="m-3">
                                @Html.DisplayFor(model => model.Name)
                            </h1>
                            <div class="social-icons">
                                <a href="https://www.facebook.com" target="_blank" class="text-body">
                                    <h2 class="fab fa-facebook"></h2>
                                </a>
                            </div>
                            <div class="partial-delete">
                                <a href="https://www.instagram.com" target="_blank" class="text-body">
                                    <h2 class="fab fa-instagram"></h2>
                                </a>
                            </div>
                        </div>


                        <p>
                            @Html.DisplayFor(model => model.Bio)
                        </p>

                        <div class="row">
                            <div class="col-md-4">
                                <h5><b>Joined Date</b></h5>
                            </div>
                            <div class="col-md-8">
                                <h5><b>Left Date</b></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="partial-joined">
                                <dd>
                                    @Html.DisplayFor(model => model.Joined)
                                </dd>
                            </div>
                            <div>
                                <dd>
                                    @Html.DisplayFor(model => model.Left)
                                </dd>
                            </div>
                        </div>
                        <div class="row">
                            <div class="partial-edit">
                                <a href="@Url.Action("Edit", new { id = Model.BlogAuthorId })" class="btn btn-success">
                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                </a>
                            </div>
                            <div class="partial-delete">
                                <a href="@Url.Action("Delete", new { id = Model.BlogAuthorId })" class="btn btn-danger">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
