@model IEnumerable<TheatreCMS3.Areas.Blog.Models.BlogAuthor>

<h4>BlogAuthor</h4>


@foreach (var item in Model)
{<div id="BlogAuthor-AsyncDelete--Entree-@item.BlogAuthorId">
        <!--Blog Author Container-->
        <div class="BlogAuthor-Index--Container" id="BlogAuthorEntree-@item.BlogAuthorId">

            <!-- Tab Container Wrapper-->
            <div class="BlogAuthor-Index--TabContainerWrapper">

                <!-- Tab Button Wrapper-->
                <div class="BlogAuthor-Index--TabButtonWrapper">
                    <button class="BlogAuthor-Index--TabButton active" onclick="showDetails(@item.BlogAuthorId)" data-id="AuthorDetails" id="AuthorDetails">Author Details</button>
                    <button class="BlogAuthor-Index--TabButton" onclick="showPosts(@item.BlogAuthorId)" data-id="BlogPosts" id="BlogPost">Blog Posts</button>
                </div>

                <!-- Content Wrapper -->
                <div class="BlogAuthor-Index--ContentWrapper">

                    <!--Blog Photos Model-->
                    <div class="BlogAuthor-Index--PlaceHolder">
                        <img src="~/Content/images/Sample Image.jpg" class="BlogAuthor-Details--PlaceHolderImg" />
                    </div>

                    <!--Content Container for Hide/Show -->
                    <div class="BlogAuthor-Index--ContentContainer" id="ContentContainer">

                        <!-- Blank Content for Hide/Show-->
                        <div class="BlogAuthor-Index--BlankContent" id="blank-content-@item.BlogAuthorId">
                            <p>
                                Blog post not available
                            </p>
                        </div>
                        <!-- Blank Content for Hide/Show-->
                        <!-- Author Details Content for Hide/Show-->
                        <div class="BlogAuthor-Index--AuthorContent" id="content-@item.BlogAuthorId">
                            <div class="BlogAuthor-Index--content active" id="AuthorDetails">
                                <div class="BlogAuthor-Index--NameBioSocialContainer">

                                    <div class="BlogAuthor-Index--NameEntry">

                                        @Html.DisplayFor(modelItem => item.Name)
                                    </div>


                                </div>

                                <div class="BlogAuthor-Index--BioEntry">
                                    @Html.DisplayFor(modelItem => item.Bio)
                                </div>

                                <div class="BlogAuthor-Index--DateTimesContainer">
                                    <div class="BlogAuthor-Index--DateTime">
                                        <div class="BlogAuthor-Index--Heading">
                                            @Html.DisplayNameFor(model => model.Joined)
                                        </div>

                                        <div class="BlogAuthor-Index--JoinedDateEntry">
                                            @Html.DisplayFor(modelItem => item.Joined)
                                        </div>


                                    </div>

                                    <div class="BlogAuthor-Index--DateTime">
                                        <div class="BlogAuthor-Index--Heading">
                                            @Html.DisplayNameFor(model => model.Left)
                                        </div>

                                        <div class="BlogAuthor-Index--Entry">
                                            @Html.DisplayFor(modelItem => item.Left)
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- End of Author Details Content for Hide/Show-->

                    </div>
                    <!-- End of Content Container for Hide/Show -->
                    <!-- FontAwesome Icons -->
                    <div class="BlogAuthor-Index--ButtonsContainer">
                        <div class="BlogAuthor-Index--Socials">
                            <div class="BlogAuthor-Index--Facebook">
                                <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                            </div>

                            <div class="BlogAuthor-Index--Instagram">
                                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>

                        <div class="BlogAuthor-Index--Buttons">
                            <div class="BlogAuthor-Index--ListEditButtons">

                                <div class="BlogAuthor-Index--Edit">
                                    @Html.ActionLink("Edit", "Edit", new { id = item.BlogAuthorId })
                                </div>
                            </div>

                            <div class="BlogAuthor-Index--TrashButton" id="#BlogAuthorEntreeButton-@item.BlogAuthorId">
                                <!-- Button HTML (to Trigger Modal) -->
                                <a href="#BlogAuthor--AsyncDelete--Modal-@item.BlogAuthorId" class="fa fa-trash" data-toggle="modal"></a>
                            </div>




                        </div>
                    </div>
                    <!-- End of FontAwesome Icons -->

                </div>
            </div>
            <!-- End of Tab Container Wrapper-->

        </div>
        <!-- End of Blog Author Container-->
        <!-- Modal HTML -->

    </div>

    <div id="BlogAuthor--AsyncDelete--Modal-@item.BlogAuthorId" class="modal fade">
        <div class="BlogAuthor-AsyncDelete modal-dialog modal-confirm">
            <div class="BlogAuthor-AsyncDelete modal-content">
                <div class="modal-header flex-column">
                    <div class="BlogAuthor-AsyncDelete icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                    </div>
                    <h4 class="modal-title w-100">Are you sure you want to delete Blog Entree @item.BlogAuthorId?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete these records? This process cannot be undone.</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                    @using (Html.BeginForm())
                    {
                        <button type="button" onclick="fadeRemove(@item.BlogAuthorId)" class="btn btn-danger">

                            @Html.ActionLink("Delete", "Delete", new { id = item.BlogAuthorId })
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
}



