@model TheatreCMS3.Areas.Blog.Models.BlogAuthor

<link rel="stylesheet" type="text/css" href="/Content/Areas/Blog.css">

@{
  ViewBag.Title = "Create";
}

<h2 class="text-center">Create a Blog Author</h2>

@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()
  <div class="Author-Container">
    @*<h4>BlogAuthor</h4>
      <hr />*@
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @*<div class="form-group">*@
    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-label" })
    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "author-text" } })
    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    @*</div>*@

    @*<div class="form-group">*@
    @Html.LabelFor(model => model.Bio, htmlAttributes: new { @class = "form-label" })
    <textarea class="author-bio" id="Bio" type="text"></textarea>
    @*@Html.EditorFor(model => model.Bio, new { htmlAttributes = new { @class = "form-control" } })*@
    @Html.ValidationMessageFor(model => model.Bio, "", new { @class = "text-danger" })
    @*</div>*@

    @*<div class="form-group">*@
    <div class="date-section">
      <div class="date-field">
        @Html.LabelFor(model => model.Joined, htmlAttributes: new { @class = "form-label" })
        @Html.EditorFor(model => model.Joined, new { htmlAttributes = new { type = "datetime-local" } })
      </div>
        @Html.ValidationMessageFor(model => model.Joined, "", new { @class = "text-danger" })
      

    <div class="date-field">
      @Html.LabelFor(model => model.Left, htmlAttributes: new { @class = "form-label" })
      @Html.EditorFor(model => model.Left, new { htmlAttributes = new { type = "datetime-local" } })
    </div>
        @Html.ValidationMessageFor(model => model.Left, "", new { @class = "text-danger" })
        @*control-label col-md-2*@
    </div>

    <div class="buttons">
      <a href="/Blog/BlogAuthors" class="back-button">Back to List</a>
      @*@Html.ActionLink("Back to List", "Index", new { @class ="back-button" })*@
    </div>

    <div class="buttons">
      @*<div class="form-group">*@
      @*<div class="col-md-offset-2 col-md-10">*@
      <input type="submit" value="Create" class="create-button" />
      @*</div>*@
    </div>
  </div>
}

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
