@model TheatreCMS3.Areas.Blog.Models.BlogAuthor

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Blog Author</h4>
        @Html.ValidationSummary(true, "", new { @class = "cms-text-light" })

        <div class="form-group col-12">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-2" })
            <div>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "cms-text-light" })
            </div>
        </div>

        <div class="form-group col-12">
            @Html.LabelFor(model => model.Bio, htmlAttributes: new { @class = "control-label col-2" })
            <div>
                @Html.TextAreaFor(model => model.Bio, new { @class = "form-control", style = "height: 200px;" })
                @Html.ValidationMessageFor(model => model.Bio, "", new { @class = "cms-text-light" })
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="form-group col-4">
                @Html.LabelFor(model => model.Joined, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.TextBoxFor(model => model.Joined, "{0:yyyy-MM-ddTHH:mm}",
                        new { @type = "datetime-local", @class = "form-control", id = "JoinedPicker", required = "true" })
                    @Html.ValidationMessageFor(model => model.Joined, "", new { @class = "text-warning" })
                </div>
            </div>

            <div class="form-group col-4">
                @Html.LabelFor(model => model.Left, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.TextBoxFor(model => model.Left, "{0:yyyy-MM-ddTHH:mm}",
                        new { @type = "datetime-local", @class = "form-control", id = "LeftPicker" })
                    @Html.ValidationMessageFor(model => model.Left, "", new { @class = "text-warning" })
                </div>
            </div>
        </div>

        <div class="row justify-content-md-start ml-0">
            <div class="form-group col-2">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn bt-2 mt-2 btn-dark" })
            </div>
            <div class="form-group col-2">
                <input type="submit" value="Create" class="btn mb-2 mt-2 btn-light" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
} 