@model TheatreCMS3.Areas.Blog.Models.BlogAuthor

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="BlogAuthor-CreateEdit--title"> Create Blog Author</h1>
@using (Html.BeginForm()) 
 {
    @Html.AntiForgeryToken()
    
    <div class="BlogAuthor-CreateEdit--formContainer">
       <hr />
       @Html.ValidationSummary(true, "", new { @class = "text-danger" })

      <div class="BlogAuthor-CreateEdit--TextContainer">
        <div class="BlogAuthor-CreateEdit--Name">
          @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
          </div>
        </div>

        <div class="BlogAuthor-CreateEdit--Bio">
          @Html.LabelFor(model => model.Bio, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
            @Html.TextAreaFor(model => model.Bio, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Bio, "", new { @class = "text-danger" })
          </div>
        </div>
      </div>
      
      <div class="BlogAuthor--DateTimeContainer">
        <div class="BlogAuthor-CreateEdit--DateTime">
          @Html.LabelFor(model => model.Joined, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="BlogAuthor-CreateEdit--datefield">
            @Html.EditorFor(model => model.Joined, new { htmlAttributes = new { @type="date", @class = "BlogAuthor-CreateEdit--datetime", placeholder = "mm/dd/yyyy" } })
            @Html.ValidationMessageFor(model => model.Joined, "", new { @class = "text-danger" })
          </div>
        </div>

        <div class="BlogAuthor-CreateEdit--DateTime">
          @Html.LabelFor(model => model.Left, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="BlogAuthor-CreateEdit--datefield">
            @Html.EditorFor(model => model.Left, new { htmlAttributes = new { @type="date", @class = "BlogAuthor-CreateEdit--datetime", placeholder = "mm/dd/yyyy" } })
            @Html.ValidationMessageFor(model => model.Left, "", new { @class = "text-danger" })
          </div>
        </div>
      </div>
        
      <div class="BlogAuthor-CreateEdit--BtnContainer">

        <div class="BlogAuthor-CreateEdit--backBtn">
          @Html.ActionLink("Back to List", "Index", null, new { @class = " btn btn-dark" })
        </div>

        <div class="BlogAuthor-CreateEdit--createBtn">
          <input type= "submit" value= "Create"  class=" btn btn-success " />
        </div>

      </div>
    </div>
 }



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
