@model TheatreCMS3.Areas.Blog.Models.BlogAuthor

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="blog_author-create-edit--title">Create: BlogAuthor</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="blog_author-create-edit--formContainer">

        <div class="blog_author-create-edit--form">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <!--Name Text Field-->
            <div class="blog_author-create-edit--generalFieldContainer">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })

                <div class="blog_author-create-edit--textFieldContainer">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>

            </div>

            <!--Bio Text Field-->
            <div class="blog_author-create-edit--generalFieldContainer">
                @Html.LabelFor(model => model.Bio, htmlAttributes: new { @class = "control-label" })

                <div class="blog_author-create-edit--textFieldContainer">
                    @Html.EditorFor(model => model.Bio, new { htmlAttributes = new { @class = "form-control blog_author-create-edit--bioTextInputField" } })
                    @Html.ValidationMessageFor(model => model.Bio, "", new { @class = "text-danger" })
                </div>

            </div>

            <!--Date/Time Fields-->
            <div class="blog_author-create-edit--dateTimeFieldContainer">

                <div>
                    @Html.LabelFor(model => model.Joined, htmlAttributes: new { @class = "control-label" })

                    <div>
                        @Html.EditorFor(model => model.Joined, new { htmlAttributes = new { type = "datetime-local", @class = "blog_author-create-edit--dateTimeInputField " } })
                        @Html.ValidationMessageFor(model => model.Joined, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div>

                    @Html.LabelFor(model => model.Left, htmlAttributes: new { @class = "control-label" })

                    <div>
                        @Html.EditorFor(model => model.Left, new { htmlAttributes = new { type = "datetime-local", @class = "blog_author-create-edit--dateTimeInputField " } })
                        @Html.ValidationMessageFor(model => model.Left, "", new { @class = "text-danger" })
                    </div>

                </div>

            </div>

            <!--Back & Submit Buttons-->
            <div class="blog_author-create-edit--generalFieldContainer">

                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn bg-dark text-white" })

                <input type="submit" value="Create" class="btn bg-success text-white" />

            </div>

        </div>

    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
