@model TheatreCMS3.Areas.Blog.Models.BlogAuthor

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

    .blogauthors-detailsDelete--card-header {
        margin: auto;
        color: white;
        background-color: white;
        display: flex;
        justify-content: center;
        width: 500px;
        height: 40px;
    }
</style>
<div class="blogauthors-detailsDelete--card">

    <h3>Are you sure you want to delete this?</h3>

    <h4>Blog Author</h4>
    <hr />
    <div class="card mb-3" style="max-width: 1500px; height: 350px">
        <div class="blogauthors-detailsDelete--authorDetails">
            <div class="blogauthors-detailsDelete--img">
                <img src="~/Content/images/BlogPostDefault.jpg" alt="BlogPostDefault" style="width:100%; height: 102%">
            </div>
            <dl class="dl-horizontal blogauthors-detailsDelete--textFormat">


                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>



                <dd>
                    @Html.DisplayFor(model => model.Bio)
                </dd>
                <div class="row blogauthors-detailsDelete--dateInfo">
                    <div class="blogauthors-detailsDelete--column1">
                        <p>
                            @Html.DisplayNameFor(model => model.Joined) Date
                        </p>

                        <p>
                            @Html.DisplayFor(model => model.Joined)
                        </p>
                    </div>

                    <div class="blogauthors-detailsDelete--column2">
                        <p>
                            @Html.DisplayNameFor(model => model.Left) Date
                        </p>

                        <p>
                            @Html.DisplayFor(model => model.Left)
                        </p>
                    </div>
                </div>
            </dl>


        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <button type="submit" value="Delete" class="btn btn-danger"><i class="fa fa-trash"></i></button> |
    @Html.ActionLink("Back to List", "Index", "BlogAuthors", null, new { @class = "btn btn-dark  btn-def fa fa-arrow-circle-left" })
</div>
}