@model TheatreCMS3.Areas.Blog.Models.BlogAuthor

<link rel="stylesheet" type="text/css" href="~/Content/Areas/Blog.css">

@{
  ViewBag.Title = "Delete";
}

<h2 class="text-center">Delete Blog Author</h2>

<h3 class="delete-header">Are you sure you want to delete this?</h3>

<div class="tab-content">

  <div id="Details" class="tab-pane fade-in active">
    <div class="photo-container">
      <img src="https://via.placeholder.com/300">
    </div>
    <div class="details-header">
      @Html.DisplayFor(model => model.Name)
      <a href="https://instagram.com" class="fab fa-instagram"></a>
      <a href="https://facebook.com" class="fab fa-facebook-f"></a>
    </div>

    <textarea class="bio-details">
            @Html.DisplayFor(model => model.Bio)
      </textarea>

    <div class="date-section">
      <p class="form-label">Date Joined:</p>
      <div class="date-field">
        @Html.DisplayFor(model => model.Joined)
      </div>

      <p class="form-label">Date Left:</p>
      <div class="date-field">
        @Html.DisplayFor(model => model.Left)
      </div>
    </div>
  </div>
</div>

@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()

<div class="button-section">
  <div class="buttons">
    <a href="/Blog/BlogAuthors" class="fas fa-long-arrow-alt-left">Back to List</a>
  </div>
  <div class="buttons">
    <a href="/Blog/BlogAuthors/Edit/3" id="Edit-Button" class="fas fa-edit">Edit</a>
  </div>
    <input type="submit" value="Delete" id="Delete-Button" class="fa fa-trash"/>
</div>
}

    @*<hr />
      <dl class="dl-horizontal">
          <dt>
              @Html.DisplayNameFor(model => model.Name)
          </dt>

          <dd>
              @Html.DisplayFor(model => model.Name)
          </dd>

          <dt>
              @Html.DisplayNameFor(model => model.Bio)
          </dt>

          <dd>
              @Html.DisplayFor(model => model.Bio)
          </dd>

          <dt>
              @Html.DisplayNameFor(model => model.Joined)
          </dt>

          <dd>
              @Html.DisplayFor(model => model.Joined)
          </dd>

          <dt>
              @Html.DisplayNameFor(model => model.Left)
          </dt>

          <dd>
              @Html.DisplayFor(model => model.Left)
          </dd>

      </dl>
  @*<input type="submit" value="Delete" class="btn btn-default" /> |
      @Html.ActionLink("Back to List", "Index")
    </div>*@
