@model TheatreCMS3.Areas.Blog.Models.BlogAuthor

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="blogauthor-index_all-title">Delete Blog Author</h2>

<div class="blogauthor-details-container">
    <h3 class="blogauthor-delete-containertitle">Are you sure you want to delete this author?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal blogauthor-delete-container">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Bio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Bio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Joined)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Joined)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Left)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Left)
            </dd>

        </dl>

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default blogauthor-details-button" /> |
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default blogauthor-details-button" })
            </div>
        }
    </div>
</div>