@model TheatreCMS3.Areas.Blog.Models.BlogAuthor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="btnNav">
    <button type="button" class="btn btn-dark">@Html.ActionLink("Author Details", "Details", new { id = Model.BlogAuthorId })</button>
    <button type="button" class="btn btn-dark">Blog Post</button>
    <button type="button" class="btn btn-dark">Contact</button>
    <button type="button" class="btn btn-dark">Twitter</button>
</div>

<div class="detailsContainer">
    <div class="imageContainer">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Bill_Murray_by_David_Shankbone.jpg/463px-Bill_Murray_by_David_Shankbone.jpg" alt="Bill Murray" />
    </div>
    <dl class="dl-horizontal">
        <dd>

        </dd>
        <dd class="authorName pushRight">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dd class="pushRight">
            @Html.DisplayFor(model => model.Bio)
        </dd>

        <dt class="bold pushRight">
            @Html.DisplayNameFor(model => model.Joined)
        </dt>

        <dd class="pushRight">
            @Html.DisplayFor(model => model.Joined)
        </dd>

        <dt class="bold pushRight">
            @Html.DisplayNameFor(model => model.Left)
        </dt>

        <dd class="pushRight">
            @Html.DisplayFor(model => model.Left)
        </dd>

    </dl>
</div>
<button type="button" class="fa-solid fa-trash btn btn-danger"> @Html.ActionLink("Delete", "Delete", new { id = Model.BlogAuthorId }, new { @class = "deleteButton" })</button>
<button type="button" class="button fa-solid fa-circle-left btn btn-dark">  @Html.ActionLink("Back to List", "Index", new { @class = "button" })</button>
<button type="button" class="button fa-solid fa-pen-to-square btn btn-success">  @Html.ActionLink("Edit", "Edit", new { id = Model.BlogAuthorId }, new { @class = "button" })</button>
