@model TheatreCMS3.Areas.Blog.Models.BlogAuthor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
  
    .blogauthors-detailsDelete--card-header {
        margin: auto;
        color: white;
        background-color: white;
        display: flex;
        justify-content: center;
        width: 500px;
        height: 40px;   
    }
</style>


<div class="blogauthors-detailsDelete--card">
    <hr />
   
    <div class="blogauthors-detailsDelete--card">
        <div class="blogauthors-detailsDelete--card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="nav-link blogauthors-detailsDelete--navbtn" style="color: white; text-align: center" href="#">Author Details</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link blogauthors-detailsDelete--navbtn" style="color: white; text-align: center" href="#">Blog Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link blogauthors-detailsDelete--navbtn" style="color: white; text-align: center" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link blogauthors-detailsDelete--navbtn" style="color:white; text-align:center" href="#">Twitter</a>
                </li>
            </ul>
        </div>
        <div class="card mb-3" style="max-width: 1500px; height: 350px">
            <div class="blogauthors-detailsDelete--authorDetails">
                <div class="blogauthors-detailsDelete--img">
                    <img src="~/Content/images/BlogPostDefault.jpg" alt="BlogPostDefault" style="width:100%; height: 100%">
                </div>
                <div class="blogauthors-detailsDelete--authorDetails">
                    <dl class="dl-horizontal">
                        <dt>
                            <h2>
                                @Html.DisplayFor(model => model.Name)
                            </h2>
                        </dt>

                        <dd>
                            <p>Blog to be added later.</p>
                        </dd>
                        <div class="blogauthors-detailsDelete--dateInfo">
                        <dt>
                            <h6> @Html.DisplayNameFor(model => model.Joined) Date</h6>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Joined)
                        </dd>

                        <dt>
                            <h6> @Html.DisplayNameFor(model => model.Left) Date</h6>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Left)
                        </dd>
                </div>
            </div>
                </dl>
            </div>
            </div>
        </div>



       
        
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.BlogAuthorId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
