@model TheatreCMS3.Areas.Blog.Models.BlogAuthor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
  
    .blogauthors-detailsDelete--card-header {
        margin: auto;
        color: white;
        background-color: white;
        display: flex;
        justify-content: center;
        width: 500px;
        height: 40px;   
    }
    .blogauthors-detailsDelete--navbtn :hover {
        background-color: green;
        transition: 0.2s;
    }
</style>


<div class="blogauthors-detailsDelete--card">
    <hr />
   
    <div class="blogauthors-detailsDelete--card">
        <div class="blogauthors-detailsDelete--card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <button onlclick="authorDetails()" class="nav-link blogauthors-detailsDelete--navbtn" style="color: white; text-align: center" href="#">Author Details</button>
                    <script>
                        function showDetails(id) {
                            $("showDetails" + id).show();
                        }
                        function hideDetails(id) {
                            $("showDetails" + id).hide();
                        }
                    </script>
                </li>
                <li class="nav-item">
                    <button onclick="blogPosts" class="nav-link blogauthors-detailsDelete--navbtn" style="color: white; text-align: center" href="#">Blog Posts</button>

                    <script>
                        function showPosts(id) {
                            $("blogPosts" + id).show();
                        }
                        function hidePosts(id) {
                            $("blogPosts" + id).hide();
                        }
                    </script>
               
                </li>
                <li class="nav-item">
                    <button onclick="blogContact" class="nav-link blogauthors-detailsDelete--navbtn" style="color: white; text-align: center" href="#">Contact</button>
                </li>
                <li class="nav-item">
                    <button onclick="blogTwitter" class="nav-link blogauthors-detailsDelete--navbtn" style="color:white; text-align:center" href="#">Twitter</button>
                </li>
            </ul>
        </div>
        <div class="card mb-3" style="max-width: 1500px; height: 350px">
            <div class="blogauthors-detailsDelete--authorDetails">
                <div class="blogauthors-detailsDelete--img">
                    <img src="~/Content/images/BlogPostDefault.jpg" alt="BlogPostDefault" style="width:100%; height: 100%">
                </div>
                <div id="showDetails">
                    <dl class="dl-horizontal">
                        <dt>
                            <h2>
                                @Html.DisplayFor(model => model.Name)
                            </h2>
                        </dt>

                        <dd>
                            <p>Author Details to be added later.</p>
                        </dd>
                        <div class="row blogauthors-detailsDelete--dateInfo">
                          <div class="blogauthors-detailsDelete--column1">
                            <p> @Html.DisplayNameFor(model => model.Joined) Date</p>
                            <p>@Html.DisplayFor(model => model.Joined)</p>
                          </div>

                          <div class="blogauthors-detailsDelete--column2">
                            <p> @Html.DisplayNameFor(model => model.Left) Date</p>  
                            <p>@Html.DisplayFor(model => model.Left)</p>
                          </div>


                        </div>
                            
                        

                            
                        
                        
                            
                        
                </div>
            </div>
                </dl>
            </div>
            </div>
        </div>



       
        
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.BlogAuthorId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
