@model TheatreCMS3.Areas.Blog.Models.BlogAuthor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<h4>Blog Author</h4>
<hr />
<div>
    <input type="button" value="Author Details" class="BlogAuthors-Details--ellie-button btn btn-dark" id="show" />
    <input type="button" value="Blog Posts" class="BlogAuthors-Details--ellie-button btn btn-dark" id="hide" />
    <input type="button" value="Contact" class="BlogAuthors-Details--ellie-button btn btn-dark" id="hide" />
    <input type="button" value="Twitter" class="BlogAuthors-Details--ellie-button btn btn-dark" id="hide" />
</div>

<div class="BlogAuthors-Details--ellie-container" id="BlogAuthors-Details--ellie-card">

 
    <a href="https://www.facebook.com" class="fa-brands fa-facebook fa-2xl" id="BlogAuthors-Details--social-links"></a>
    <a href="https://www.instagram.com" class="fa-brands fa-instagram fa-2xl" id="BlogAuthors-Details--social-links"></a>
 

    <p>
        <img src="https://picsum.photos/640/360" width="300" height="300">
    </p>

    <dl>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Joined)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Joined)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Left)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Left)
        </dd>

    </dl>   
</div>



<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn fa-solid fa-arrow-rotate-left" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.BlogAuthorId }, new { @class = "btn btn-success fa fa-address-book-o" })
    @Html.ActionLink("Delete", "Delete", new { id = Model.BlogAuthorId }, new { @class = "btn btn-danger fa fa-trash-o" })
</p>


<script>
    $(document).ready(function () {
        $("#hide").click(function () {
            $("dl").hide();
        });
        $("#show").click(function () {
            $("dl").show();
        });
    });
</script>
