@model TheatreCMS3.Areas.Blog.Models.BlogAuthor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BlogAuthor</h4>
    <hr />
    <div class="form-group centered BlogAuthor-Details--container">
        <input type="button" class="btn-outline BlogAuthor-Details--btn" value="Author Details" />
        <input type="button" class="btn-outline BlogAuthor-Details--btn" value="Blog Posts" />
        <div class="form-group centered BlogAuthor-Details--innercontainer">
            
            <div class="BlogAuthor-Details-row">
                <div class="BlogAuthor-Details--column">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.AuthorPhoto)
                        </dt>
                    </dl>
                    @{
                        var base64 = Convert.ToBase64String(Model.AuthorPhoto);
                        var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                    }
                    <img src="@imgsrc" class="BlogAuthor-Details--photo" />
                </div>
                <div class="BlogAuthor-Details--column">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Bio)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Bio)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Joined)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Joined)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Left)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Left)
                        </dd>
                    </dl>
                        <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-address-book BlogAuthor-Details--address" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="centered">
            @Html.ActionLink("Back to List", "Index", routeValues: null, htmlAttributes: new { @class = "btn-outline BlogAuthor-Details--btn" })
            @Html.ActionLink("Edit", "Edit", new { id = Model.BlogAuthorId }, new { @class = "btn-outline BlogAuthor-Details--btn" })
        </div>
    </div>
</div>

