@model TheatreCMS3.Areas.Blog.Models.BlogAuthor

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2>Edit</h2>
    <h4>BlogAuthor</h4>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div id="crud-blogauthor-form" class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-warning" })
    @Html.HiddenFor(model => model.BlogAuthorId)

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label custom-label" })
        <div class="col-md">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-warning" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Bio, htmlAttributes: new { @class = "control-label custom-label" })
        <div class="col-md">
            @Html.TextAreaFor(model => model.Bio, new { @class = "form-control bio-textarea" })
            @Html.ValidationMessageFor(model => model.Bio, "", new { @class = "text-warning" })
        </div>
    </div>


    <div class="row justify-content-md-center">
        <div class="form-group col-4">
            @Html.LabelFor(model => model.Joined, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.TextBoxFor(model => model.Joined, "{0:yyyy-MM-ddTHH:mm}", new { @type = "datetime-local", @class = "form-control", id = "JoinedPicker" })
                @Html.ValidationMessageFor(model => model.Joined, "", new { @class = "text-warning" })
            </div>
        </div>


        <div class="form-group col-4">
            @Html.LabelFor(model => model.Left, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.TextBoxFor(model => model.Left, "{0:yyyy-MM-ddTHH:mm}", new { @type = "datetime-local", @class = "form-control", id = "LeftPicker" })
                @Html.ValidationMessageFor(model => model.Left, "", new { @class = "text-warning" })
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row justify-content-start no-gutters">
            <div class="col-2">
                <a href="@Url.Action("Index")" class="btn btn-dark">Back to List</a>
            </div>
            <div class="col-2">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
</div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
