@model TheatreCMS3.Areas.Blog.Models.BlogAuthor

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "cms-text-light" })
        @Html.HiddenFor(model => model.BlogAuthorId)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "cms-text-light" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bio, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-12">
                @Html.TextAreaFor(model => model.Bio, new { @class = "form-control", style = "height: 300px;" })
                @Html.ValidationMessageFor(model => model.Bio, "", new { @class = "cms-text-light" })
            </div>
        </div>

        <div class="form-group1">
            <div class="col-md-5">
                @Html.LabelFor(model => model.Joined, "Joined", htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-5">
                @Html.LabelFor(model => model.Left, "Left", htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="form-group1">
            <div class="col-md-5">
                @Html.EditorFor(model => model.Joined, new
           {
               htmlAttributes = new
               {
                   @class = "form-control",
                   required = true
               }
           })
                @Html.ValidationMessageFor(model => model.Joined, "", new { @class = "cms-text-light" })
            </div>
            <div class="col-md-5">
                @Html.EditorFor(model => model.Left, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control"
                    }
                })
                @Html.ValidationMessageFor(model => model.Left, "", new { @class = "cms-text-light" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5 col-md-12">
                <a href="@Url.Action("Index")" class="btn mb-2 mt-4 btn-dark">Back to List</a>
                <input type="submit" value="Save" class="btn mb-2 mt-4 btn-light" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
