@model TheatreCMS3.Areas.Rent.Models.RentalSurveys

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-center" id="survey-header">Delete Rental Survey?</h2>
<div>
    <hr />
    <div class="survey-container" id="delete-container">
        
            <dt class="delete-form-name">
                @Html.DisplayNameFor(model => model.RecommendRentalRating)
            </dt>

            <dd class="delete-display">
                @Html.DisplayFor(model => model.RecommendRentalRating)
            </dd>

            <dt class="delete-form-name">
                @Html.DisplayNameFor(model => model.RentalCost)
            </dt>

            <dd class="delete-display">
                @Html.DisplayFor(model => model.RentalCost)
            </dd>

            <dt class="delete-form-name">
                @Html.DisplayNameFor(model => model.ExperienceRating)
            </dt>

            <dd class="delete-display">
                @Html.DisplayFor(model => model.ExperienceRating)
            </dd>

            <dt class="delete-form-name">
                @Html.DisplayNameFor(model => model.Feedback)
            </dt>

            <dd class="delete-display">
                @Html.DisplayFor(model => model.Feedback)
            </dd>

    

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col text-center">
            <input type="submit" value="Delete" id="delete-survey-btn" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "delete-survey-back-btn " })
        </div>
    }
</div>
 </div>
 

