@model TheatreCMS3.Areas.Rent.Models.RentalSurveys

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center" id="survey-header">Details for Rental Survey</h2>

<div class="survey-container" id="delete-container">

    <hr />
    
        <dt class="delete-form-name">
            @Html.DisplayNameFor(model => model.RecommendRentalRating)
        </dt>

        <dd class="delete-display">
            @Html.DisplayFor(model => model.RecommendRentalRating)
        </dd>

        <dt class="delete-form-name">
            @Html.DisplayNameFor(model => model.RentalCost)
        </dt>

        <dd class="delete-display">
            @Html.DisplayFor(model => model.RentalCost)
        </dd>

        <dt class="delete-form-name">
            @Html.DisplayNameFor(model => model.ExperienceRating)
        </dt>

        <dd class="delete-display">
            @Html.DisplayFor(model => model.ExperienceRating)
        </dd>

        <dt class="delete-form-name">
            @Html.DisplayNameFor(model => model.Feedback)
        </dt>

        <dd class="delete-display">
            @Html.DisplayFor(model => model.Feedback)
        </dd>

    </dl>

    <p>
       
        @Html.ActionLink("Edit", "Edit", new { id = Model.SurveyID }, new { @class = "details-survey-btn"})
@Html.ActionLink("Back to List", "Index", null, new { @class = "delete-survey-back-btn " })
</p>
</div>