@model TheatreCMS3.Areas.Prod.Models.TheatreMember

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TheatreMember</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearJoined)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearJoined)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainRole)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentMember)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentMember)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Production)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Production)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Character)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CastYearLeft)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CastYearLeft)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DebutYearLeft)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DebutYearLeft)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)

        </dt>
        <dd>
            @{
                if (Model.Photo == null)
                {
                    <p>No Photo</p>
                }
                else
                {
                    <img style="width: 300px; height: 350px;" src="@Url.Action("DisplayImage", "TheatreMembers", new { Model.TheatreMemberId })" />

                }
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TheatreMemberId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
