@model IEnumerable<TheatreCMS3.Areas.Prod.Models.CalenderEventModels>

@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header><h2>Event Calender</h2></header>

@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <p>
                <a href="@Url.Action("Create")" class="btn btn-create">Create New</a>
            </p>
        </div>
    </div>
}
<hr />

<div class="container">
    @foreach (var item in Model)
    {
        @* Calculate event duration *@
        var duration = (item.EndDate - item.StartDate).TotalDays;

        <div class="row row-striped">
            <div class="col-2 text-left">
                <h1 class="display-4"><span class="badge badge-secondary">@item.StartDate.Day</span></h1>
                <h3>@item.StartDate.ToString("MMM")</h3>
                
            <button type="button" class="btn btn-secondary" data-toggle="popover" title="Event Duration" data-content="This is a @(duration) day event">
                @if (item.AllDay)
                {
                    <text>All Day</text>
                }
                else if (duration >= 1)
                {
                    @($"{duration} days")
                }
                else
                {
                    @($"{(item.EndTime - item.StartTime).TotalHours} hours")
                }
                <i class="fa fa-clock-o"></i>
            </button>
            </div>
            <div class="col-10">
                <h3 class="text-uppercase"><strong>@item.Title</strong></h3>
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> @item.StartDate.ToString("dddd")</li>
                    <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> @item.StartTime.ToString("h:mm tt") - @item.EndTime.ToString("h:mm tt")</li>
                    <li class="list-inline-item"><i class="fa fa-ticket" aria-hidden="true"></i> Tickets Available: @item.TicketsAvailable</li>
                </ul>
                <p>Is this a production? @(item.IsProduction ? "Yes" : "No")</p>
            </div>
        </div>
    }
</div>
