@model TheatreCMS3.Areas.Blog.Models.BlogPost

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Center the content on the page (Title, Photo, and buttons). -->
<div class="BlogPost-DelDet--AlignCenter">

  <!-- Change the heading of the page to "Delete this Blog Post?" -->
  <div class="BlogPost-DelDet--HeaderAlignCenter">
    <h2>Delete this BlogPost?</h2>

    <hr />



    <!-- bootstrap Grid system -->
    <div class="container">
      <div class="row">

        <div class="BlogPost-DelDet--Col">
          <div class="BlogPost-DelDet--Middle">
            <!-- Change the heading of the page to "Delete this Blog Post?" -->
            <div class="BlogPost-DelDet--HeaderAlignCenter">
              <h2><b>@Html.DisplayFor(model => model.Title)</b></h2>



              <!-- Make the Image larger than it is on the Index page. -->
              <a class="BlogPost-DelDet--ImgCenter" href="https://placeholder.com"><img src="https://via.placeholder.com/720x400.jpg?text=720x400" /></a>
              <!-- Set width & height + text over the placeholder image. More info: https://placeholder.com/#How_To_Set_Image_Size -->
            </div>



            <div class="BlogPost-DelDet--BodyAlignLeft">
              <p><b>Author: </b>@Model.Author</p>
              <p><b>Posted Date: </b>@Model.DateTime.ToString("MMM dd yyyy")</p>
              <h6 class="BlogPost-Index--Contents">@Model.Contents</h6>

              <div>

                <!-- The buttons should be centered on the page but the delete button should be right-aligned with respect to the central container -->

                <div class="BlogPost-DelDet--BtnBar">
                  <div class="row">
                    <div class="BlogPost-DelDet--BtnGroup1">
                      @Html.ActionLink(" Back to List", "Index", "BlogPost", new { @class = "btn BlogPost-DelDet--btn BlogPost-DelDet--btnSecondary fas fa-edit" })
                    </div>
                    <div class="BlogPost-DelDet--BtnGroup1">
                      @Html.ActionLink(" Edit", "Edit", "BlogPost", new { id = Model.BlogPostId }, new { @class = "btn BlogPost-DelDet--btn BlogPost-DelDet--btnSecondary fas fa-info-circle" })
                    </div>

                  </div>
                </div>

                <!-- at using is the form, BeginForm for submit type -->
                <!-- 1. Method 2. controller 3.arguments(using the method) 4.http method type 5.html attributes -->
                @using (Html.BeginForm("Delete", "BlogPost", new { id = Model.BlogPostId }, FormMethod.Post, new { @id = "delete", @class = "BlogPost-DelDet--BtnGroup2" }))
                {
                  @Html.AntiForgeryToken()
                  <!-- must use Button class for font-awesome instead of input -->
              <button type="submit" class="btn BlogPost-DelDet--btn BlogPost-DelDet--btnDanger fas fa-trash-alt"> Delete</button>
                }
                <!-- antiforgerytoken for validateantiforgerytoken on controller -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
