@model TheatreCMS3.Areas.Blog.Models.BlogPost

@{
  ViewBag.Title = "Delete";
}
<h2 class="text-center mt-2 txtclr2">Delete This BlogPost?</h2>
<p class="error">@ViewBag.ErrorMessage</p>
<div class="fluid-container txtclr2">
  <div class="row justify-content-center text-center mt-2 txtclr2">
    <div class="col-6">
      @Html.DisplayFor(model => model.Title)
    </div>
  </div>
  <div class="row justify-content-center mt-2">
    <div class="col-8">
      <img class="img-fluid" src="~/Content/images/BlogPostRobot.jpg" alt="Placeholder Image" />
    </div>
  </div>
  <div class="row justify-content-center mt-2">
    <div class="col-8">
      @Html.DisplayFor(model => model.Author)
    </div>
  </div>
  <div class="row justify-content-center mt-2">
    <div class="col-8">
      @Html.DisplayFor(model => model.Posted)
    </div>
  </div>
  <div class="row justify-content-center mt-2">
    <div class="col-8">
      @Html.DisplayFor(model => model.Content)
    </div>
  </div>
  <div class="row justify-content-center mt-2">
    <div class="col-8">
      @Html.ActionLink("Back to List", "Index", null, new { @class = "btn blogpost-btnclr1 fa fa-arrow-left " })
      @Html.ActionLink("Edit", "Edit", new { id = Model.BlogPostId }, new { @class = "btn blogpost-btnclr1 fa fa-edit" })
      <div class="float-right">
        @using (Html.BeginForm("Delete", "BlogPost", FormMethod.Post, new { style = "display: inline-block ;" }))
        {
          @Html.AntiForgeryToken()
        <div class="form-actions">
          <button type="submit" class="btn blogpost-btnclr3 fa fa-trash">Delete
          </button>
        </div>
        }
      </div>
    </div>
  </div>
</div>