@model IEnumerable<TheatreCMS3.Areas.Blog.Models.Comment>


@foreach (var item in Model)
{
  <div class="card cms-text-dark">
    <div class="card-body">
      <h5 class="card-title">@Html.DisplayFor(modelItem => item.Author)</h5>
      <h6 class="card-subtitle mb-2 text-muted">@item.TimeSince()</h6>
      <p class="card-text">@Html.DisplayFor(modelItem => item.Message)</p>

      <button class="btn" id="likeBtn"onclick="addLike()">
        <i class="fas fa-thumbs-up fa-mdb"></i>
      </button>
      <label id="likes">@Html.DisplayFor(modelItem => item.Likes) </label>

      <Button class="btn" id="dislikeBtn">
        <i class="fas fa-thumbs-down fa-mdb"></i>
      </Button>
      <label id="dislikes">@Html.DisplayFor(modelItem => item.Dislikes) </label>

      <button class="btn">
        <i class="fas fa-reply"></i>
        Reply
      </button>

      @Html.ActionLink(" ", "Delete", new {id = item.CommentId }, new { @class = "btn fas fa-trash fa-mdb float-right cms-text-main" })
   

    </div>
  </div>
}











