@model IEnumerable<TheatreCMS3.Areas.Blog.Models.Comment>

@foreach (var comment in Model)
{
    <div class="Comment-partialComments--Container">
        <div class="Comment-partialComments--Header">
            <p>@comment.Author<p>
            <p>@comment.TimeSinceCreation()</p>
        </div>
        <div class="Comment-partialComments--Body">
            <p>@comment.Message</p>
        </div>
        <div class="Comment-partialComments--Buttons">
            <button type="button" class="btn btn-danger" onclick="likeComment('@comment.CommentId')">
                <span class="fa fa-thumbs-up"></span> <span id="likes-@comment.CommentId">@comment.Likes</span>
            </button>
            <button type="button" class="btn btn-danger" onclick="dislikeComment('@comment.CommentId')">
                <span class="fa fa-thumbs-down"></span> <span id="dislikes-@comment.CommentId">@comment.Dislikes</span>
            </button>
            <button type="button" class="btn btn-danger">
                <i class="fa fa-reply"></i>
            </button>
            <button type="button" class="btn btn-danger">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </div>
}