@model IEnumerable<TheatreCMS3.Areas.Blog.Models.Comment>

<script src="https://kit.fontawesome.com/c3af1be62f.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<link href="~/Content/Areas/Blog.css" rel="stylesheet" />
<div class="blog-comments--delete_success">The comment was deleted successfully <i class="fa-solid fa-check"></i></div>
<div class="blog-comments--delete_confirm_page">
  <div class="blog-comments--delete_confirm_container">
    <div class="blog-comments--delete_confirm_button_container">
      <button class="blog-comments--cancel_button" onclick="hideConfirmation()">Cancel</button>
      <button class="blog-comments--delete_button" onclick="hideMyComment()">Delete</button>
    </div>
  </div>
</div>
<h2 class="blog-comments--h2">Comments</h2>
<p>
  @Html.ActionLink("Add Comment", "Create")
</p>

@foreach (var item in Model)
{
  <div class="blog-comments--comment @item.CommentId">
    <div class="blog-comments--name_date">
      <span class="blog-comments--name">@Html.DisplayFor(modelItem => item.Author)</span>
      <span class="blog-comments--date">@Html.Action("TimeSinceComment", new { date = item.CommentDate })</span>
    </div>
    <div class="blog-comments--message">
      @Html.DisplayFor(modelItem => item.Message)
    </div>
    <div class="blog-comments--icons">
      <a onclick="addLike(@item.CommentId)"><span class="blog-comments--icon blog-comments--likes"><i class="fa-solid fa-thumbs-up fa-xs"></i></span></a>
      <span class="blog-comments--like_count @item.CommentId">@Html.DisplayFor(modelItem => item.Likes)</span>
      <a onclick="addDislike(@item.CommentId)"><span class="blog-comments--icon blog-comments--dislikes"><i class="fa-solid fa-thumbs-down fa-xs"></i></span></a>
      <span class="blog-comments--dislike_count @item.CommentId">@Html.DisplayFor(modelItem => item.Dislikes)</span>
      <span class="blog-comments--icon blog-comments--reply">REPLY</span>
      <a onclick="deleteCommentConfirmation(@item.CommentId)"><span class="blog-comments--icon blog-comments--delete"><i class="fa-solid fa-trash fa-xs"></i></span></a>
</div>
  </div>
}


