@model IEnumerable<TheatreCMS3.Areas.Blog.Models.Comment>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <div class="blog-comment-container" id="comment-container">
        @* Author pfp and name *@
        <div class="row">
            <div class="blog-comment-header col">
                <div class="blog-comment-pfp">
                    <i class="fa fa-user-circle-o fa-2x"></i>
                    @Html.DisplayFor(modelItem => item.Author)Unimplemented Author
                </div>
            </div>
            <div class="blog-comment-time-elapsed col">
                @* If else statements disclude time increments if they are *@
                @* equal to zero and adjusts string if time increment equals one *@
                Posted
                @if ((DateTime.Now - item.CommentDate).Days == 1)
                {
                    @((DateTime.Now-item.CommentDate).Days.ToString() + " Day ")
                }
                else if ((DateTime.Now - item.CommentDate).Days != 0)
                {
                    @((DateTime.Now-item.CommentDate).Days.ToString() + " Days ")
                }

                @if ((DateTime.Now - item.CommentDate).Hours == 1)
                {
                    @((DateTime.Now-item.CommentDate).Hours.ToString() + " Hour ")
                }
                else if ((DateTime.Now - item.CommentDate).Hours != 0)
                {
                    @((DateTime.Now - item.CommentDate).Hours.ToString() + " Hours ")
                }

                @if ((DateTime.Now - item.CommentDate).Minutes == 1)
                {
                    @((DateTime.Now-item.CommentDate).Minutes.ToString() + " Minute ")
                }
                else if ((DateTime.Now - item.CommentDate).Minutes != 0)
                {
                    @((DateTime.Now - item.CommentDate).Minutes.ToString() + " Minutes ")
                }

                @((DateTime.Now - item.CommentDate).Seconds.ToString() + " Seconds Ago")
            </div>
        </div>

        @* Comment body *@
        <div class="blog-comment-body mt-2 mb-2">
            @Html.DisplayFor(modelItem => item.Message)
        </div>

        @* Comment footer *@
        <div class="blog-comment-footer row">
            <div class="col text-left">
                <button>Reply</button>
                <i class="fa fa-trash"></i>
            </div>
            <div class="col text-right">
                <span id="Likes-@item.CommentId">@(item.Likes)</span>
                <i class="fa fa-thumbs-up" id="btnLike-@item.CommentId" onclick="Like(@item.CommentId)"></i>
                <span id="Dislikes-@item.CommentId">@item.Dislikes</span>
                <i class="fa fa-thumbs-down" id="btnDislike-@item.CommentId" onclick="Dislike(@item.CommentId)"></i>
                (@(item.LikeRatio())% User Approval)
            </div>
        </div>
    </div>
}
<script src="~/Scripts/Areas/Blog.js" type="text/javascript"></script>

