@model IEnumerable<TheatreCMS3.Areas.Blog.Models.Comment>
@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://kit.fontawesome.com/c3af1be62f.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<link href="~/Content/Areas/Blog.css" rel="stylesheet" />
<h2>Comments</h2>
<button onclick="myTest()"></button>
<p>
  @Html.ActionLink("Add Comment", "Create")
</p>

@foreach (var item in Model)
{
  <div class="blog-comments--comment">
    <div class="blog-comments--name_date">
      <span class="blog-comments--name">@Html.DisplayFor(modelItem => item.Author)</span>
      <span class="blog-comments--date">@Html.Action("TimeSinceComment", new { date = item.CommentDate })</span>
    </div>
    <div class="blog-comments--message">
      @Html.DisplayFor(modelItem => item.Message)
    </div>
    <div class="blog-comments--icons">
      <button onclick="addLike(@item.CommentId)"><span class="blog-comments--icon blog-comments--likes"><i class="fa-solid fa-thumbs-up fa-xs"></i></span></button>

      <span class="blog-comments--like_count" @item.CommentId>@Html.DisplayFor(modelItem => item.Likes)</span>
      <span class="blog-comments--icon blog-comments--dislikes"><i class="fa-solid fa-thumbs-down fa-xs"></i></span>
      <span class="blog-comments--dislike_count">88</span>
      <span class="blog-comments--icon blog-comments--reply">REPLY</span>
      <span class="blog-comments--icon blog-comments--delete"><i class="fa-solid fa-trash fa-xs"></i></span>
    </div>
  </div>
}


