@model IEnumerable<TheatreCMS3.Areas.Blog.Models.Comment>

@{ 
    ViewBag.Title = "_Comments";
}


<div>
    @foreach (var item in Model)
    {
    <div class="card comment-index--container">
        <div class="card-body">
            <h5 class="card-text">@Html.DisplayFor(modelItem => item.Author)</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.CommentDate)</h6>
            <h4 class="card-title">@Html.DisplayFor(modelItem => item.Message)</h4>

            <div class="comment-index--buttons">
                <button type="submit" class="btn btn-primary btn-sm" id="like" onclick="Likes(@item.CommentId)">Likes @Html.DisplayFor(modelItem => item.Likes)</button>
                <button type="submit" class="btn btn-primary btn-sm" id="dislike" onclick="Dislikes(@item.CommentId)">Dislikes @Html.DisplayFor(modelItem => item.Dislikes)</button>
                <button type="submit" class="btn btn-primary btn-sm">Reply</button>
                @Html.ActionLink("Delete", "Delete", new { id = item.CommentId }, new { @class = "btn btn-primary btn-sm comment-index-btn" })
            </div>
            
            <div class="progress comment-index-progress-bar">
                <div class="progress-bar bg-success" role="progressbar" style="width:@Math.Round(item.LikeRatio(), 2)%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">@Math.Round(item.LikeRatio(), 2)% Likes</div>
            </div>                                           

            <div>@Html.ActionLink("Edit", "Edit", new { id = item.CommentId }) </div>
            <div>@Html.ActionLink("Details", "Details", new { id = item.CommentId })  </div>

        </div>
    </div>
    }
</div>


@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Likes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dislikes)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dislikes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CommentId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CommentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CommentId })
            </td>
        </tr>
    }

</table>*@
