@model IEnumerable<TheatreCMS3.Areas.Blog.Models.Comment>

@{ 
    ViewBag.Title = "Comments";
}
<style>
    .table {
        color: white;
    }
</style>





<div class="comment-container">
    @foreach (var item in Model)
    {
    <div class="comment">

        <div class="comment-time" style="background-color: var(--main-color--light);">
            <span>@item.CommentDate</span>

        </div>
        <div class="comment-text" style="background-color: var(--main-color--light);">
            <p>@item.Message</p>
        </div>
        <div class="comment-author">
            <span>@item.Author</span>
        </div>
        <div class="comment-actions">
            <button class="like-button">
                <i class="fa fa-thumbs-up"></i>
                <span>@item.Likes</span>
            </button>
            <button class="dislike-button">
                <i class="fa fa-thumbs-down"></i>
                <span>@item.Dislikes</span>
            </button>
            <br><button class="reply-button">
                <i class="fa fa-reply"></i>
                <span>Reply</span>
            </button>
            <button class="delete-button">
                <i class="fa fa-trash"></i>
            </button>
        </div><br>
    </div>
    }


