@model IEnumerable<TheatreCMS3.Areas.Blog.Models.Comment>
@Html.Hidden("OnLikeClick", Url.Action("OnLikeClick", "Comments"))
@Html.Hidden("OnDislikeClick", Url.Action("OnDislikeClick", "Comments"))

<p>
  @Html.ActionLink("Create New", "Create")
  
</p>


@foreach (var item in Model.OrderByDescending(i => i.CommentDate))
{
  // makes unique ids for like and display element for each comment for reference in javascript
  string likesId = item.CommentId + "likes";
  string dislikesId = item.CommentId + "dislikes";
  string progressBarId = item.CommentId + "bar";
  string ratioId = item.CommentId + "ratio";
  double dislikeRatio = 100 - item.LikeRatio();
  string likeRatioPercent = item.LikeRatio() + "%";
  @Html.Hidden("CommentDelete", Url.Action("Delete", "Comments", item.CommentId))

  //Comment Container
  <div class="container-fluid col-xs-12 p-2 cms-bg-main-light border border-dark">

    @*top row display user name, comment messsage.*@
    <div class="row ">
      <a class="col-2" href="">@Html.DisplayFor(modelItem => item.Author.UserName)</a>
      <p class="col-9 border border-light cms-text-dark">@Html.DisplayFor(modelItem => item.Message)</p>
      <button type="button" class="fa fa-trash col-1 p-1 cms-text-dark btn delete-comment" data-id="@item.CommentId" data-controller="Comment" data-action="delete" data-body-message="Are you sure you want to delete this comment?">
        
      </button>
    </div>

    @*Second row display*@
    <div class="row d-flex align-items-center">
      <p class="col-2">@item.TimeSincePost()</p>

      @*Like button/ Likes*@
      <input type="button" onclick="addLike(@item.CommentId)" class="col-lg-1 col-2 btn btn-outline-light cms-bg-main" value="Like">
      <p id="@likesId" class="col">@Html.DisplayFor(modelItem => item.Likes)</p>

      @*Dislike button/ Dislikes*@
      <input type="button" onclick="addDislike(@item.CommentId)" class="col-lg-1 col-2 btn btn-outline-light cms-bg-main" value="Dislike">
      <p id="@dislikesId" class="col">@Html.DisplayFor(modelItem => item.Dislikes)</p>

      @*Reply Button*@
      <button class="btn btn-outline-light cms-bg-main">Reply</button>
      <div class="col"></div>
    </div>

    @*Third row Display*@
    <div class="mt-2 row d-flex align-items-center">
      @*Empty div for spacing*@
      <div class="col-2"></div>

      @*Like/Dislike Ratio Bar*@
      <div class="blog-comments-pbcontainer col w-100 cms-bg-dark">
        <div class="blog-comments-progressbar progress bg-danger">
          <div id="@progressBarId" class="progress-bar bg-success" role="progressbar" aria-valuenow="@item.LikeRatio()" aria-valuemin="0" aria-valuemax="100" style="width: @item.LikeRatio()%; "></div>
        </div>
      </div>

      @*Like/Dislike percentages*@
      <p id="@ratioId" class="col p-0 m-0 cms-bg-dark">@item.LikeRatio()% Likes | @dislikeRatio% Dislikes</p>
      @*Empty div for spacing*@
      <div class="col"></div>

    </div>
  </div>
}
