@model IEnumerable<TheatreCMS3.Areas.Blog.Models.Comment>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.7.0/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/Site.css">

<div class="comments-section">
    <h3>Comments</h3>
    <hr />

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @foreach (var item in Model)
                {
                    <div class="comment-item">
                        <img src="https://i.imgur.com/yTFUilP.jpg" alt="User Avatar" class="user-avatar rounded-circle">
                        <div class="comment-content">
                            <h5 class="mt-0">@item.Author</h5>
                            <span class="text-muted">@item.CommentDate.ToString("MMM dd, yyyy")</span>
                            <p>@Html.DisplayFor(modelItem => item.Message)</p>
                            <div class="comment-actions">
                                <button class="btn btn-link"><i class="fa-regular fa-thumbs-up" style="color: #f04d44;"></i> <span class="like-count">@item.Likes</span></button>
                                <button class="btn btn-link"><i class="fa-regular fa-thumbs-down" style="color: #bd1a11;"></i> <span class="dislike-count">@item.Dislikes</span></button>
                                <button class="btn btn-link"><i class="fa-solid fa-reply"></i> Reply</button>
                                @if (User.IsInRole("Admin"))
                                {
                                    @Html.ActionLink("Details", "Details", new { id = item.CommentId }, new { @class = "btn btn-link" })
                                    @Html.ActionLink("Edit", "Edit", new { id = item.CommentId }, new { @class = "btn btn-link" })
                                    <button class="btn btn-link"><i class="fas fa-trash-alt trash-icon"></i></button>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <a href="@Url.Action("Create")" class="btn" style="background-color: #d6972a; color: black; font-weight: bold;">Create New Comment</a>
</div>
