@model IEnumerable<TheatreCMS3.Areas.Blog.Models.Comment>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Likes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dislikes)
        </th>
        <th></th>
    </tr>*@

@foreach (var item in Model)
{
    <div class="col-lg-12 p-2 cms-bg-main-light border border-dark">
      <div class="row ">
        <a class="col-2" href="">@Html.DisplayFor(modelItem => item.Author)</a>
        <p class="col-9 border border-light">@Html.DisplayFor(modelItem => item.Message)</p>
        <div class="col-1">
          <i class="fa fa-trash"></i>
        </div>
      </div>
        <div class="row">
          <p class="col-2">@item.TimeSincePost()</p>

          <button class="btn btn-outline-light">Like</button>
          <p class="col-1">@Html.DisplayFor(modelItem => item.Likes)</p>
          <button class="btn btn-outline-light">Dislike</button>
          <p class="col-1">@Html.DisplayFor(modelItem => item.Dislikes)</p>
          <button class="btn btn-outline-light">Reply</button>


          @*<button class="fa fa-trash col-md-2 col-sm-2">Trash</button>*@

        </div>
    </div>
    @*<tr>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Likes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dislikes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CommentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CommentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CommentId })
        </td>
    </tr>*@
}

@*</table>*@
