@model IEnumerable<TheatreCMS3.Areas.Blog.Models.Comment>


@foreach (var item in Model)
{
  <div class="card comment-card" style="width: 40vw;">
    <div class="card-body">
      <h5 class="card-title">@Html.DisplayFor(modelItem => item.Author)</h5>
      <h6 class="card-subtitle mb-2 text-muted">@item.TimeSince()</h6>
      <p class="card-text">@Html.DisplayFor(modelItem => item.Message)</p>
      <button class="btn">
        <i class="fas fa-thumbs-up fa-mdb"></i>
      </button>
      <label>@Html.DisplayFor(modelItem => item.Likes) </label>
      <button class="btn">
        <i class="fas fa-thumbs-down fa-mdb"></i>
      </button>
      <label>@Html.DisplayFor(modelItem => item.Dislikes) </label>
      <button class="btn">
        <i class="fas fa-reply"></i>
        Reply
      </button>
      <button class="btn float-right trash">
        <i class="fas fa-trash fa-mdb"></i>
      </button>

    </div>
  </div>
}









