@foreach (var comment in Model)
{
    <div class="Comment-partialComments--Header">
        <p>@comment.Author</p>
        <p>@comment.TimeSinceCreation()</p>
    </div>
    <div class="Comment-partialComments--Body">
        <p>@comment.Message</p>
    </div>
    <div class="Comment-partialComments--Buttons">
        <button type="button" class="btn btn-danger" onclick="likeComment('@comment.CommentId')">
            <span class="fa fa-thumbs-up"></span> <span id="likes-@comment.CommentId">@comment.Likes</span>
        </button>
        <button type="button" class="btn btn-danger" onclick="dislikeComment('@comment.CommentId')">
            <span class="fa fa-thumbs-down"></span> <span id="dislikes-@comment.CommentId">@comment.Dislikes</span>
        </button>
        <button type="button" class="btn btn-danger">
            <i class="fa fa-reply"></i>
        </button>
        <button type="button" class="btn btn-danger">
            <i class="fa fa-trash"></i>
        </button>
    </div>
    <div>
        <span class="text-primary">@string.Format("{0:F0}% Likes | ", comment.LikeRatio())</span>
        <span class="text-primary">@string.Format("{0:F0}% Dislikes", 100 - comment.LikeRatio())</span>
    </div>
    <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="@string.Format("width: {0}%", comment.LikeRatio())" aria-valuenow="@comment.Likes" aria-valuemin="0" aria-valuemax="@comment.Likes + @comment.Dislikes"></div>
        <div class="progress-bar bg-danger" role="progressbar" style="@string.Format("width: {0}%", 100 - comment.LikeRatio())" aria-valuenow="@comment.Dislikes" aria-valuemin="0" aria-valuemax="@comment.Likes + @comment.Dislikes"></div>
    </div>
}
