@model IEnumerable<TheatreCMS3.Areas.Blog.Models.Comment>


@foreach (var item in Model)
{
  <div class="card cms-text-dark">
    <div class="card-body">
      <h5 class="card-title">@Html.DisplayFor(modelItem => item.Author)</h5>
      <h6 class="card-subtitle mb-2 text-muted">@item.TimeSince()</h6>
      <p class="card-text">@Html.DisplayFor(modelItem => item.Message)</p>

      <button class="btn likeBtn" data-CommentId="@item.CommentId" data-CommentPath="@Url.Action("AddLike", "Comments", new { id = item.CommentId })">
        <i class="fas fa-thumbs-up fa-mdb"></i>
      </button>
      <label class="likes" data-CommentId="@item.CommentId">@Html.DisplayFor(modelItem => item.Likes) </label>

      <button class="btn dislikeBtn" id="dislikeBtn" data-CommentId="@item.CommentId" data-CommentPath="@Url.Action("AddDislike", "Comments", new { id = item.CommentId })">
        <i class="fas fa-thumbs-down fa-mdb"></i>
      </button>
      <label class="dislikes" data-CommentId="@item.CommentId">@Html.DisplayFor(modelItem => item.Dislikes) </label>

      <button class="btn">
        <i class="fas fa-reply cms-text-secondary"></i>
        Reply
      </button>

      @Html.ActionLink(" ", "Delete", new { id = item.CommentId }, new { @class = "btn fas fa-trash fa-mdb float-right cms-text-main" })

    </div>
  </div>
}











