@model IEnumerable<TheatreCMS3.Areas.Blog.Models.Comment>

@foreach (var comment in Model)
{
    <div class="Comment-partialComments--Container">
        <div class="Comment-partialComments--Header">
            <p>@comment.Author<p>
            <p>@comment.TimeSinceCreation()</p>
        </div>
        <div class="Comment-partialComments--Body">
            <p>@comment.Message</p>
        </div>
        <div class="Comment-partialComments--Buttons">
            <button type="button" class="btn btn-danger">
                <i class="fa fa-thumbs-up"></i>
                @comment.Likes
            </button>
            <button type="button" class="btn btn-danger">
                <i class="fa fa-thumbs-down"></i>
                @comment.Dislikes
            </button>
            <button type="button" class="btn btn-danger">
                <i class="fa fa-reply"></i>
            </button>
            <button type="button" class="btn btn-danger">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </div>
}

