@model TheatreCMS3.Areas.Rent.Models.RentalPhotos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="RentalPhoto-Details--header">Details</h2>

<div>
    <h4 class="RentalPhoto-Details--h4">RentalPhotos</h4>

    <div class="RentalPhoto-Details--container">

        @{ string text = "";
        if (Model.RentalPhoto != null)
        {
        text = Convert.ToBase64String(Model.RentalPhoto);
        } 
        }

        <div class="card RentalPhoto-Details--card" style="width: 30rem; height: 30rem;">
            <img src="data:image/jpg;base64,@text" class="card-img-top RentalPhoto-Details--img">
            <div class="card-body RentalPhoto-Details--card-body">
                <h5 class="card-title RentalPhoto-Details--card-title"></h5>
                <p class="card-text RentalPhoto-Details--card-text"></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item RentalPhoto-Details--item1">Title: @Html.DisplayFor(model => model.RentalsName)</li>
                <li class="list-group-item RentalPhoto-Details--item2">@Html.DisplayFor(model => model.Details)</li>
                <li class="list-group-item RentalPhoto-Details--item3">Damaged - @Html.DisplayFor(model => model.Damaged)</li>
            </ul>
            <div class="card-body RentalPhoto-Details--card-body-bottom">
                <i href="#" class="card-link RentalPhoto-Details--edit-link">@Html.ActionLink(" ", "Edit", new { id = Model.RentalPhotoId }, new { @class = "fa fa-edit" })</i>
                <i href="#" class="card-link RentalPhoto-Details--delete-link">@Html.ActionLink(" ", "Delete", new { id = Model.RentalPhotoId }, new { @class = "fa fa-trash" })</i>
                <i href="#" class="card-link RentalPhoto-Details--back-link">@Html.ActionLink(" ", "Index", new { id = Model.RentalPhotoId }, new { @class = "fa fa-arrow-left" })</i>
            </div>
        </div>

    </div>

</div>
   
  