@model TheatreCMS3.Areas.Rent.Models.RentalPhoto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="white-text text-center">Details</h2>

<div class="RentalPhotos-Details-BackgroundOutContainer">
    <h4 class="card-text h-100  text-center">RentalPhoto</h4>
    <hr />
    <dl class="RentalPhotos-Details-InBackgroundContainer ">

        <dd>
            @if (Model.RentalsPhoto != null)
            {
                var base64 = Convert.ToBase64String(Model.RentalsPhoto);
                var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                Html.ActionLink("Click for details", "Details", new { Controller = "RentalPhotos", id = Model.RentalPhotoId }, new { @class = "" });
                <img class="RentalPhotos-Details-cardImage" src="@imgsrc" />
            }
        </dd>
        <dt>
            <input class="RentalPhotos-Details-Center1" type="file" name="UserImageFile" />
            <i class= "fas fa-arrow-left font-italic text-white">
                Replacement image?
            </i>

        </dt>
            
        
        <dt>
            @Html.LabelFor(model => model.RentalsName, htmlAttributes: new { @class = "" })
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RentalsName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Damaged)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Damaged)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

    </dl>
</div>
<span>
    <button class="RentalPhotos-Details-icon1wrapper">
        <i>
            @Html.ActionLink(" Back to List", "Index", new { Controller = "RentalPhotos", id = Model.RentalPhotoId }, new { @class = "fas fa-arrow-left h4 RentalPhotos-Details-icon1" })
        </i>
    </button>
    <button class="RentalPhotos-Details-icon1wrapper" value="Edit">
        <i>
            @Html.ActionLink(" Edit", "Edit", new { Controller = "RentalPhotos", id = Model.RentalPhotoId }, new { @class = "fas fa-edit h4 fa-pen-square RentalPhotos-Details-icon2" })
        </i>
    </button>
    <button class="RentalPhotos-Details-icon1wrapper" value="Edit">
        <i>
            @Html.ActionLink(" Submit", "", new { Controller = "RentalPhotos", id = Model.RentalPhotoId }, new { @class = "fas fa-edit h4 fa-pen-square RentalPhotos-Details-icon2" })
        </i>
    </button>


</span>
