@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalPhoto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rentals</h2>

<p>
    <button onclick="location.href = '@Url.Action("Create")'" class="RentalPhotos-Create--backBtn">Create New</button>
</p>
<div class="img-container">
    <div class="card-deck">
    
        <div class="row row-cols-1 row-cols-4">
            <div class="col mb-4">
                 <div class="card">
                     <a href='@Url.Action("Details")'>
                         <img src="../../Content/images/Cast_Img_4.jpg" alt="">
                     </a>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <a href='@Url.Action("Details")'>
                        <img src="../../Content/images/Cast_Img_3.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title ">Rental Photo</h5>
                            <p class="card-text">Edit and Delete</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <a href='@Url.Action("Details")'>
                        <img src="../../Content/images/Cast_Img_3.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title ">Rental Photo</h5>
                            <p class="card-text">Edit and Delete</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <a href='@Url.Action("Details")'>
                        <img src="../../Content/images/Cast_Img_4.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title ">Rental Photo</h5>
                            <p class="card-text">Edit and Delete</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <a href='@Url.Action("Details")'>
                        <img src="../../Content/images/Cast_Img_4.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title ">Rental Photo</h5>
                            <p class="card-text">Edit and Delete</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <a href='@Url.Action("Details")'>
                        <img src="../../Content/images/Cast_Img_3.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title ">Rental Photo</h5>
                            <p class="card-text">Edit and Delete</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <a href='@Url.Action("Details")'>
                        <img src="../../Content/images/Cast_Img_4.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title ">Rental Photo</h5>
                            <p class="card-text">Edit and Delete</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <a href='@Url.Action("Details")'>
                        <img src="../../Content/images/Cast_Img_3.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title ">Rental Photo</h5>
                            <p class="card-text">Edit and Delete</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



    