@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalPhotos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="RentalPhoto-Index--h2">Index</h2>

<button class="RentalPhoto-Index--btn">@Html.ActionLink("Create New", "Create")</button>

@* Wrapped this next bit INSIDE a div to get the cards to align horizontally *@
<div class="RentalPhoto-Index--container">
@foreach (var item in Model)
{
    string text = "";
    if (item.RentalPhoto != null)
    {
        text = Convert.ToBase64String(item.RentalPhoto);
    }
   
@* Here begins the cards, wrapping the img tag in an 'a' tag made the whole card clickable*@
        <div class="row row-cols-1 row-cols-md-1 RentalPhoto-Index--cards">
            <div class="col-mb-4">
                <div class="card RentalPhoto-Index--card">
                    <a href="@Url.Action("Details", new { id = item.RentalPhotoId })">
                        <img src="data:image/jpg;base64,@text" class="card-img-top RentalPhoto-Index--card-image"></a>
                        <div class="card-body RentalPhoto-Index--card-content">
                            <h5 class="card-title RentalPhoto-Index--card-title">@Html.DisplayFor(modelItem => item.RentalsName)</h5>
                            <p class="RentalPhoto-Index--card-text">@Html.DisplayFor(modelItem => item.Details)</p>
                            <div class="RentalPhoto-Index--icons">
                                <i href="#">@Html.ActionLink(" ", "Edit", new { id = item.RentalPhotoId }, new { @class = "fa fa-edit" })</i>
                                <i href="#">@Html.ActionLink(" ", "Delete", new { id = item.RentalPhotoId }, new { @class = "fa fa-trash" })</i>
                            </div>
                        </div>
                </div>
            </div>
        </div>
   
    }

</div>

        @*</table>*@
