@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalPhoto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="card table-responsive cms-text-dark">
    <div class="row">
        <div class="col-2">
            @Html.DisplayNameFor(model => model.RentalsName)
        </div>
        <div class="col-2">
            @Html.DisplayNameFor(model => model.Damaged)
        </div>
        <div class="col-2">
            @Html.DisplayNameFor(model => model.RentalPhotoImg)
        </div>
        <div class="col-4">
            @Html.DisplayNameFor(model => model.Details)
        </div>
        <div class="col-2"></div>
        
    </div>

@foreach (var item in Model) {
    <div class="row cms-text-dark">
        <div class="col-2">
            @Html.DisplayFor(modelItem => item.RentalsName)
        </div>
        <div class="col-2">
            @Html.DisplayFor(modelItem => item.Damaged)
        </div>
        <div class="col-2">
            @if (item.RentalPhotoImg != null) 
            { 
                <img src="@Url.Action("getImg", "RentalPhotos", new { id = item.RentalPhotoId})" alt="@item.RentalsName image" height="120"/>
            }
        </div>
        <div class="col-4">
            @Html.DisplayFor(modelItem => item.Details)
        </div>
        <div class="col-2">
            @Html.ActionLink("Edit", "Edit", new { id=item.RentalPhotoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RentalPhotoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RentalPhotoId })
        </div>
    </div>
}

</div>
