@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalPhoto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Rentals</h3>
@Html.ActionLink("Create New", "Create","RentalPhoto", new { @class = "btn cms-bg-main text-white m-1" } )


<div class="card-deck cms-text-dark">



    @foreach (var item in Model)
    {
    <div class="card col-3 cms-text-dark">
        <div class="rental-card img-container">
            @if (item.RentalPhotoImg != null)
            {
                <img src="@Url.Action("getImg", "RentalPhotos", new { id = item.RentalPhotoId})" alt="@item.RentalsName image" class="card-img-top" />
                <div class="row rental-card-edit justify-content-center flex-column card-img-overlay text-center overlay-text">
                    <div class="align-items-center">
                        <i class="fa-solid fa-edit"></i>  @Html.ActionLink("Edit", "Edit", new { id = item.RentalPhotoId })
                    </div>
                    <div class="align-items-center">
                        <i class="fa-solid fa-times-circle cms-text-main col-1"></i> @Html.ActionLink("Delete", "Delete", new { id = item.RentalPhotoId })
                    </div>
                 </div>
            }
            else
            {
                <div class="row card-header text-center">
                    No image available <br />
                    @Html.ActionLink("Edit", "Edit", new { id = item.RentalPhotoId })  |
                    @Html.ActionLink("Delete", "Delete", new { id = item.RentalPhotoId })
                </div>
            }
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@Html.DisplayFor(modelItem => item.RentalsName) </li>
                <li class="list-group-item">
                    @Html.DisplayName("Damaged")
                    @Html.DisplayFor(modelItem => item.Damaged)
                </li>
                <li class="list-group-item">@Html.DisplayFor(modelItem => item.Details)</li>
</ul>
        </div>

        @Html.ActionLink(" ", "Details", new { id = item.RentalPhotoId }, new { @class = "stretched-link" })
    </div>
    }
</div>

