@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalHistory>

<table class="table table-sm w-100">
    @foreach (var item in Model)
    {
        <tr class="d-flex RentalHistory-Index--tr">

            @* Damaged? Icon *@
            <td class="d-flex align-items-center">
                @if (item.RentalDamaged)
                {
                    <i class="fa-solid fa-exclamation-circle text-danger"></i>
                }
                else
                {
                    <i class="fa-solid fa-check-circle text-success"></i>
                }
            </td>

            @* Rental Item Badge *@
            <td class="d-flex align-items-center">
                <h4>
                    <span class="badge text-white bg-dark">@Html.DisplayFor(modelItem => item.Rental)</span>
                </h4>
            </td>

            @* Rental Notes/Damages *@
            @if (item.RentalDamaged)
            {
                <td class="d-block flex-fill text-black-100 RentalHistory-Index--notes">
                    @Html.DisplayFor(modelItem => item.DamagesIncurred)
                </td>
            }
            else
            {
                <td class="d-block flex-fill text-secondary RentalHistory-Index--notes">
                    @Html.DisplayFor(modelItem => item.DamagesIncurred)
                </td>
            }


            @* Link Menu *@
            <td class="RentalHistory-Index--link-menu align-items-center position-relative" id="@item.RentalHistoryId" onclick="showLinksMenu(this.id)">
                <div class="RentalHistory-Index--kebab d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-ellipsis-v fa-lg"></i>
                </div>
                @* will probably need to dynamically set id for pop up for jquery to grab correct one *@
                <div class="RentalHistory-Index-links-pop-up" id="link-menu-@item.RentalHistoryId">
                    <div class="position-relative">
                        @* Edit Link *@
                        <div class="p-2">
                            <i class="fa-solid fa-edit"></i>
                            @Html.ActionLink("Edit", "Edit", new { id = item.RentalHistoryId }, new { @style = "text-decoration: none; color: var(--dark)" })
                        </div>
                        @* Details Link *@
                        <div class="p-2">
                            <i class="fa-solid fa-info-circle"></i>
                            @Html.ActionLink("Details", "Details", new { id = item.RentalHistoryId }, new { @style = "text-decoration: none; color: var(--dark)" })
                        </div>
                        @* Delete Link *@
                        <div class="text-danger border-top p-2">
                            <i class="fa-solid fa-trash"></i>
                            @Html.ActionLink("Delete", "Delete", new { id = item.RentalHistoryId }, new { @style = "text-decoration: none; color: var(--danger)" })
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    }

</table>