@model TheatreCMS3.Areas.Rent.Models.RentalHistory
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="rental_history-create--content_title" style="margin-top:5rem">Create Rental History</div>
    <h5></h5>
    <div class="form-horizontal col-md-6 rental_history-create--form">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(model => model.Rental, "Rental", htmlAttributes: new { @class = "control-label col-md-1" })
                <div class=" col-md-12">
                    @Html.EditorFor(model => model.Rental, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Rental, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-5">
                @Html.LabelFor(model => model.RentalDamaged, "Damaged?", htmlAttributes: new { @class = "control-label col-md-1 " })
                <div class="col-md-offset-2 col-md-10" onclick="myFunction()">
                    @Html.EditorFor(model => model.RentalDamaged)
                    @Html.ValidationMessageFor(model => model.RentalDamaged, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <p class="col-md-offset-2" id="rental_history-create--alert">Notes</p>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.DamageIncurred, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DamageIncurred, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="padding-top: .5rem;">
            <div id="col-md-3 rental_history-create--back_btn" style="border-radius: 5px; color: var(--light-color); background-color: var(--dark-color); ">
                @Html.ActionLink( "Back to List", "Index",  new { style = "color: var(--light-color)" })
            </div>
            <div class="rental_history-create--create_btn" style="background-color: var(--green); border-radius: 5px; color: var(--light-color); ">
                <div class="col-md-5">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>

}

<script>
    function myFunction() {
        // Get the checkbox
        var checkbox = document.getElementById("RentalDamaged");
        // Get the output text
        var text = document.getElementById("rental_history-create--alert");
        if (checkbox.checked == true) {
            text.innerHTML = "DamageIncurred"
        } if (checkbox.checked != true) { text.innerHTML = "Notes" }
    }
</script>


@section Scripts {

}
@Scripts.Render("~/bundles/jqueryval")
@Styles.Render("~/Content/Areas/Rent.css")
<script src="~/Scripts/Areas/Rent.js"></script>
