@model TheatreCMS3.Areas.Rent.Models.RentalHistory

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2>Create Rental History</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal RentalHistory-Create-form-container">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Rental, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Rental, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rental, "", new { @class = "text-danger" })

                @Html.LabelFor(model => model.RentalDamaged, "Damaged?", htmlAttributes: new { @class = "checkbox-label" })
                @Html.EditorFor(model => model.RentalDamaged)
                @Html.ValidationMessageFor(model => model.RentalDamaged, "", new { @class = "text-danger" })

            </div>
            
            @*@Html.LabelFor(model => model.RentalDamaged, "Damaged?", htmlAttributes: new { @class = "checkbox-label" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.RentalDamaged)
                @Html.ValidationMessageFor(model => model.RentalDamaged, "", new { @class = "text-danger" })
            </div>*@
        </div>




        <div class="form-group">
            @Html.LabelFor(model => model.DamagesIncurred, "Damages Incurred", htmlAttributes: new { @class = "control-label col" })
            <div class="col-md-10 RentalHistory-Create-controls DamagesIncurred">
                @Html.EditorFor(model => model.DamagesIncurred, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DamagesIncurred, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="RentalHistory-form-button-container text-center">
            <div class="row justify-content-center">
                <div class="col">
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
                </div>
                <div class="col">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>
        </div>



    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}