@model TheatreCMS3.Areas.Rent.Models.RentalHistory

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal Rental_History-Create--Form">
    <h2 class="Rental_History-Create--Header">Rental History</h2>
    <hr />
    <div class="form-group Rental_History-Create--Rental-Title">
        @Html.LabelFor(model => model.Rental, htmlAttributes: new { @class = "control-label col-md-2 Rental_History-Create--Rental-Title" })
        <div class="col-md-10 Rental_History-Create--Rental-TitleInput">
            @Html.EditorFor(model => model.Rental, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Rental, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group Rental_History-Create--CheckBoxTitle">
        @Html.LabelFor(model => model.RentalDamaged, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox Rental_History-Create--CheckBox">
                @Html.EditorFor(model => model.RentalDamaged)
                @Html.ValidationMessageFor(model => model.RentalDamaged, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group Rental_History-Create--Notes_DamagesIncurred">
        @Html.LabelFor(model => model.DamagesIncurred, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DamagesIncurred, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DamagesIncurred, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 Rental_History-Create--Create_Button">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
