@model TheatreCMS3.Areas.Rent.Models.RentalHistory

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="RentalHistory-Create--form-container">
    <h2 class="RentalHistory-Create--header">Edit</h2>
    <hr />

    <div class="RentalHistory-Create--form">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.RentalHistoryId)

        @* Rental Input *@
        <div class="RentalHistory-Create--form-col-half">
            <h5>Rental</h5>
            <div>
                @Html.EditorFor(model => model.Rental, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rental, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Damaged? Input *@
        <div class="RentalHistory-Create--form-col-quarter">
           <h5>Damaged?</h5>
            <div class="checkbox">
                @Html.EditorFor(model => model.RentalDamaged, new { @class = "rental-damaged" })
                @Html.ValidationMessageFor(model => model.RentalDamaged, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Damage Incurred Input *@
        <div class="RentalHistory-Create--form-col-full">
            <h5 class="damages-incurred">Notes</h5>
            <div>
                @Html.EditorFor(model => model.DamagesIncurred, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DamagesIncurred, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Buttons *@
        <div class="RentalHistory-Create--form-btn-container">
            <div>
                <input type="submit" value="Save" class="RentalHistory-Create--form-btn bg-success" />
            </div>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
