@model TheatreCMS3.Areas.Rent.Models.RentalHistory

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 class="renthistory-h4">Edit Rental History</h4>
        <div class="renthistory-form-bg">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.RentalHistoryId)

            <div class="form-row">
                <div class="form-group">
                    @Html.LabelFor(model => model.Rental, htmlAttributes: new { @class = "renthistory-label control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Rental, new { htmlAttributes = new { @class = "renthistory-input form-control" } })
                        @Html.ValidationMessageFor(model => model.Rental, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RentalDamaged, "Damaged?", htmlAttributes: new { @class = "renthistory-label control-label col-md-2" })
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.RentalDamaged)
                            @Html.ValidationMessageFor(model => model.RentalDamaged, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    @Html.LabelFor(model => model.DamageIncurred, "Notes", htmlAttributes: new { @class = "renthistory-damage renthistory-label control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DamageIncurred, new { htmlAttributes = new { @class = "renthistory-input form-control" } })
                        @Html.ValidationMessageFor(model => model.DamageIncurred, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="row justify-content-center">
                <input type="submit" value="Save" class="btn btn-success mr-3" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-dark" })
            </div>
        </div>
    </div>
}


