@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalHistory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="renthistory-h2">Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="renthistory-table-outer">
    <div class="renthistory-table-inner table table-hover table-fixed">
        @*<tr>
                <th>
                    @Html.DisplayNameFor(model => model.RentalDamaged)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DamageIncurred)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rental)
                </th>
                <th></th>
            </tr>*@

        @foreach (var item in Model)
        {
        <div class="dropdown dropdown-button">
            <div class="d-flex flex-row mb-2 pt-2 border-top">
                <div class="order-1 mr-3 p-2">
                    @Html.DisplayFor(modelItem => item.RentalDamaged)
                    @if (item.RentalDamaged)
                    {
                        <i class="fas fa-times text-danger"></i>
                    }
                    else
                    {
                        <i class="fas fa-check text-success"></i>
                    }
                </div>
                <div class="order-3 ml-3 mr-2 p-2">
                    @Html.DisplayFor(modelItem => item.DamageIncurred)
                </div>
                <div class="renthistory-index order-2 p-2">
                    @Html.DisplayFor(modelItem => item.Rental)
                </div>
                <div class="renthistory-ellip order-3 p-2 float-right">
                    <a class="btn btn-secondary btn-sm dropdown-toggle">
                        <i class="fas fa-ellipsis-v"></i>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink_@item.RentalHistoryId">
                        @Html.ActionLink("Edit", "Edit", new { id = item.RentalHistoryId }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Details", "Details", new { id = item.RentalHistoryId }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.RentalHistoryId }, new { @class = "dropdown-item text-danger" })
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>
