@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalHistory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Most Recent Rental Histories</h2>

<p class="row"">    
    <a href="@Url.Action("Create", "RentalHistories")" class="col-md-1 btn btn-dark" data-toggle="tooltip" title="Create New" style="background: var(--dark-color);">
        <span class="fa fa-plus"></span>
    </a>
    <label for="SortingOptions" class="col Rent-Index--SortLabel">Sort by: </label>
    <select class="col-md-2" id="Rent-Index--Select">
        <option value="NoExtraSorting">No Extra Sorting...</option>
        <option value="DamagedRentals">Damaged Rentals</option>
        <option value="UndamagedRentals">Undamaged Rentals</option>
        <option value="RentalsAtoZ">Rentals A - Z</option>
        <option value="RentalsZtoA">Rentals Z - A</option>
    </select>
</p>
<table class="Rent-Index--Table">    
@foreach (var item in Model) {
    <tr class="Rent-Index--Tr">
        <td id="Rent-Index--RentalDamageColumn">
            @if (item.RentalDamaged == true)
             {
                <span class="Rent-Index--XIcon fa fa-times-circle"></span>
             }
             else
             {
                <span class="Rent-Index--CheckIcon fa fa-check-circle"></span>
             }
            
        </td>
        <td id="Rent-Index--RentalColumn">
            <span class="Rent-Index--Badges badge badge-light">
                @Html.DisplayFor(modelItem => item.Rental)
            </span>            
        </td>
        <td class="Rent-Index--DmgNotesColumn text-left">
            @if (item.RentalDamaged == true)
            {
            <span class="Rent-Index--DmgIncur">@Html.DisplayFor(modelItem => item.DamagesIncurred)</span>
            }
            else
            {
            <span class="Rent-Index--Notes"n>@Html.DisplayFor(modelItem => item.DamagesIncurred)</span>

            }

        </td>
        <td class="text-left">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="Rent-Index--Dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-ellipsis-v"></span>
            </button>
            <div class="Rent-Index--DropdownMenu dropdown-menu" aria-labelledby="Rent-Index--Dropdown">
                <a class="Rent-Index--EditLink dropdown-item btn btn-dark" href="@Url.Action("Edit", "RentalHistories", new { id = item.RentalHistoryID })">
                    <span class="fa fa-edit" style="margin-right: 12px;"></span>Edit
                </a>
                <a class="Rent-Index--DetailsLink dropdown-item btn btn-dark" href="@Url.Action("Details", "RentalHistories", new { id = item.RentalHistoryID })">
                    <span class="fa fa-info-circle" style="margin-right: 12px;"></span>Details
                </a>
                <a class="Rent-Index--DeleteLink dropdown-item btn btn-dark" href="@Url.Action("Delete", "RentalHistories", new { id = item.RentalHistoryID })">
                    <span class="fa fa-trash" style="margin-right: 12px;"></span>Delete
                </a>
            </div>                                       
        </td>
    </tr>
}

</table>
