@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalHistory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="Rental_History-Index-Header">Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-dark" id="Rental_History-Index-Table">
    <tr>
        <th class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentalDamaged)
        </th>
        <th class="col-sm-4">
            @Html.DisplayNameFor(model => model.Rental)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DamagesIncurred)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RentalDamaged, new { @id = "Rental_History - Index--BoolIcon" })
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Rental)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DamagesIncurred)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
