@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalHistory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center RentalHistory-index--title">
    <h1>Rental History</h1>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table RentalHistory-index--table w-auto mx-auto">
    <tr>
        <td colspan="2">
            Most recent Rental Histories
        </td>
        <td colspan="2" id="RentalHistory-index--SortedBy">
            Sorted by:
            <select id="sortingSelect" class="form-control">
                <option value="nosorting">No Extra Sorting...</option>
                <option value="damagedrentals">Damaged Rentals</option>
                <option value="undamagedrentals">Undamaged Rentals</option>
                <option value="rentalsAtoZ">Rentals A to Z</option>
                <option value="rentalsZtoA">Rentals Z to A</option>
            </select>
        </td>
    </tr>

@foreach (var item in Model.OrderByDescending(item => item.RentalHistoryId)) {
    <tr class="RentalHistory-index--tr">
        <td>
            @Html.DisplayFor(modelItem => item.RentalHistoryId)
        </td>
        <td>
            @if (item.RentalDamaged == true)
            {
                <p><i class="fa-solid fa-circle-xmark" style="color:red"></i></p>
            }
            else
            {
                <p><i class="fa-solid fa-circle-check" style="color:green"></i></p>
            }
        </td>
        <td>
            <span class="badge badge-dark RentalHistory-index--rental">@Html.DisplayFor(modelItem => item.Rental)</span>
        </td>
        <td>
            @if (item.RentalDamaged == true)
            {
                <span class="text-muted d-inline-block text-truncate" style="max-width: 600px;">@Html.DisplayFor(modelItem => item.DamagesIncurred)</span>
            }
            else
            {
                <span class="text-dark d-inline-block text-truncate" style="max-width: 600px;">@Html.DisplayFor(modelItem => item.DamagesIncurred)</span>
            }

        </td>
        <td>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle RentalHistory-index--dropdownMenuButton" type="button" id="dropdownMenuButton_@item.RentalHistoryId" data-toggle="dropdown" aria-haspopup="true">
                    <i class="fas fa-ellipsis-vertical"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton_@item.RentalHistoryId">
                    <span class="dropdown-item">
                        <i class="fas fa-pen mx-2"></i> @Html.ActionLink("Edit", "Edit", new { id = item.RentalHistoryId })
                    </span>
                    <span class="dropdown-item">
                        <i class="fas fa-info-circle mx-2"></i> @Html.ActionLink("Details", "Details", new { id = item.RentalHistoryId })
                    </span>
                    <span class="dropdown-item" style="color:red">
                        <i class="fas fa-trash mx-2" style="color:red"></i> @Html.ActionLink("Delete", "Delete", new { id = item.RentalHistoryId })
                    </span>
                </div>
            </div>
        </td>
    </tr>
}

</table>