@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalHistory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/Content/Areas/Rent.css" />
</head>

<body>

    <div class="index-heading">
        <h2>Index</h2>
    </div>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="index-table">
        <tr class="table-head">
            <th>
                Rental Histories
            </th>
            <th></th>
            <th></th>
            <th>Sort By:</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <i class="fa-solid fa-circle-check" style="color: #0ed00b; display:none"></i> 
                    <i class="fa-solid fa-circle-xmark" style="color: #ff1414;"></i>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rental)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DamagesIncurred)
                </td>
                <td id="bottom-td">
                    @Html.ActionLink("Edit", "Edit", new { id = item.RentalHistoryId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.RentalHistoryId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.RentalHistoryId })
                </td>
            </tr>
        }

    </table>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}