@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalHistory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/font-awesome.css" />

<div class="rent-headline">
    <h2>Index</h2>
</div>

<p class="center">
    @Html.ActionLink("Create New", "Create")
</p>


<table class="center">

    <tr>
        <th colspan="4">
            Most Recent Rental Histories
        </th>
    </tr>
    <colgroup>
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 45%;">
        <col span="1" style="width: 30%;">
    </colgroup>

    @foreach (var item in Model)
    {
        <tr>           
            <td>
                @if (item.RentalDamaged)
                {
                    <i class="fa-solid fa-square-check" style="color: #00ff40;"></i>
                }
                else
                {
                    <i class="fa-solid fa-circle-xmark" style="color: #ff0000;"></i>
                }

            </td>
            <td>
                <div class="rent-rental">
                    <span class="badge rounded-pill bg-secondary">
                        @Html.DisplayFor(modelItem => item.Rental)
                        </span>
                    </div>
            </td>
            <td>
<!----Dark text for if property is damged, lighter if property is not damaged-->
                @if (item.RentalDamaged)
                {
            <p class="text-secondary">@Html.DisplayFor(modelItem => item.DamageIncurred)</p>
                }
                else
                {
            <p class="text-dark">@Html.DisplayFor(modelItem => item.DamageIncurred)</p>
                }
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink_@item.RentalHistoryId">
                        @Html.ActionLink("Edit", "Edit", new { id = item.RentalHistoryId }, new {@class = "dropdown-item"})
                        @Html.ActionLink("Details", "Details", new { id = item.RentalHistoryId }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.RentalHistoryId }, new { @class = "dropdown-item text danger" })
                    </div>
                </div>       
            </td>
        </tr>
    }

</table>

<script src="~/Content/Rent.js"></script>

