@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalHistory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center p-3">Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table-container">
    <p id="most-recent-rental-histories">Most recent Rental Histories</p>
    <table>
        @foreach (var item in Model)
        {

            <tr class="bordered"></tr>

            <tr id="entry-row-@item.RentalHistoryId" class="row">
                <td class="col-xs-1 fancy-checkbox p-2 pl-4 my-auto">
                    @Html.DisplayFor(modelItem => item.RentalDamaged)
                    <i class="fa-solid fa-circle-check unchecked" style="color: #00ff00;"></i>
                    <i class="fa-solid fa-circle-xmark checked" style="color: #ff0000;"></i>
                </td>

                <td id="item-name" class="badge badge-dark my-auto">
                    @Html.DisplayFor(modelItem => item.Rental)
                </td>
                @if (item.RentalDamaged == true)
                {
                    <td class="my-auto pl-1 col-6 text-truncate style="color:black;">
                        @Html.DisplayFor(modelItem => item.DamagesIncurred)
                    </td>
                }
                else
                {
                    <td class="my-auto pl-1 col-6 text-truncate" style="color:grey;">
                        @Html.DisplayFor(modelItem => item.DamagesIncurred)
                    </td>
                }

                <td class="col-xs-1 dropdown pr-4 my-auto ml-auto">
                    <button id="rental-history-ellipses-dropdown" class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="./RentalHistories/Edit/@item.RentalHistoryId"><i class="fa-solid fa-pen-to-square" style="color: #323232;"></i> Edit</a>
                        <a class="dropdown-item" href="./RentalHistories/Details/@item.RentalHistoryId"><i class="fa-solid fa-circle-info" style="color: #323232;"></i> Details</a>
                        <div class="dropdown-divider"></div>
                        <a id="delete-button" class="dropdown-item" href="./RentalHistories/Delete/@item.RentalHistoryId"><i class="fa-solid fa-trash-can" style="color: #BD1A11;"></i> Delete</a>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>
