@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalHistory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sortMethods = new List<string> {"First to Last", "A-Z", "Z-A", "Damaged", "Undamaged" };
    var sortSelectList = new SelectList(sortMethods);
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="card" >
    <div class="row">
        <div class="cms-text-dark card-header col align-content-start">Most recent Rental Histories</div>
        <div class="cms-text-dark card-header col text-right">
            Sorted By:
            @Html.DropDownList("Sort By", sortSelectList,new {id = "DropDownList" })
        </div>
        

    </div>
    <div class="table-responsive">
        <table class="table rental-items">

            @foreach (var item in Model)
            {
                <tr class="row rental-item m-0" damaged =@item.RentalDamaged name ="@item.Rental" sortId=@item.RentalHistoryId>
                    @if (item.RentalDamaged.ToString() == "True")
                    {
                        <td class="fa-solid fa-times-circle cms-text-main" ></td>
                    }
                    else
                    {
                        <td class="fa-solid fa-check-circle"></td>
                    }

                    <td>
                        <div class="badge-dark">@Html.DisplayFor(modelItem => item.Rental)</div>
                    </td>


                    @if (item.RentalDamaged.ToString() == "False")
                    {

                        <td class="col text-black-50 text-truncate">
                            @Html.DisplayFor(modelItem => item.DamagesIncurred)
                        </td>


                    }
                    else
                    {

                        <td class="col text-truncate">
                            @Html.DisplayFor(modelItem => item.DamagesIncurred)
                        </td>

                    }

                    <td class="dropdown rental-dropdown m-0">
                        <button class="btn" id="dropdownMenuRental" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="dropdown-btn fa-solid fa-ellipsis-v"></div>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuRental">
                            <div class="row align-items-center"> <i class="fa-solid fa-edit col-1"></i>@Html.ActionLink("Edit", "Edit", new { id = item.RentalHistoryId, @class = "dropdown-item" })</div>
                            <div class="row align-items-center"> <i class="fa-solid fa-circle-info col-1"></i>@Html.ActionLink("Details", "Details", new { id = item.RentalHistoryId, @class = "dropdown-item " })</div>
                            <div class="row align-items-center"> <i class="fa-solid fa-times-circle cms-text-main col-1"></i>@Html.ActionLink("Delete", "Delete", new { id = item.RentalHistoryId, @class = "dropdown-item cms-text-main" })</div>
                        </div>

                    </td>
                </tr>
            }
        </table>
    </div>
</div>


