@model TheatreCMS3.Areas.Blog.Models.BlogAuthor

<link href="~/Content/Areas/Blog.css" rel="stylesheet" type="text/css" />

<div class="container BlogAuthor-details--body">
    <!-- Top row nav buttons in card section -->
    <div class="row justify-content-center">
        <div class="list-group list-group-horizontal BlogAuthor-details--navbar">
            <div class="pages btn btn-secondary mx-1 mt-1" onclick="currentPage(1)">
                Author Details
            </div>
            <div class="pages btn btn-secondary mx-1 mt-1" onclick="currentPage(2)">
                Blog Posts
            </div>
        </div>
    </div>
    <!-- Main card section -->
    <div class="row BlogAuthor-details--card flex-wrap-reverse">
        <div class="m-auto">
            <img src="https://via.placeholder.com/175" alt="pic" />

        </div>
        <div class="col-lg-9 col-md-8 col-sm-7 container displays">
            <div class="row">
                <h4 class="ml-3">@Html.DisplayFor(model => model.Name)</h4>
                <div class="ml-auto mr-1">
                    <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com/?hl=en"><i class="fab fa-instagram-square"></i></a>
                </div>
            </div>
            <p class="mb-sm-5">
                @Html.DisplayFor(model => model.Bio)
            <p>
                <div class="row BlogAuthor-details--dates">
                    <div class="col-lg-3 col-md-4 col-sm-5 col-6">
                        <h6>Joined Date</h6>
                        @Html.DisplayFor(model => model.Joined)
                    </div>
                    <div class="col-sm-4 col-6">
                        <h6>Left Date</h6>
                        @Html.DisplayFor(model => model.Left)
                    </div>
                    <div>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.BlogAuthorID }, htmlAttributes: new { @class = "btn btn-success m-1 fa fa-edit py-2" })
                    </div>
                    <div class="ml-auto">

                        @Html.ActionLink(" ", "Delete", new { id = Model.BlogAuthorID }, htmlAttributes: new { @class = "btn btn-danger fa fa-trash-alt m-1 py-2" })
                    </div>
                </div>
        </div>
        <div class="displays">

        </div>
    </div>
</div>
