@model IEnumerable<TheatreCMS3.Areas.Blog.Models.BlogAuthor>



@foreach (var item in Model)
{ 
<div class="row blog-index--entry">
    <div class="col-md-4">
        <img src="http://via.placeholder.com/300x400" class="blog-details--image" />
    </div>
    <div class="col-md-8">
        <div class="card-body">
            <div class="row justify-content-between">
                <div class="col-4">
                    <h2 class="card-title text-dark">@Html.DisplayFor(modelItem => item.Name)</h2>
                </div>
                <div class="col-4 text-right">
                    <a class="blog-details--icons" href="https://www.facebook.com"><i class="fab fa-2x fa-facebook"></i></a>
                    <a class="blog-details--icons" href="https://www.instagram.com"><i class="fab fa-2x fa-instagram"></i></a>
                </div>
            </div>
            <div class="blog-details--bio">
                <p class="card-text text-dark">@Html.DisplayFor(modelItem => item.Bio)</p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p class="text-dark font-weight-bold">Joined Date</p>
                    <p class="text-dark">@Html.DisplayFor(modelItem => item.Joined)</p>
                </div>
                <div class="col-md-4">
                    <p class="text-dark font-weight-bold">Left Date</p>
                    <p class="text-dark">@Html.DisplayFor(modelItem => item.Left)</p>
                </div>                
                <div class="col-2 text-right blog-index--buttons">
                    <a href="@Url.Action("Edit", "BlogAuthors", new {id = item.BlogAuthorId})" class="btn btn-success"><i class="fas fa-edit"></i>Edit</a>
                </div>
                <div class="col-1 text-right blog-index--buttons">
                    <a href="@Url.Action("Delete", "BlogAuthors", new {id = item.BlogAuthorId})" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
 
}

