@model TheatreCMS3.Areas.Blog.Models.BlogAuthor

<div>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-danger btn-outline-light" id="btnAuthorDetails_@Model.BlogAuthorID">Author Details</button>
        <button type="button" class="btn btn-danger btn-outline-light" id="btnLatestPosts_@Model.BlogAuthorID">Latest Posts</button>
    </div>

    <div class="detedit">
        <div class="img-container">
            <img src="~/Content/images/Sponsors/LogoRoundColor.png" />
        </div>
        <div id="authorDetails_@Model.BlogAuthorID" class="authorDetails">
            <div class="social-media-icons">
                <a href="https://twitter.com/home" class="social-icon"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/" class="social-icon"><i class="fab fa-instagram"></i></a>
            </div>

            <h4>@Html.DisplayFor(model => model.Name)</h4>

            <div>
                @Html.DisplayFor(model => model.Bio)
            </div>

            <div class="dates">
                <label>Joined Date:</label>
                @Html.DisplayFor(model => model.Joined)

                <label>Left Date:</label>
                @Html.DisplayFor(model => model.Left)
            </div>

            <div class="buttonbox">
                @Html.ActionLink("Edit", "Edit", new { id = Model.BlogAuthorID }, new { @class = "btn btn-danger btn-outline-light" })
                @Html.ActionLink("Delete", "Delete", new { id = Model.BlogAuthorID }, new { @class = "btn btn-danger btn-outline-light" })
            </div>

        </div>
        <div id="latestPosts_@Model.BlogAuthorID" class="latestPosts" style="display: none;">
            <h4>Latest Posts</h4>
            <p>Not yet implemented.</p>

            <script>
            $(document).ready(function () {
            $("#btnLatestPosts_@Model.BlogAuthorID").on("click", function () {
            console.log("Clicked");
            $("#authorDetails_@Model.BlogAuthorID").hide();
            $("#latestPosts_@Model.BlogAuthorID").show();
            $("#btnAuthorDetails_@Model.BlogAuthorID").removeClass("active");
            $("#btnLatestPosts_@Model.BlogAuthorID").addClass("active");
            });

            $("#btnAuthorDetails_@Model.BlogAuthorID").on("click", function () {
            console.log("Clicked");
            $("#latestPosts_@Model.BlogAuthorID").hide();
            $("#authorDetails_@Model.BlogAuthorID").show();
            $("#btnLatestPosts_@Model.BlogAuthorID").removeClass("active");
            $("#btnAuthorDetails_@Model.BlogAuthorID").addClass("active");
            });
            });
            </script>


        </div>
    </div>





    
</div>

