@model IEnumerable<TheatreCMS3.Areas.Blog.Models.BlogAuthor>

@{
    ViewBag.Title = "_BlogAuthor";
}
<link href="~/Content/Areas/Blog.css" rel="stylesheet" type="text/css" />

@foreach (var item in Model)
{
    <div class="container BlogAuthor-details--body mt-4">
        <!-- Top row nav buttons in card section -->
        <div class="row justify-content-center">
            <div class="list-group list-group-horizontal BlogAuthor-details--navbar">
                <div class="pages btn btn-secondary mx-1 mt-1" id="pg1(@item.BlogAuthorID)" onclick=" currentPage(1, @item.BlogAuthorID)">
                    Author Details
                </div>
                <div class="pages btn btn-secondary mx-1 mt-1" id="pg2(@item.BlogAuthorID)" onclick=" currentPage(2, @item.BlogAuthorID)">
                    Blog Posts
                </div>
            </div>
        </div>
        <!-- Main card section -->
        <div class="row BlogAuthor-details--card flex-wrap-reverse">
            <div class="m-auto">
                <img src="https://via.placeholder.com/170" alt="pic" />

            </div>
            <div class="col-12 col-sm container displays" id="@item.BlogAuthorID">
                <div class="row">
                    <h4 class="ml-3">@Html.DisplayFor(model => item.Name)</h4>
                    <div class="ml-auto mr-1">
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.instagram.com/?hl=en"><i class="fab fa-instagram-square"></i></a>
                    </div>
                </div>
                <p class="mb-sm-5">
                    @Html.DisplayFor(model => item.Bio)
                <p>
                    <div class="row BlogAuthor-details--dates">
                        <div class="mx-2">
                            <h6>Joined Date</h6>
                            @Html.DisplayFor(model => item.Joined)
                        </div>
                        <div class="ml-1">
                            <h6>Left Date</h6>
                            @Html.DisplayFor(model => item.Left)
                        </div>
                        <div class="row ml-auto align-content-center">
                            <div>
                                @Html.ActionLink("Edit", "Edit", new { id = item.BlogAuthorID }, htmlAttributes: new { @class = "btn btn-success mx-1 fa fa-edit py-2" })
                            </div>
                            <div class="ml-auto">

                                @Html.ActionLink(" ", "Delete", new { id = item.BlogAuthorID }, htmlAttributes: new { @class = "btn btn-danger fa fa-trash-alt mr-3 py-2" })
                            </div>
                        </div>
                    </div>
            </div>
            <div class="displays" id="blogPost(@item.BlogAuthorID)">

            </div>
        </div>
    </div>
    <script src="~/Scripts/Areas/Blog.js"></script>
}
