@model IEnumerable<TheatreCMS3.Areas.Blog.Models.Comment>


@foreach (var item in Model)
{

  var endTime = DateTime.Now;
  int numDays = Convert.ToInt32(Convert.ToDateTime(endTime).Subtract(Convert.ToDateTime(item.CommentDate)).TotalDays);

  if (item.Author == null)
  {
    <div class="comment-date "> Author , @numDays days ago </div>
  }
  else
  {
    <div class="comment-date "> @item.Author.UserName , @numDays days ago </div>
  }

  <div class="comment-message"> @item.Message</div>

  
    <div class="comment-likes far fa-thumbs-up">  @item.Likes</div>

    <div class="comment-dislikes far fa-thumbs-down"> @item.Dislikes</div>

    <div class="comment-reply">  @Html.ActionLink("Reply", "Reply", new { id = item.CommentID })</div>
    <div class="comment-details">
      <a href="@Url.Action("Edit", new { id = item.CommentID })">
        <i class="comment-edit fas fa-edit"></i>
      </a>
      <a href="@Url.Action("Details", new { id = item.CommentID })">
        <i class="comment-details fas fa-info-circle"></i>
      </a>
      <a href="@Url.Action("Delete", new { id = item.CommentID })">
        <i class="comment-delete fas fa-trash"></i>
      </a>
    </div>
    
 


}
