@model TheatreCMS3.Areas.Rent.Models.RentalItem

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="https://kit.fontawesome.com/634caf7d3f.js" crossorigin="anonymous"></script>
</head>

<div class="mt-5 text-center">
    <h2 class-="">Delete this Rental Item?</h2>
</div>

<div class="container w-75">
    <div class="container-fluid cms-bg-main-light text-center rounded Rent-RentalItem--Index cms-text-dark mt-4">

        <div class="text-center">
            <h2 class="text-center" style="color: var(--light-color);">@Html.DisplayFor(model => model.Item)</h2>
            <hr />
        </div>
        <div class="row">

            <div class="col ml-3">
                <p class="text-left h4 mb-3" style="color: var(--light-color);">Item Description</p>
                <div class=" cms-bg-light rounded Rent-RentalItem--Index mb-2 mr-1 text-left" style="border: 2px solid var(--dark-color); font-size: 18px;">
                    <p>@Html.DisplayFor(model => model.ItemDescription)</p>
                </div>

                <div class=" cms-bg-light rounded Rent-RentalItem--Index mr-1 mt-3 text-left" style="border: 2px solid var(--dark-color); font-size: 18px;">
                    <div class="form-horizontal">
                        <div class="form-group row">
                            @Html.LabelFor(model => model.PickupDate, "Pick up Date", htmlAttributes: new { @class = "control-label col" })
                            <div class="col">
                                @Html.DisplayFor(model => model.PickupDate, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.ReturnDate, "Return Date", htmlAttributes: new { @class = "control-label col" })
                            <div class="col">
                                @Html.DisplayFor(model => model.ReturnDate, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center col mr-3">
                <div>
                    @{
                        if (Model.ItemPhoto == null)
                        {
                            <p>No Photo</p>
                        }
                        else
                        {
                            <img src="@Url.Action("DisplayImage","RentalItems", new { Model.RentalItemId })" class="mb-3 mt-2 Rent-RentalItem--Photo" />
                        }
                    }
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row justify-content-between">
            <div>
                <button class="Rent-RentalItem--btnFour text-center mt-3" type="button" onclick="location.href='@Url.Action("Index")'">
                    <i class="fa-solid fa-backward"></i> Back to List
                </button>
                <button class="Rent-RentalItem--btnOne text-center mt-3" type="button" onclick="location.href='@Url.Action("Edit", "RentalItems", new {id = Model.RentalItemId })'">
                    <i class="fa-solid fa-pen-to-square"></i> Edit
                </button>
            </div>
            <div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <button class="Rent-RentalItem--btnFour text-center mt-2" type="submit" value="Delete" onclick="@Url.Action("DeleteConfirmed", "RentalItems", new { id = Model.RentalItemId })"><i class="fa-solid fa-trash"></i> Delete</button>
                }
            </div>
        </div>
    </div>
</div>