@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script src="https://kit.fontawesome.com/634caf7d3f.js" crossorigin="anonymous"></script>
</head>

<div class="mt-5">
    <div class="row justify-content-between">
        <h2 class="col-3">Rental Items</h2>
        <div class="col-5 py-1 pl-4">
            @using (Html.BeginForm("Index", "RentalItems", FormMethod.Get))
            {
                @Html.TextBox("searchString", null, new { @style = "padding: 3px; font-size: 14px; width: 262px;", placeholder = "Search an item..." })
                <input class="Rent-RentalItem--btnOne" style="font-size: 14px !important;" type="submit" value="Search" />
                <a href="/Rent/RentalItems/Index">
                    <input class="Rent-RentalItem--btnThree" style="font-size: 14px !important;" type="button" value="Reset" />
                </a>
            }
        </div>  
    </div>
    <div class="mx-auto">
        <div class="w-100" style="height: 12px; background-color: var(--secondary-color)"</div>
    </div>
</div>


<div class="Rent-RentalItem--Index cms-bg-dark text-center rounded row">
    @foreach (var item in Model)
    {
        <div class="col-3 mt-3">
            <div class="Rent-RentalItem--IndexContainer card mx-auto">
                <div class="Rent-RentalItem--ImgHover text-center">
                    <button class="Rent-RentalItem--btnOne text-center mt-2" type="button" style="font-size: 14px !important;" onclick="location.href='@Url.Action("Edit", "RentalItems", new {id = item.RentalItemId })'">
                        <i class="fa-solid fa-pen-to-square"></i> Edit
                    </button>
                    <button class="Rent-RentalItem--btnTwo text-center mt-2" type="button" style="font-size: 14px !important;" onclick="location.href='@Url.Action("Delete", "RentalItems", new {id = item.RentalItemId })'">
                        <i class="fa-solid fa-trash"></i> Delete
                    </button>
                </div>
                <a href="@Url.Action("Details", "RentalItems", new { id = item.RentalItemId })">
                    <article class="">
                        <h2>@Html.DisplayFor(modelItem => item.Item)</h2>
                    </article>
                    <img src="@Url.Action("DisplayImage", "RentalItems", new { item.RentalItemId })" class="" alt="Rental Item Photo">
                </a>
            </div>
        </div>
    }
</div>

<div class="d-flex justify-content-center mt-4">
    <input type="submit" value="Create New" class="Rent-RentalItem--btnThree w-50" onclick="location.href='@Url.Action("Create")'" />
</div>



