@model TheatreCMS3.Areas.Prod.Models.EventCalendar

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <br />

    <br />
    <div class="form-horizontal centered-bordered p-md-4 mb-2 custom-bg bg-gradient text-white">
        <h2 style="text-align: center; font-family: broadway">Create Calendar Event</h2>
        <hr />
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12" style="font-family: broadway">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.ShowTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ShowTitle, new { htmlAttributes = new { @class = "form-control custom-input", placeholder = "Show Title" } })
                            @Html.ValidationMessageFor(model => model.ShowTitle, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control custom-input", placeholder = "Start Date" } })
                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control custom-input", placeholder = "End Date" } })
                            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control custom-input", placeholder = "Start Time" } })
                            @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control custom-input", placeholder = "End Time" } })
                            @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AllDay, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.AllDay)
                                @Html.ValidationMessageFor(model => model.AllDay, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TicketsAvailable, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TicketsAvailable, new { htmlAttributes = new { @class = "form-control custom-input", placeholder = "Number of tickets for sale?" } })
                            @Html.ValidationMessageFor(model => model.TicketsAvailable, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IsProduction, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.IsProduction)
                                @Html.ValidationMessageFor(model => model.IsProduction, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control custom-input", placeholder = "Add a concise description of the show" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="create-button">
            <div class="col-md-offset-2 col-md-10 text-center">
                <input type="submit" value="Create" class="btn btn-primary btn-outline-light" style="font-family: broadway" />
            </div>
        </div>

        <style>

            /* Inline styling for the background, input fields, and Create button, in order. */

            .custom-bg {
                background: linear-gradient(to bottom, #d6972a, #f04d44, #bd1a11);
                border: 10px solid #fffbfb;
                border-radius: 20px;
            }

            .custom-input {
                background-color: lightgrey;
            }

                .custom-input:focus {
                    border-color: orange;
                    background-color: white;
                    box-shadow: 0 0 0 0.2rem rgba(255, 165, 0, 0.25);
                }

            .centered-bordered {
                border: 2px solid #34a4eb;
                padding: 10px;
                width: 50%;
                margin: 0 auto;
            }

                .centered-bordered .control-label {
                    text-align: center;
                }

            ::placeholder {
                color: lightgray;
                font-style: italic;
            }

            .btn-custom {
                color: #E7572C;
                border: white;
            }

            .col-md-8 {
                align-items: center;
            }
        </style>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
