@model IEnumerable<TheatreCMS3.Areas.Prod.Models.EventCalendar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 style="text-align: center; font-family: broadway ">Events</h2>

<p>
    <button onclick="location.href='@Url.Action("Create")'" class="btn btn-primary btn-outline-light">Create New</button>
</p>
<body class="event-list">

    @foreach (var item in Model)
    {
        <div style="display: flex; border-bottom: 1px solid #e5e5e5; padding: 10px 0;">
            <!-- Date on the left -->
            <div style="flex: 1; font-weight: bold; font-size: 1.5em;">
                @item.StartDate.ToString("dd")
                <br />
                @item.StartDate.ToString("MMM")
            </div>

            <!-- Other details on the right -->
            <div style="flex: 6;">
                <p style="font-family: broadway; font-weight: bold; font-size: 1.5em">@Html.DisplayFor(modelItem => item.ShowTitle)</p>
                @if (item.StartTime == null && item.EndTime == null)
                {
                    //do nothing
                }
                else
                {
                    <p>@Html.DisplayFor(modelItem => item.StartTime) - @Html.DisplayFor(modelItem => item.EndTime)</p>
                }
                <p>@Html.DisplayFor(modelItem => item.Description)</p>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EventId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EventId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EventId })
                </p>
            </div>
        </div>
    }

</body>