@model TheatreCMS3.Models.CalendarEvent

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="CE-create-header">
    <h2>Create Calander Event</h2>
</div>



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    
    <div class="CE-create-form">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="CE-create-form-group">
                @Html.LabelFor(model => model.Title, "Title:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter event title"} })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="CE-create-form-group">
                @Html.LabelFor(model => model.StartDate, "Start Date:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StartDate, "start date", new { htmlAttributes = new { @class = "form-control", placeholder="Enter event start date"} })
                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="CE-create-form-group">
                @Html.LabelFor(model => model.EndDate, "End Date:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter event end date" } })
                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="CE-create-form-group">
                @Html.LabelFor(model => model.StartTime, "Start Time:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control" , placeholder = "Enter event start time" } })
                    @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="CE-create-form-group">
                @Html.LabelFor(model => model.EndTime, "End Time:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter event end time" } })
                    @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="CE-create-form-group">
                @Html.LabelFor(model => model.AllDay, "All Day?", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.AllDay)
                        @Html.ValidationMessageFor(model => model.AllDay, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="CE-create-form-group">
                @Html.LabelFor(model => model.TicketsAvaliable, "Tickets avaliable:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TicketsAvaliable, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter number of tickets avaliable" } })
                    @Html.ValidationMessageFor(model => model.TicketsAvaliable, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="CE-create-form-group">
                @Html.LabelFor(model => model.IsProduction, "Production?", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsProduction)
                        @Html.ValidationMessageFor(model => model.IsProduction, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="CE-create-form-group">
                @Html.LabelFor(model => model.Description, "Description", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter event a brief description of the event" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="CE-create-form-group">
                <div class="CE-create-btn-container">
                    <input type="submit" value="Create" class="btn btn-outline-info" />
                        @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
