@model TheatreCMS3.Areas.Prod.Models.CalendarEvent

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/Areas/Prod.css"/>
<h2 class="text-center">Create Calendar Event</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal container table-light text-black-50 rounded">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group pt-3">
            <p class="control-label col-md-2">Start Date</p>
            <div class="col-md-12">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Start Date" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">End Date</p>
            <div class="col-md-12">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter End Date" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Start Time</p>
            <div class="col-md-12">
                @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Start Time" } })
                @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">End Time</p>
            <div class="col-md-12">
                @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter End Time" } })
                @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">All Day</p>
            <div class="col-md-12">
                <div class="checkbox">
                    @Html.EditorFor(model => model.AllDay)
                    @Html.ValidationMessageFor(model => model.AllDay, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Available Tickets</p>
            <div class="col-md-12">
                @Html.EditorFor(model => model.TicketsAvailable, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Available Tickets" } })
                @Html.ValidationMessageFor(model => model.TicketsAvailable, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Is Production</p>
            <div class="col-md-12">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsProduction)
                    @Html.ValidationMessageFor(model => model.IsProduction, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Description</p>
            <div class="col-md-12">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Description" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-12 pb-3">
                <input type="submit" value="Create" class="btn btn-lg btn-block btn-warning" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
