@model CalendarEvent

@{ ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="formContainer">
    <h2 class="Register-heading2">Create Calendar Event</h2>

    @using (Html.BeginForm())
    
    {

@Html.AntiForgeryToken() 
        
                <!-- Title -->
                <div class="Register-div">
                    <div class="input-label">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="input-field">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Event Title" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- Start Date -->
                <div class="Register-div">
                    <div class="input-label">
                        @Html.LabelFor(model => model.StartDate, "Start Date:", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="input-field">
                        @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Event Start Date" } })
                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- End Date -->
                <div class="Register-div">
                    <div class="input-label">
                        @Html.LabelFor(model => model.EndDate, "End Date:", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="input-field">
                        @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Event End Date" } })
                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- Start Time -->
                <div class="Register-div">
                    <div class="input-label">
                        @Html.LabelFor(model => model.StartTime, "Start Time:", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="input-field">
                        @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control", placeholder = "Event Start Time" } })
                        @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- End Time -->
                <div class="Register-div">
                    <div class="input-label">
                        @Html.LabelFor(model => model.EndTime, "End Time:", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="input-field">
                        @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control", placeholder = "Event End Time" } })
                        @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- All Day -->
                <div class="Register-div">
                    <div class="input-label">
                        @Html.LabelFor(model => model.AllDay, "All Day Event:", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="input-field">
                        @Html.EditorFor(model => model.AllDay)
                        @Html.ValidationMessageFor(model => model.AllDay, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- Tickets Available -->
                <div class="Register-div">
                    <div class="input-label">
                        @Html.LabelFor(model => model.TicketsAvailable, "Tickets Available:", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="input-field">
                        @Html.EditorFor(model => model.TicketsAvailable, new { htmlAttributes = new { @class = "form-control", placeholder = "Tickets Available" } })
                        @Html.ValidationMessageFor(model => model.TicketsAvailable, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- Is Production -->
                <div class="Register-div">
                    <div class="input-label">
                        @Html.LabelFor(model => model.IsProduction, "Is Production:", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="input-field">
                        @Html.EditorFor(model => model.IsProduction)
                        @Html.ValidationMessageFor(model => model.IsProduction, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- Description -->
                <div class="Register-div">
                    <div class="input-label">
                        @Html.LabelFor(model => model.Description, "Event Description:", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="input-field">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Event Description" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <!-- Buttons -->

                <div class="Register-div">
                    <button type="submit" class="btn btn-custom Register-button" id="CreateButton">
                        <span>Create</span>
                    </button>
                </div>

                }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
