@model IEnumerable<TheatreCMS3.Areas.Prod.Models.CalendarEvent>

@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="cms-text-main-light">Events</h2>
<p>Don't see an event? <a href="@Url.Action("Create")">Create Event</a></p>

<table class="table cms-text-secondary">
  <tr>
    @foreach (var cell in new MvcHtmlString[] {
        Html.DisplayNameFor(m => m.Title),
        Html.DisplayNameFor(m => m.Description),
        Html.DisplayNameFor(m => m.StartDate),
        Html.DisplayNameFor(m => m.EndDate),
        Html.DisplayNameFor(m => m.AllDay),
        Html.DisplayNameFor(m => m.StartTime),
        Html.DisplayNameFor(m => m.EndTime),
        Html.DisplayNameFor(m => m.TicketsAvailable),
        Html.DisplayNameFor(m => m.IsProduction)
      }) { <th>@cell</th> }
    <th>Actions</th>
  </tr>

  @foreach (var item in Model) {
    <tr>
      @foreach (var cell in new MvcHtmlString[] {
        Html.DisplayFor(modelItem => item.Title),
        Html.DisplayFor(modelItem => item.Description),
        Html.DisplayFor(modelItem => item.StartDate),
        Html.DisplayFor(modelItem => item.EndDate),
        Html.DisplayFor(modelItem => item.AllDay),
        Html.DisplayFor(modelItem => item.StartTime),
        Html.DisplayFor(modelItem => item.EndTime),
        Html.DisplayFor(modelItem => item.TicketsAvailable),
        Html.DisplayFor(modelItem => item.IsProduction)
      }) { <td>@cell</td> }
      <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.EventId }) |
        @Html.ActionLink("Details", "Details", new { id = item.EventId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.EventId })
      </td>
    </tr>
  }
</table>
