@model IEnumerable<TheatreCMS3.Areas.Prod.Models.CalendarEvent>

@{
  ViewBag.Title = "Calendar Events";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="CalendarEvents-Create--form CalendarEvents-Index--EventListings">
  <br />
  <div class="form-group">
    <h2 class="cms-text-main-light col-md-12" style="padding: 0;">Event</h2>
    <p class="col-md-12" style="padding: 0;">
      Don't see an event?
      <br />
      <a href="@Url.Action("Create")" class="btn btn-primary">Create Event</a>
    </p>
    @foreach (var e in Model) {
      <div class="card col-md-12 cms-bg-dark">
        <div class="row no-gutters">
          <h5 class="card-title">@e.StartDate.Day
            <small class="text-muted">@e.StartDate.ToString("MMM")</small>
          </h5>
          <div>
            <h5 class="card-title">
              @e.Title
              @{
                bool endDateOnDifferentDay = e.StartDate.Date != e.EndDate.Date;
                bool sameDayAndTime = !endDateOnDifferentDay && e.StartTime?.TimeOfDay == e.EndTime?.TimeOfDay;
                string format = endDateOnDifferentDay ? "MMMM d" : "";
                format += !e.AllDay ? " H:mm" : string.Empty;

                if (!string.IsNullOrEmpty(format)) {
                  <small class="text-muted">@($"{(e.StartTime ?? e.StartDate).ToString(format)}" + (sameDayAndTime ? string.Empty : $" - {(e.EndTime ?? e.EndDate).ToString(format)}"))</small>
                }
              }
            </h5>
            <p class="card-text">@e.Description</p>
            <a href="@Url.Action("Edit", new { id = e.EventId })" class="card-link text-primary">Edit</a>
            <a href="@Url.Action("Details", new { id = e.EventId })" class="card-link text-primary">Details</a>
            <a href="@Url.Action("Delete", new { id = e.EventId })" class="card-link text-danger">Delete</a>
          </div>
        </div>
      </div>
    }
  </div>
</div>
