@model IEnumerable<TheatreCMS3.Areas.Prod.Models.CalendarEvent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default CalendarEvents-Index-btn" })
</p>
<div class="">
    <table class="table bg-light">
        <tr>
            <th>
                <h4>Date</h4>
            </th>
            <th>
                <h4>Title & Description</h4>
            </th>
            

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="CalendarEvents-Index--line">
                <td>

                    <h4>@item.StartDate.Day</h4>
                    <p>@item.StartDate.ToString("MMM")</p>


                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                    <p>@item.StartTime</p>
                    @Html.DisplayFor(modelItem => item.Description)


                </td>
                <td>
                    
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EventId }, new { @class = "btn btn-default CalendarEvents-Index-btn" })


                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.EventId }, new { @class = "btn btn-default CalendarEvents-Index-btn" })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.EventId }, new { @class = "btn btn-default CalendarEvents-Index-btn" })
                </td>
            </tr>
            

        }


    </table>
</div>
