@model IEnumerable<TheatreCMS3.Areas.Prod.Models.CalendarEvent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<button onclick="location.href='@Url.Action("Create")'" class="create-button">Create New</button>


@foreach (var item in Model)
{
    <div class="container card-change">
        <div class="card">
            <div class="card-header text-dark title-change">@Html.DisplayFor(modelItem => item.Title)</div>
            
            @if (item.StartTime != null && item.EndTime != null)
            {
                <div class="card-body text-dark">
                    @Html.DisplayFor(modelItem => item.StartTime)
                    -
                    @Html.DisplayFor(modelItem => item.EndTime)
                </div>
            }
        <div class="card-footer text-dark card-footer-container">
            <div>
                Start Date: @item.StartDate.ToString("yyyy/MM/dd")
            </div>
            <div>
                Tickets Available: @Html.DisplayFor(modelItem => item.TicketsAvailable)
            </div>
            @if (item.IsProduction == true)
            {
                <div>
                    Production: @Html.DisplayFor(modelItem => item.IsProduction)
                </div>
            }
        </div>
            <div class="CRUD-layout">
                @Html.ActionLink("Edit", "Edit", new { id = item.EventId }, new { @class = "action-link" })
                @Html.ActionLink("Details", "Details", new { id = item.EventId }, new { @class = "action-link" })
                @Html.ActionLink("Delete", "Delete", new { id = item.EventId }, new { @class = "action-link" })
            </div>
        </div>
    </div>


