@model IEnumerable<TheatreCMS3.Areas.Prod.Models.CalendarEvent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-lg btn-warning" })
</p>
<table class="table text-white table-dark table-borderless">
    @foreach (var item in Model)
    {
        <tr>
            <td rowspan="2" class="text-lg-center font-weight-bolder" style="font-size: 6vh">
                @Html.DisplayFor(modelItem => item.StartDate.Day)
            </td>
            <td colspan="8" class="font-weight-bold" style="font-size: 2vh; vertical-align: bottom">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
        </tr>
        <tr>
            <td colspan="8" style="font-size: 1.25vh; vertical-align: top">
                @if (item.StartTime.HasValue && item.EndTime.HasValue)
                {
                    <p>
                        @Html.DisplayFor(modelItem => item.StartDate.DayOfWeek), @Html.DisplayFor(modelItem => item.StartTime.Value.TimeOfDay) -
                        @Html.DisplayFor(modelItem => item.EndTime.Value.TimeOfDay)
                    </p>
                }
                else
                {
                    <p>All Day @Html.DisplayFor(modelItem => item.StartDate.DayOfWeek)</p>
                }
            </td>
        </tr>
        <tr>
            <td class="text-lg-center font-weight-bold">
                @if (item.StartDate.Month == 1)
                {
                    <p>Jan</p>
                }
                else if (item.StartDate.Month == 2)
                {
                    <p>Feb</p>
                }
                else if (item.StartDate.Month == 3)
                {
                    <p>Mar</p>
                }
                else if (item.StartDate.Month == 4)
                {
                    <p>Apr</p>
                }
                else if (item.StartDate.Month == 5)
                {
                    <p>May</p>
                }
                else if (item.StartDate.Month == 6)
                {
                    <p>Jun</p>
                }
                else if (item.StartDate.Month == 7)
                {
                    <p>Jul</p>
                }
                else if (item.StartDate.Month == 8)
                {
                    <p>Aug</p>
                }
                else if (item.StartDate.Month == 9)
                {
                    <p>Sept</p>
                }
                else if (item.StartDate.Month == 10)
                {
                    <p>Oct</p>
                }
                else if (item.StartDate.Month == 11)
                {
                    <p>Nov</p>
                }
                else if (item.StartDate.Month == 12)
                {
                    <p>Dec</p>
                }
                else
                {
                    <p>This Month doesn't exist</p>
                }

            </td>
            <td colspan="6" rowspan="2">
                <div class="container text-wrap rounded" style="max-width: 60vw; max-height: 10vh; background: gray; overflow: hidden;">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                @if (item.AllDay == true)
                {
                    <p>All Day</p>
                }
                else if (item.AllDay == false && item.oneDay(item.StartDate, item.EndDate) == true)
                {
                    <p>@(item.Days(item.StartDate, item.EndDate)) Day <i class="fa-solid fa-clock"></i></p>
                }
                else
                {
                    <p>Partial Day</p>
                }
            </td>
            <td colspan="2" style="vertical-align: bottom">
                @Html.ActionLink("Edit", "Edit", new { id = item.EventId }) |
                @Html.ActionLink("Details", "Details", new { id = item.EventId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EventId })
            </td>
        </tr>
        <tr>
            <td colspan="10">
                <hr style="width: 100%;">
            </td>
        </tr>
    }

</table>
