@model IEnumerable<TheatreCMS3.Areas.Prod.Models.CalendarEvent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-lg btn-warning" })
</p>
<table class="table text-white table-dark">
@foreach (var item in Model) {
    <tr>
        <td rowspan="2" class="text-lg-center font-weight-bolder" style="font-size: 4vh">
            @Html.DisplayFor(modelItem => item.StartDate.Day)
        </td>
        <td colspan="8">
            @Html.DisplayFor(modelItem => item.Title)
        </td>
    </tr>
    <tr>
        <td colspan="8">
            @Html.DisplayFor(modelItem => item.StartDate.DayOfWeek), @Html.DisplayFor(modelItem => item.StartTime.DayOfWeek) - @Html.DisplayFor(modelItem => item.EndTime)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate.Month)
        </td>
        <td rowspan="3" colspan="6">
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td colspan="2">
            @Html.ActionLink("Edit", "Edit", new { id=item.EventId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventId })
        </td>
    </tr>
}

</table>
