@model TheatreCMS3.Areas.Prod.Models.ProductionPhoto

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<!-- Something goes int the Begin Form-->
@using (Html.BeginForm("Create", "ProductionPhotoes", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
@Html.AntiForgeryToken()

<div class="form-horizontal rounded" style="background-color: var(--main-color--light); padding: 10px;">
    <h3 style="padding: 15px;">Create a Production Photo</h3>

    <!-- Container for form layout-->
    <div class="container">
        <!--Title and Description Div, Always at the top-->
        <div class="row">
            <div class="column">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Title of the Production", @style = "max-width: 700px; min-width:400px;" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Description, new { @placeholder = "Description", @class = "form-control", style = "max-width:700px; min-width:400px; height:200px;" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div>
                @Html.TextBoxFor(model => model.PhotoFile, new { Name = "postedFile", type = "file", style = "padding:15px;" }) <br />
                <img src="../../../../Content/images/DollsHouse.png" alt="Production Image" style="min-height:300px; padding: 15px;" class="rounded" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-success btn-lg" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary btn-lg" })
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
