@model IEnumerable<TheatreCMS3.Areas.Prod.Models.ProductionPhoto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhotoFile)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>

            @if (item.PhotoFile != null && item.PhotoFile.Length > 0)
            {
            <img src="@Url.Action("GetImage", "ProductionPhotoes", new { id = item.ProPhotoId })" width="100" height="100" />
            }                       
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ProPhotoId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ProPhotoId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProPhotoId })
        </td>
    </tr>
}

</table>
