@model IEnumerable<TheatreCMS3.Areas.Prod.Models.ProductionPhotoEntity>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Title)</th>
        <th>Image Preview</th>
        <th>@Html.DisplayNameFor(model => model.Description)</th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Title)</td>
        <td><img src="@Url.Action("View", new { id = item.ProPhotoId })" style="height: 25px; width: auto;" /></td>
        <td>@Html.DisplayFor(modelItem => item.Description)</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProPhotoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProPhotoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProPhotoId })
        </td>
    </tr>
}
</table>
