@model TheatreCMS3.Areas.Blog.Models.BlogPost

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="blogpostCreate-Header">
    <h2>Create Blog Post</h2>
</div>

<div class="blogpostCreate-Container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="form-horizontal blogpostCreate-Form">
            <h4 class="blogpostCreate-FormHeader">Blog Post</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <!--title of box-->
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })

                <div class="col-md-12">
                    <!--actual box-->
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter the title" } })
                    <!--span for error-->
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your content" } })
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Posted, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Posted, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter date posted" } })
                    @Html.ValidationMessageFor(model => model.Posted, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your name" } })
                    @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group container text-center">
                <div class="row">
                    <div class="col align-self-center">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    }
    
    <div class="container text-center">
        <div class="row">
            <div class="col align-self-center">
                <!--added bootstrap to convert link to button and to be able to add css-->
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-light"})
            </div>
        </div>
        
    </div>
</div>

    


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
