@model TheatreCMS3.Areas.Blog.Models.BlogPost

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="BlogPost-Delete--PageTitle">Delete this Blog Post?</h2>

<div class="BlogPost-Delete--conatainer">
    <hr />
    <dl class="BlogPost-Delete--dl-horizontal">
        <dt class="BlogPost-Delete--TitleContainer">
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd class="BlogPost-Delete--TitleContainer2">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>Image</dt>
        <dd class="BlogPost-Delete--ImageConatiner">
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd class="BlogPost-Delete--AuthorContainer">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Posted)
        </dt>

        <dd class="BlogPost-Delete--PostedContainer">
            @Html.DisplayFor(model => model.Posted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd class="BlogPost-Delete--ContentContainer">
            @Html.DisplayFor(model => model.Content)
        </dd>



    </dl>

    <div class="BlogPost-Delete--btncontainer">

        <a href="@Url.Action("BlogPosts", "../Blog")"><button class="BlogPost-Delete--backbtn"><i class="fa fa-arrow-left" aria-hidden="true"></i></button> </a>
        <a href="@Url.Action("Edit/14","BlogPosts","../Blog")"><button class="BlogPost-Delete--EditBtn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button> </a>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <button type="submit" value="" class="BlogPost-Delete--DelBtn"><i class='fa fa-trash' aria-hidden='true'></i></button>
        }
    </div>



</div>