@model TheatreCMS3.Areas.Blog.Models.BlogPost

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class= "container blogpostDelete-Container">
     <div class= "row">
          <div class= "col-sm-12 blogpostDelete-Header"> 
               <h2> Delete this Blog Post?</h2>
          </div>
    </div>
    <div class="row text-center">
        <div class= "col-sm-12 h4">
             @Html.DisplayFor(model => model.Title)
        </div>
    </div >

    <div class= "row">
        <div class= "col-sm-12 text-center">
            <img class= "img-fluid mt-4 mb-4" style= "max-height: 500px" <img src="~/Content/images/BlogPostDefault.jpg" alt="default image" />
        </div>
    </div>

    <div class= "row">
        <div class= "col align-self-start">
        @Html.DisplayFor(model => model.Author)
        </div>
    </div>

    <div class= "row">
        <div class= "col align-self-start">
        @Html.DisplayFor(model => model.Posted)
        </div >
    </div>

    <div class= "row">
        <div class= "col-sm-12 blogpostDelete-Content">
            <p class= "fs-1 lh-base" > @Html.DisplayFor(model => model.Content) </p>
        </div>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <div class="row">
            <div class="col-6">
                @Html.ActionLink(" Back to List", "Index", null, new { @class = "btn btn-backtolist fas fa-arrow-left" })
                @Html.ActionLink(" Edit", "Edit", new { id = Model.BlogPostId }, new { @class = "btn btn-edit fas fa-edit" })
            </div>
            <div class="col-6 text-right">
                <button type="submit" class="btn btn-delete">
                <i class="fas fa-trash"> Delete</i>
                </button>
            </div>
        </div>
    
    </div>
    }
</div>
