@model TheatreCMS3.Areas.Blog.Models.BlogPost

@{
  ViewBag.Title = "Edit";
}

<!--Create Page Header-->
<h1 id="BlogPost-Create-Edit--PageHeader">Edit Blog Post</h1>

<!--Start of Page Container-->
<div class="container-fluid" id="BlogPost-Create-Edit--formContainer">

  @using (Html.BeginForm())
  {
    @Html.AntiForgeryToken()

    <!--Container for the entire form. Centered-->
    <div class="form-horizontal" id="BlogPost-Create-Edit--innerContainer">
      @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      @Html.HiddenFor(model => model.BlogPostId)

      <!--Start of the Title Text and Input Form Div-->
      <div class="form-group" id="BlogPost-Create-Edit--titleGroup">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col">
          @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control BlogPost-Create-Edit--textbox", placeholder = "Enter your title" } })
          @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
      </div>
      <!--End of the Title Text and Input Form Div-->
      <!--Start of the Content Text and Input Form Div-->
      <div class="form-group" id="BlogPost-Create-Edit--contentGroup">
        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col">
          <!--TextAreaFor Object to allow for a much better input experience-->
          @Html.TextAreaFor(model => model.Content, 10, 20, new { @class = "form-control BlogPost-Create-Edit--textbox", placeholder = "Enter your post", id = "BlogPost-Create-Edit--contentBox" })

          <!--This is a normal text input box that is the same as the rest in this View. If you'd prefer this instead of TextAreaFor, just remove the comments from this below and it will work perfectly-->
          @*@Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control BlogPost-Create-Edit--textbox", placeholder = "Enter your post" } })*@

          @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
      </div>
      <!--End of the Content Text and Input Form Div-->
      <!--Start of the Posted Text and Input Form Div-->
      <div class="form-group" id="BlogPost-Create-Edit--postedGroup">
        @Html.LabelFor(model => model.Posted, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col">
          @Html.EditorFor(model => model.Posted, new { htmlAttributes = new { @class = "form-control BlogPost-Create-Edit--textbox", placeholder = "Date posted" } })
          @Html.ValidationMessageFor(model => model.Posted, "", new { @class = "text-danger" })
        </div>
      </div>
      <!--End of the Posted Text and Input Form Div-->
      <!--Start of the Author Text and Input Form Div-->
      <div class="form-group" id="BlogPost-Create-Edit--authorGroup">
        @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col">
          @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control BlogPost-Create-Edit--textbox", placeholder = "Enter your name" } })
          @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
        </div>
      </div>
      <!--End of the Author Text and Input Form Div-->
      <!--Start of the Button Group Div-->
      <div class="form-group">
        <div class="col mx-auto">
          <input type="submit" value="Save" class="btn btn-block btn-warning BlogPost-Create-Edit--submitButton" />
          @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-block btn-danger BlogPost-Create-Edit-backButton" })
        </div>
      </div>
      <!--End of the Button Group Div-->
    </div>
  }
</div>
<!--End of the Page Container-->

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}