@model IEnumerable<TheatreCMS3.Areas.Blog.Models.BlogPost>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

@foreach (var item in Model)
{
    <div class="BlogPost-Index-container">
        <div class="BlogPost-Index-img">
            <img src="https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/ncom/en_US/games/switch/t/the-legend-of-zelda-tears-of-the-kingdom-switch/hero" alt="Zelda" />
            <tr class="BlogPost-Index-column">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Posted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    <button class="BlogPost-Index-EdDetDel btn btn-secondary fa fa-pencil-ruler">@Html.ActionLink("Edit", "Edit", new { id = item.BlogPostId })</button>
                    <button class="BlogPost-Index-EdDetDel btn btn-secondary fa fa-circle-info">@Html.ActionLink("Details", "Details", new { id = item.BlogPostId })</button>
                    <button class="BlogPost-Index-EdDetDel btn btn-danger fa fa-trash-o">@Html.ActionLink("Delete", "Delete", new { id = item.BlogPostId })</button>
                </td>
            </tr>
        </div>
    </div>
}
