@model IEnumerable<TheatreCMS3.Areas.Blog.Models.BlogPost>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <!--Placeholder for image-->
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmountaintopmedium.com%2Fwp-content%2Fuploads%2Fwoocommerce-placeholder-500x500.png&f=1&nofb=1" />
            </div>
            <div class="col-md-6">
                Posted: @Html.DisplayFor(modelItem => item.Posted)
                <br />
                Title: @Html.DisplayFor(modelItem => item.Title)
                <br />
                Author: @Html.DisplayFor(modelItem => item.Author)
                <hr />
                @Html.DisplayFor(modelItem => item.Content)
            </div>
            <div class="form-group">
                <br />
                <a class="btn btn-primary" href=@Url.Action("Edit", new { id=item.BlogPostID })>
                    <i class="fas fa-edit"> Edit</i>
                </a>
                <a class="btn btn-info" href=@Url.Action("Details", new { id=item.BlogPostID })>
                    <i class="fas fa-info"> Details</i>
                </a>
                <a class="btn btn-danger" href=@Url.Action("Delete", new { id=item.BlogPostID })>
                    <i class="fas fa-trash"> Delete</i>
                </a>
            </div>
        </div>
    </div>
}

