@model IEnumerable<TheatreCMS3.Areas.Blog.Models.BlogPost>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="container blogpostIndex-Container">

    @foreach (var item in Model) {
    <div class="row">
        <div class="col">
            <div class="card mb-3" style="max-width: 1080px;">
                <div class="row g-0">
                    <div class="col-md-6">
                        <img class="img-fluid" src="~/Content/images/BlogPostDefault.jpg" alt="default image" />
                    </div>
                    <div class="col-md-6">
                        <div class="card-body text-truncate-container">
                            <p class="card-text">
                                <small class="font-weight-bold">
                                    @Html.DisplayFor(modelItem => item.Author)
                                </small>
                                <small class="text-muted">
                                    @Html.DisplayFor(modelItem => item.Posted)
                                </small>
                            </p>
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                            <p class="card-text">
                                @Html.DisplayFor(modelItem => item.Content)
                            </p>
                        </div>
                        <div class="">
                            @Html.ActionLink(" Edit", "Edit", new { id=item.BlogPostId }, new { @class = "btn btn-edit fas fa-edit"})
                            @Html.ActionLink(" Details", "Details", new { id=item.BlogPostId }, new { @class = "btn btn-details fas fa-info"})
                            @Html.ActionLink(" Delete", "Delete", new { id=item.BlogPostId }, new { @class = "btn btn-delete fas fa-trash"})
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
 </div>



            <!--<table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Posted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Posted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.BlogPostId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.BlogPostId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.BlogPostId })
                </td>
            </tr>
    }

        </table>-->
