@model IEnumerable<TheatreCMS3.Areas.Blog.Models.BlogPost>

@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/Areas/Blog.css">

<div class="blog-index-titlecontainer"><h1>BlogPost</h1></div>


<div class="blog-index-createbtn">
  <a href="@Url.Action("Create")">Create New Blog</a>
</div>

<div class="blog-index-blogcontainer">


  @foreach (var item in Model)
  {
    <div class="blog-index-container">
      <div class="blog-index-Blog_info">
        <img src="~/Content/images/BlogPostDefault.jpg" alt="User Avatar" class="blog-index-blogphoto">
        <p>@Html.DisplayFor(modelItem => item.Title)</p>
        <p>@item.BlogDate.ToString("MMM dd, yyyy")</p>
        <p>@Html.DisplayFor(modelItem => item.Content)</p>
        <p>@Html.DisplayFor(modelItem => item.Author)</p>


        <button class="blog-index-extrabtn">@Html.ActionLink("Details", "Details", new { id = item.BlogPostId }, new { @class = "btn btn-link" })<i class="fa fa-info-circle"></i></button>

        <button class="blog-index-extrabtn">@Html.ActionLink("Edit", "Edit", new { id = item.BlogPostId }, new { @class = "btn btn-link" })<i class="fa fa-pencil-square-o"></i></button>

        <button class="blog-index-extrabtn">@Html.ActionLink("Delete", "Delete", new { id = item.BlogPostId }, new { @class = "btn btn-link" })<i class="fas fa-trash-alt trash-icon"></i></button>

      </div>
    </div>
  }
</div>
