@model TheatreCMS3.Areas.Blog.Models.BlogPhoto

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="blogPhoto-create-center">Create Blog Photo</h2>

@*Add parameters check out other ppls views try to customize for this page*@
@using (Html.BeginForm("Create", "blogPhotos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="blogPhoto-create-formContainer">
        <div class="blogPhoto-create-formBody">
            <h4 class="blogPhoto-create-center">BlogPhoto</h4>

            @Html.ValidationSummary(true, "", new { @class = "blogPhoto-create-formBody" })
            <div class="blogPhoto-create-center">
                @Html.LabelFor(model => model.PhotoName, htmlAttributes: new { @class = "blogPhoto-create-formBody", @hidden = "hidden" })
                <p class="blogPhoto-create-fieldLabelPosition">Photo Name:</p>
                <div>
                    @Html.EditorFor(model => model.PhotoName, new { htmlAttributes = new { @size = "75", @class = "blogPhoto-create-inputField", placeholder = "Photo name here" } })
                    @Html.ValidationMessageFor(model => model.PhotoName, "", new { @style = "blogPhoto-create-formBody" })
                </div>
            </div>

            <div class="blogPhoto-create-center">
                <input type="file" id="BPimage" name="BPimage" required />

            </div>
        </div>

        <div class="blogPhoto-create-submitBtnDiv">
            <input type="submit" value="Create" class="blogPhoto-create-button1" /> @*Create button*@
        </div>

        <div class="blogPhoto-create-backBtnDiv">
            <button class="blogPhoto-create-button2">@Html.ActionLink("Back to List", "Index", null, new { @class = "blogPhoto-create-actionLink" })</button>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
