@model TheatreCMS3.Areas.Blog.Models.BlogPhoto

@{
    ViewBag.Title = "Delete Blog Photo";
}


<style>
    body {
        background-color: var(--main-color--light);
        padding: 0;
        margin: 0;
    }

    .container.body-content {
        max-width: none;
        padding: 0;
    }
</style>

<div class="contact-header text-center cms-bg-dark w-100 pb-5 pt-5">
    <h1 class="text-uppercase mt-5 mb-5 contact-h1">Blog</h1>
</div>

<div class="w-100 mb-5">
    <h2 class="text-center mt-4 text-uppercase">@ViewBag.Title</h2>
    <hr class="contact-title-underline" />
    <div class="container">
        <div class="row">
            <h3>Are you sure you want to delete this?</h3>
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Photo)
                    </dt>

                    <dd>
                        <img id="preview" src="/BlogPhotos/GetPhoto/@Model.BlogPhotoId" alt="@Model.Title" class="img-thumbnail" />
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn blog-button btn-block" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            </div>
        </div>
    </div>
</div>