@model TheatreCMS3.Areas.Blog.Models.BlogPhoto

@{
    ViewBag.Title = "Blog Photo Details";
}

<style>
    body {
        background-color: var(--main-color--light);
        padding: 0;
        margin: 0;
    }

    .container.body-content {
        max-width: none;
        padding: 0;
    }
</style>

<div class="contact-header text-center cms-bg-dark w-100 pb-5 pt-5">
    <h1 class="text-uppercase mt-5 mb-5 contact-h1">Blog</h1>
</div>

<div class="w-100 mb-5">
    <h2 class="text-center mt-4 text-uppercase">@ViewBag.Title</h2>
    <hr class="contact-title-underline" />
    <div class="container">
        <div class="row">
            <div class="position-relative m-auto">
                <h3 class="text-center">@Html.DisplayFor(model => model.Title)</h3>
                <img id="preview" src="/BlogPhotos/GetPhoto/@Model.BlogPhotoId" alt="@Model.Title" class="blog-photo-preview" />
                <div class="blog-delete-photo-buttons">
                    <a class="blog-photo-button btn btn-sm" href="@Url.Action("Index", "BlogPhotos")"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back to List</a>
                    <a class="blog-photo-button btn btn-sm" href="@Url.Action("Edit", "BlogPhotos", new { id = Model.BlogPhotoId })">&#xf044; Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>