@model TheatreCMS3.Areas.Blog.Models.BlogPhoto

@{
    ViewBag.Title = "Blog Photo Details";
}

<style>
    body {
        background-color: var(--main-color--light);
        padding: 0;
        margin: 0;
    }

    .container.body-content {
        max-width: none;
        padding: 0;
    }
</style>

<div class="contact-header text-center cms-bg-dark w-100 pb-5 pt-5">
    <h1 class="text-uppercase mt-5 mb-5 contact-h1">Blog</h1>
</div>

<div class="w-100 mb-5">
    <h2 class="text-center mt-4 text-uppercase">@ViewBag.Title</h2>
    <hr class="contact-title-underline" />
    <div class="container">
        <div class="row">
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Photo)
                    </dt>

                    <dd>
                        <img id="preview" src="/BlogPhotos/GetPhoto/@Model.BlogPhotoId" alt="@Model.Title" class="col-12" />
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.BlogPhotoId }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
</div>