@model IEnumerable<TheatreCMS3.Areas.Blog.Models.BlogPhoto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>









@foreach (var item in Model)
{
    if (item.Photo != null)
    {


        ViewBag.Base64String = "data:image/png;base64," + Convert.ToBase64String(item.Photo);

    }

    <div class="blogPhoto-index-container">
        
        <div>
            <a href="@Url.Action("Details", new { id = item.BlogPhotoId })">
                <img class="card-img blogPhoto-index-img" src="@ViewBag.Base64String" alt="no image">
            </a>
            <button class="badge badge-pill btn-lg blogPhoto-index-editBtn">@Html.ActionLink("Edit", "Edit", new { id = item.BlogPhotoId })</button>
            <button class="badge badge-pill blogPhoto-index-deleteBtn">@Html.ActionLink("Delete", "Delete", new { id = item.BlogPhotoId })</button>
            <div class="card-img-overlay">
                <h2 class="card-title">@Html.DisplayFor(modelItem => item.PhotoName)</h2>


            </div>
        </div>
    </div>

   
}










