@model IEnumerable<TheatreCMS3.Areas.Blog.Models.BlogPhoto>

@{
    ViewBag.Title = "Blog Photos";
}

<style>
    body {
        background-color: var(--main-color--light);
        padding: 0;
        margin: 0;
    }

    .container.body-content {
        max-width: none;
        padding: 0;
    }
</style>

<div class="contact-header text-center cms-bg-dark w-100 pb-5 pt-5">
    <h1 class="text-uppercase mt-5 mb-5 contact-h1">Blog</h1>
</div>

<div class="w-100 mb-5">
    <h2 class="text-center mt-4 text-uppercase">@ViewBag.Title</h2>
    <hr class="contact-title-underline" />
    <div class="container">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <div class="card-columns text-center">
            @foreach (var item in Model)
            {
                <div class="card blog-card">
                    <a href="@Url.Action("Details", "BlogPhotos", new { id = item.BlogPhotoId })">
                        <div class="blog-card-overlay"></div>
                        <h5 class="card-title show-hover">@Html.DisplayFor(modelItem => item.Title)</h5>

                        <img class="card-img-top" id="preview" src="/BlogPhotos/GetPhoto/@item.BlogPhotoId" alt="@item.Title" />
                    </a>

                    <div class="card-body blog-photo-buttons show-hover">
                        <a class="blog-photo-button btn btn-sm" href="@Url.Action("Edit", "BlogPhotos", new { id = item.BlogPhotoId })">Edit</a>
                        <a class="blog-photo-button btn btn-sm" href="@Url.Action("Delete", "BlogPhotos", new { id = item.BlogPhotoId })">Delete</a>
                    </div>
                </div>
            }

        </div>
    </div>
</div>