@model TheatreCMS3.Areas.Prod.Models.ProductionPhoto

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Prod/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Create Production Photo</h2>
<br />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="pp-create-page">

  <hr />
  @Html.ValidationSummary(true, "", new { @class = "text-danger" })


  <div class="form-group">
    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.Title, new
      {
        htmlAttributes = new
        {
          @class = "form-control",
        @placeholder = "Enter title of photo"
        }
      })
      @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter brief description" } })
      @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.PhotoFile, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.PhotoFile, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.PhotoFile, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    <div class="d-flex justify-content-center">
      <input type="submit" value="Create" class="btn pp-create-btn" />
    </div>
    <div class="d-flex justify-content-center">
      @Html.ActionLink("Back to List", "Index")
    </div>
  </div>


</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
