@model TheatreCMS3.Areas.Prod.Models.ProductionPhoto

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container production_photo-create--main_container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 class="production_photo-create--form_header">Create a Production Photo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row mx-2">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="row">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Photo Title" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="row">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Photo Description" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        
        <div class="form-group col-md ml-2">
            <div class="row">
                @Html.LabelFor(model => model.PhotoFile, "Photo", htmlAttributes: new { @class = "control-label col-sm-2" })
                @Html.TextBoxFor(model => model.PhotoFile, new { @class = "form-control col-sm col-sm-offset-1 production_photo-create--file_upload", type = "file"})
            </div>
            <div class="row">
                <img src="~/Content/images/BlogPostRobot.jpg" class="img-fluid" />
            </div>
            
            <div>
                @Html.ValidationMessageFor(model => model.PhotoFile, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
        

        

        <div class="row form-group mx-1">
            <div class="btn btn-dark text-light col-md-2 production_photo-create--btns">
                @Html.ActionLink("Back to List", "Index")
            </div>
            <div class="btn-success col-md-2 production_photo-create--btns">
                <input type="submit" value="Create" class="text-white btn btn-default" />
            </div>

        </div>
    </div>
    }

    
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
