@model TheatreCMS3.Areas.Prod.Models.ProductionPhoto
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


  


    @using (Html.BeginForm("Create", "ProductionPhotos", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="d-flex flex-column h-auto productionphotos-Create-formtable">
            <br /><h2 class="d-flex justify-content-center">
                Create a Production Photo
            </h2>
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group p-2">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Title" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group p-2">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control ProductionPhotos-Create-form", placeholder="Description of Image"} })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group p-2">

                @Html.LabelFor(model => model.Photo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Photo, new { type = "file", id = " ImgUpload", onchange = "ImgPre(this)" })
                    <p><img class="img-fluid" id="ImgPreview" /></p>
                    @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="form-group p-2">
                <div class="d-flex flex-row justify-content-center p-2">
                    <input type="button" class="btn btn-dark m-3" value="Back to list" onclick="location.href='@Url.Action("Back to List","Index")'" />
                    <input type="submit" value="Create" class="btn btn-success m-3" />
                </div>
            </div>
        </div>
    }

<div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
