@model TheatreCMS3.Areas.Prod.Models.ProductionPhoto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div class="productionphotos-Details-background">
    <h2 class="d-flex justify-content-center">ProductionPhoto</h2>
    <hr />
    <div class="d-flex justify-content-center">
        <div class="flex-column m-2">
            <div>
                <h5> @Html.DisplayNameFor(model => model.Title)</h5>
            </div>

            <div class="mb-3">
                @Html.DisplayFor(model => model.Title)
            </div>
            @*</div>
                <div class="flex-column m-2">*@
            <div>
                <h5>@Html.DisplayNameFor(model => model.Description)</h5>
            </div>

            <div class="mb-3">
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <img src="/ProductionPhotos/RetrieveImage/@Model.ProductionPhotodId" alt="" />
    </div>
    <p class="d-flex justify-content-center p-2">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ProductionPhotodId }, new { @class = "btn btn-dark float-left m-2" })
        <input type="button" class="btn btn-dark m-2" value="Back to list" onclick="location.href='@Url.Action("Index","ProductionPhotos")'" />
    </p>
</div>

