@model TheatreCMS3.Areas.Prod.Models.ProductionPhoto

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm("Edit", "ProductionPhotos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="d-flex flex-column h-auto productionphotos-Create-formtable">
    <br /><h2 class="d-flex justify-content-center"> Edit a ProductionPhoto</h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ProductionPhotodId)

    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Title" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Description of Image" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group p-2">

        @Html.LabelFor(model => model.Photo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Photo, new { @type = "file" })
            @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
        </div>

    </div>
    <div class="form-group">
        <div class="d-flex flex-row justify-content-center p-2">

            <input type="button" class="btn btn-dark m-3" value="Back to list" onclick="location.href='@Url.Action("Index","ProductionPhotos")'" />
            <input type="submit" value="Save" class="btn btn-success m-3" />
        </div>

    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
