@model IEnumerable<TheatreCMS3.Areas.Prod.Models.ProductionPhoto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Production Photos</h2>

<p>
    <input type="button" class="btn btn-dark m-3" value="Create New" onclick="location.href='@Url.Action("Create", "ProductionPhotos")'" />
        </p>

        @foreach (var group in Model.GroupBy(item => item.Title))
        {
            <li class="card-deck p-2 m-2">
                <Html.Encode(group.Key)>

                    <div class="card-deck">
                        @foreach (var item in group)
                        {

                            <div class="card" style="width: 18rem;">
                                <a href="@Url.Action("Details", new { id = item.ProductionPhotodId })">
                                    <img class="card-img-top" src="/ProductionPhotos/RetrieveImage/@item.ProductionPhotodId" alt="Card image cap">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title text-dark">@Html.DisplayFor(modelItem => item.Title)</h5>
                                    <p class="card-text text-dark">@Html.DisplayFor(modelItem => item.Description)</p>
                                </div>
                                <div class="card-footer text-center">
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductionPhotodId }, new { @class = "badge badge-danger float-left p-2 m-2" })
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductionPhotodId }, new { @class = "badge badge-danger float-left p-2 m-2", onclick = "return confirm('Are sure wants to delete?');" })
                                </div>
                            </div>
                        }
                    </div>

            </li>
            @*<div class="card-deck">
                @foreach (var item in Model)
                {

                    <div class="card" style="width: 18rem;">
                        <a href="@Url.Action("Details", new { id = item.ProductionPhotodId })">
                            <img class="card-img-top" src="/ProductionPhotos/RetrieveImage/@item.ProductionPhotodId" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title text-dark">@Html.DisplayFor(modelItem => item.Title)</h5>
                            <p class="card-text text-dark">@Html.DisplayFor(modelItem => item.Description)</p>
                        </div>
                        <div class="card-footer text-center">
                            @Html.ActionLink("Edit", "Edit", new { id = item.ProductionPhotodId }, new { @class = "badge badge-danger float-left p-2 m-2" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.ProductionPhotodId }, new { @class = "badge badge-danger float-left p-2 m-2", onclick = "return confirm('Are sure wants to delete?');" })
                        </div>
                    </div>
                }
            </div>*@
    }
