@model IEnumerable<TheatreCMS3.Areas.Prod.Models.ProductionPhoto>

@{
    ViewBag.Title = "Index";
}


<h2>Production Photos Index</h2>

<p>
    <button class="btn btn-success">@Html.ActionLink("Create New", "Create")</button>
</p>


@*for each photo in the list, print it's title and descripiton.*@
@foreach (var item in Model)
{
    @*<div class="prophotocard-container">*@
        <div class="col-lg-3 col-md-4 col-sm-6 prophotocard-container">

            <div class="card">
                @*<img class="card-img-top" src="/../../Content/images/ProductionPhotos/Wicked/03.jpg" alt="Production Photos">*@
                <div class="card-body border">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <div>
                        <span class="badge badge-warning">@Html.ActionLink("Edit", "Edit", new { id = item.ProPhotoId })</span>
                        <span class="badge badge-danger">@Html.ActionLink("Delete", "Delete", new { id = item.ProPhotoId })</span>
                    </div>
                </div>
            </div>
        </div>
    @*</div>*@
}

@*@foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProPhotoId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProPhotoId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProPhotoId })
            </td>
        </tr>
    }*@


