@model TheatreCMS3.Areas.Rent.Models.RentalHistory

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4 class="text-center">Create Rental History</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="rentalHistoryContainer">
            <div class="row">
                <div class="form-group col-md-7">
                    @Html.LabelFor(model => model.Rental, "Rental", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div>
                        @Html.EditorFor(model => model.Rental, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Rental, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group offset-md-2">
                    @Html.LabelFor(model => model.RentalDamaged, "Damaged?", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2 offset-md-2">
                        <div class="checkbox text-center">
                            @Html.EditorFor(model => model.RentalDamaged, new { htmlAttributes = new { @id = "rentalDamagedCheckbox" } })
                            @Html.ValidationMessageFor(model => model.RentalDamaged, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group damagesIncurred">
                @Html.LabelFor(model => model.DamagesIncurred, "Damages Incurred", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="offset-md-12">
                    @Html.EditorFor(model => model.DamagesIncurred, new { htmlAttributes = new { @id = "damagesIncurredTextbox", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DamagesIncurred, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 text-center">
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "rentalHistoryBTL btn btn-secondary" })
                    <input type="submit" value="Create" class="rentalHistoryCBtn btn btn-success" />
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
