@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalHistory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="indexh2">Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="page-unique-identifier"><!--needed this div to hide check boxes on this page-->
    <div class="table-container">


        <!--sorting menu-->
        <div class="row">
            <div class="col-md-6 offset-md-6 text-right sort-width">
                <div class="row">
                    <div class="col-md-3 text-right">
                        <label for="sort">Sorted by:</label>
                    </div>
                    <div class="col-md-8">
                        <select id="sortSelect" class="form-control">
                            <option value="none" onclick="sortRentalHistories('none')" id="sort-none">No Extra Sorting...</option>
                            <option value="damaged" onclick="sortRentalHistories('damaged')" id="sort-damage">Damaged Rentals</option>
                            <option value="undamaged" onclick="sortRentalHistories('undamaged')" id="sort">Undamaged Rentals</option>
                            <option value="az" onclick="sortRentalHistories('az')" id="sort-az">Rentals A - Z</option>
                            <option value="za" onclick="sortRentalHistories('za')" id="sort-za">Rentals Z - A</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <table class="table" style="border-top: none" >

            <tr>
                <th class="header-cell" style="white-space: nowrap;"> <!---adding style to title to show all on one line-->
                    @Html.Label("Most recent Rental Histories", htmlAttributes: new { @class = "control-label col-md-6" })
                </th>
                <th>

                </th>
            </tr>
            <!--model.reverse() ensures all new entries will be on top of table-->
            @foreach (var item in Model.Reverse())
            {
                <tr>

                    <td class="icon-cell">
                        <!--once I hid the checkboxes on Index page, I moved the 'damage(red x) or not(green check)' parameters before Rental -->
                        @if (item.RentalDamaged)
                        {
                            <i class="fa-solid fa-circle-xmark" style="color: red;"></i> <!-- Red X icon -->
                        }
                        else
                        {
                            <i class="fa-solid fa-circle-check" style="color: green" id="greyed-out"></i> <!-- Green check icon -->
                        }
                    </td>

                    <td class="rental-cell" style="max-width: 200px; overflow: hidden; white-space: nowrap;">
                        <!--making rental act as button for collapse damages incurred feature-->
                        <div class="btn btn-dark hover-accordion rental-hover" data-toggle="collapse" data-target="#collapseExample_@item.RentalHistoryId" aria-expanded="false" aria-controls="collapseExample_@item.RentalHistoryId">
                            @Html.DisplayFor(modelItem => item.Rental)
                        </div>
                        <!--bootstrap collapse for rental notes on state of rental-->
                        <div class="collapse" id="collapseExample_@item.RentalHistoryId">
                            <div class="form-control" style="border: none; max-width: 200px; overflow: hidden; text-overflow: ellipsis;">
                                @Html.DisplayFor(modelItem => item.DamagesIncurred)
                            </div>
                        </div>
                    </td>
                    
                    <td class="damage-cell">
                        @if (item.RentalDamaged)
                        {
                            <!--displaying the damage notes if damage checkbox is checked during editing-->
                            @Html.DisplayFor(modelItem => item.DamagesIncurred)
                        }
                        else
                        {
                            <!--if no damages incurred on rental, shows 'none' next to rental-->
                            <text>None</text>
                        }
                    </td>  
                    <td>
                        <div class="dropdown" id="dropdown_@item.RentalHistoryId">
                            <button class="btn btn-secondary dropdown-toggle hidden-button" type="button" id="dropdownMenuButton_@item.RentalHistoryId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="vertical-ellipsis">&#8942;</span> <!-- Vertical ellipsis character -->
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton_@item.RentalHistoryId" id="">
                                <span class="dropdown-item"><i class="fa-solid fa-pencil"></i>@Html.ActionLink("Edit", "Edit", new { id = item.RentalHistoryId }, new { @class = "dropdown-item" })</span>
                                <span class="dropdown-item"><i class="fa-solid fa-info"></i>@Html.ActionLink("Details", "Details", new { id = item.RentalHistoryId }, new { @class = "dropdown-item" })</span>
                                <span class="dropdown-item"><i class="fa-solid fa-trash-can"></i>@Html.ActionLink("Delete", "Delete", new { id = item.RentalHistoryId }, new { @class = "dropdown-item", style = "color: red;", onclick = "return confirm('Are you sure you want to delete this item?');" })</span>
                            </div>
                        </div>
                    </td>

                </tr>
            }

        </table>
        
    </div>
</div>


