@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalHistory>

@{
  ViewBag.Title = "Index";
}

<h2 style="text-align:center;">Index</h2>

<p>
  @Html.ActionLink("Create New", "Create")
</p>
<table id="main-table" class="table table-light">
  <tr>
    <th style="    
    border-top: none;
    white-space: nowrap;
    width: 50px;
    position: relative;
"> <span style="position: absolute; left: 16px; top: 19px;">Most recent Rental Histories</span></th>
    <th style="border-top: none; "></th>
    <th style="border-top: none; text-align:right; padding-top: 20px;">Sorted by:</th>
    <th style="border-top: none; ">
      <div class="dropdown">
        <button class="btn btn-light btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </th>
  </tr>
  @foreach (var item in Model)
  {
    <tr id="hover-row" style="border-top: solid black 2px;">
      <td style="width: 50px; border-top: solid black 2px; vertical-align: middle;">
        @if (item.RentalDamaged == true)
        {
          <i class="fas fa-times-circle" style="color: red; font-size: 32px;"></i>
        }
        else
        {
          <i class="fa fa-check-circle" style="color: green; font-size: 32px;" aria-hidden="true"></i>
        }
      </td>
      <td style=" border-top: solid black 2px; width: 100px;">
        <button type="button" class="btn btn-dark">@Html.DisplayFor(modelItem => item.Rental)</button>
      </td>
      <td style="text-overflow: ellipsis; border-top: solid black 2px;  ">
        @Html.DisplayFor(modelItem => item.DamagesIncurred)
      </td>
      <td style=" border-top: solid black 2px; width: 56px; ">
        <div class="dropdown mydropdowncss" >
          <button class="btn btn-dark" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li> <a class="dropdown-item" href="@Url.Action("Edit", new { id = item.Id })"><i style="padding-right: 5px;" class="fa fa-edit" aria-hidden="true"></i>Edit </a></li> 
            <li> <a class="dropdown-item" href="@Url.Action("Details", new { id = item.Id })"> <i style="padding-right: 5px;" class="fa fa-info" aria-hidden="true"></i>Details </a></li>
            <li><div class="dropdown-divider"></div></li>
            <li> <a class="dropdown-item" href="@Url.Action("Delete", new { id = item.Id })"><span style="color: red;"><i style="padding-right: 5px;" class="fa fa-trash" aria-hidden="true"></i>Delete</span> </a></li>
          </ul>
        </div>
      </td>
    </tr>
  }

  
</table>

<script>

</script>
<style>

#dropdownMenuButton1{
  display: none;
  margin-left: auto;
}
#hover-row:hover #dropdownMenuButton1 {
  display:block;
  
}
#hover-row:hover .dropdown-menu {
  display: block;
  
}
  #main-table {
    margin: auto;
    border-style: solid;
    border-color: red;
    border-width: 3px;
    border-radius: 45px;
    -moz-border-radius: 45px;
    border-collapse: separate;
    border-spacing: 0;
  }

</style>