
@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalRequest>

@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="accordion1">

  @foreach (var item in Model)
  {
    //not sure if i need this//
    var startTime = item.StartTime;
    var endTime = item.EndTime;


    //Time Remaining and Time till start//
    int days;
    int hours;
    int mins;
    string text = "";
    if (DateTime.Now < item.EndTime && DateTime.Now > item.StartTime)
    {
      days = (item.EndTime - DateTime.Now).Days;
      hours = (item.EndTime - DateTime.Now).Hours;
      mins = (item.EndTime - DateTime.Now).Minutes;
      text = " Time Remaining: " + days + " Day(s) " + hours + " Hours " + mins + " Minutes";
    }
    else if (DateTime.Now < item.StartTime)
    {
      days = (item.StartTime - DateTime.Now).Days;
      hours = (item.StartTime - DateTime.Now).Hours;
      mins = (item.StartTime - DateTime.Now).Minutes;
      text = " Time till Start: " + days + " Day(s) " + hours + " Hours " + mins + " Minutes";
    }

    <button class="accordion" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">


      <h5>Company: @Html.DisplayFor(modelItem => item.Company)</h5>
      <h5>Contact Person: @Html.DisplayFor(modelItem => item.ContactPerson)</h5>
      
      <h6 class="time">@text</h6> 



    </button>

    <div id="panel" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">

      <div class="info">
        <div id="timeContainer">
          <p id="leftTime"> Start Time @Html.DisplayFor(modelItem => item.StartTime)</p>
          <p id="rightTime"> End Time @Html.DisplayFor(modelItem => item.EndTime) </p>
        </div>

        <ul class="list-group">
          <li>Rental Code: @Html.DisplayFor(modelItem => item.RentalCode)</li>

          <li> Project Info: @Html.DisplayFor(modelItem => item.ProjectInfo)</li>

          <li>Rentals:</li>

          <li> Accepted: @Html.DisplayFor(modelItem => item.Accepted)</li>

          <li> Contract Signed: @Html.DisplayFor(modelItem => item.ContractSigned)</li>

          <li>Survey:</li>
        </ul>

        @Html.ActionLink("Create New", "Create") |
        @Html.ActionLink("Edit", "Edit", new { id = item.RentalRequestID }) |
        @Html.ActionLink("Details", "Details", new { id = item.RentalRequestID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.RentalRequestID })


      </div>
    </div>
  }
</div>
