@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalRequest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<!--Accordion-->
<div id="accordion" class="text-dark accordion">

    @foreach (var item in Model)
    {
        <!--Accordion button-->
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn text-left" type="button" data-toggle="collapse" data-target="#@item.Company" aria-expanded="true" aria-controls="collapseOne">
                        <div>
                            @Html.DisplayFor(modelItem => item.Company)
                        </div>
                        <div>
                            @Html.DisplayFor(modelItem => item.ContactPerson)
                        </div>
                    </button>
                </h5>
            </div>

            <!--Using item.Company so that each item accordion has its own unique id-->
            <div id="@item.Company" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">

                <!--Time Displays-->
                <div>
                    <div class="container row">
                        <div class="text-center ml-auto mr-4 mt-3">
                            <h5>Start Time</h5>
                            <p>@Html.DisplayFor(modelItem => item.StartTime)</p>
                        </div>
                        <div class="text-center mr-auto ml-4 mt-3">
                            <h5>End Time</h5>
                            <p>@Html.DisplayFor(modelItem => item.EndTime)</p>
                        </div>
                    </div>

                    <!--Item Details-->
                    <div class="ml-4">
                        <p><strong>Rental Code</strong>: @Html.DisplayFor(modelItem => item.RentalCode)</p>
                    </div>
                    <div class="ml-4">
                        <p><strong>Project Info</strong>: @Html.DisplayFor(modelItem => item.ProjectInfo)</p>
                    </div>
                    <div class="ml-4">
                        <p><strong>Accepted</strong>: @Html.DisplayFor(modelItem => item.Accepted)</p>
                    </div>
                    <div class="ml-4">
                        <p><strong>Contract Signed</strong>: @Html.DisplayFor(modelItem => item.ContractSigned)</p>
                    </div>
                    <div class="ml-4">
                        <p>@Html.ActionLink("Edit", "Edit", new { id = item.RentalRequestID })</p>
                        <p>@Html.ActionLink("Delete", "Delete", new { id = item.RentalRequestID })</p>
                    </div>
                </div>

            </div>
        </div>
    }

</div>


<!--This is old code kept as a reference-->

    @*<div class="container">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Collapsible Group 1</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table table-striped" id="tbl">
                                <thead>
                                    <tr>
                                        <th>ID ID</th>
                                        <th>Name</th>
                                        <th>Product</th>
                                        <th>Type</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr scope="row">
                                        <td>@item.ContactPerson</td>
                                        <td>@item.Company</td>
                                        <td>@item.RequestedTime</td>
                                        <td>@item.EndTime</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@



    @*<tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accepted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractSigned)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RentalRequestID }) |
                @Html.ActionLink("Details", "Details", new { id = item.RentalRequestID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RentalRequestID })
            </td>
        </tr>*@
