@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalRequest>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script>
    function switchVisible() {
        if (document.getElementById('non-expired')) {

            if (document.getElementById('non-expired').style.display == 'none') {
                document.getElementById('non-expired').style.display = 'block';
                document.getElementById('expired').style.display = 'none';
                document.getElementById('Button1').value = "Expired Rentals";
            }
            else {
                document.getElementById('non-expired').style.display = 'none';
                document.getElementById('expired').style.display = 'block';
                document.getElementById('Button1').value = "Current Rentals";
            }
        }
    }
</script>*@

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<input id="Button1" type="button" value="Expired Rentals" onclick="switchVisible();" />

<br />
<div id="non-expired">
    @foreach (var item in Model.OrderBy(t => t.StartTime))
    {
        // Shows Non expired requests
        if (item.EndTime.AddDays(7) > DateTime.Now)
        {
            <div class="accordion" id="accordionExample_@item.RentalRequestID">
                <div class="card">
                    <div class="card-header" id="heading_@item.RentalRequestID">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse_@item.RentalRequestID" aria-expanded="true" aria-controls="collapse_@item.RentalRequestID">
                                @item.ContactPerson
                            </button>
                        </h2>
                    </div>

                    <div id="collapse_@item.RentalRequestID" class="collapse bg-dark" aria-labelledby="heading_@item.RentalRequestID" data-parent="#accordionExample_@item.RentalRequestID">
                        <div class="card-body bg-light text-dark border border-danger">
                            <p>Company: @item.Company</p><br />
                            <p>Contact Person: @item.ContactPerson</p>
                            <p>Time Remaining: @item.GetRentalDuration()</p>
                        </div>
                        <div class="border border-danger p-20 bg-light text-dark">
                            <p>Start Time: @item.StartTime</p>
                            <p>End Time: @item.EndTime</p>
                            <p>Rental Code: @item.RentalCode</p><br />
                            <p>Project Info: @item.ProjectInfo</p><br />
                            <p>Accepted: @item.Accepted</p><br />
                            <p>Contract Signed: @item.ContractSigned</p>
                        </div>
                    </div>
                </div>
            </div>


            @Html.ActionLink("Edit", "Edit", new { id = item.RentalRequestID })
            @Html.ActionLink("Details", "Details", new { id = item.RentalRequestID })
            @Html.ActionLink("Delete", "Delete", new { id = item.RentalRequestID })


        }

    }
</div>

<div id="expired">
    @foreach (var item in Model.OrderBy(t => t.StartTime))
    {
        // Shows expired requests
        if (item.EndTime.AddDays(7) < DateTime.Now)
        {
            <div class="accordion" id="accordionExample_@item.RentalRequestID">
                <div class="card">
                    <div class="card-header" id="heading_@item.RentalRequestID">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse_@item.RentalRequestID" aria-expanded="true" aria-controls="collapse_@item.RentalRequestID">
                                @item.ContactPerson
                            </button>
                        </h2>
                    </div>

                    <div id="collapse_@item.RentalRequestID" class="collapse bg-dark" aria-labelledby="heading_@item.RentalRequestID" data-parent="#accordionExample_@item.RentalRequestID">
                        <div class="card-body bg-light text-dark border border-danger">
                            <p>Company: @item.Company</p><br />
                            <p>Contact Person: @item.ContactPerson</p>
                            <p>Time Remaining: @item.GetRentalDuration()</p>
                        </div>
                        <div class="border border-danger p-20 bg-light text-dark">
                            <p>Start Time: @item.StartTime</p>
                            <p>End Time: @item.EndTime</p>
                            <p>Rental Code: @item.RentalCode</p><br />
                            <p>Project Info: @item.ProjectInfo</p><br />
                            <p>Accepted: @item.Accepted</p><br />
                            <p>Contract Signed: @item.ContractSigned</p>
                        </div>
                    </div>
                </div>
            </div>


            @Html.ActionLink("Edit", "Edit", new { id = item.RentalRequestID })
            @Html.ActionLink("Details", "Details", new { id = item.RentalRequestID })
            @Html.ActionLink("Delete", "Delete", new { id = item.RentalRequestID })


        }

    }
</div>
