@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalRequest>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ContactPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accepted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractSigned)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ContactPerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RentalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accepted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContractSigned)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RentalRequestID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RentalRequestID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RentalRequestID })
        </td>
    </tr>
}

</table>*@

<div class="rent-index--accordionContainer">
  <div class="accordion" id="accordionExample">
    @foreach (var item in Model)
    {
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link rent-index--cardBtn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <p>Company: @Html.DisplayFor(modelItem => item.Company)</p>
              <p>Contact Person: @Html.DisplayFor(modelItem => item.ContactPerson)</p>
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <p>Start Time: @Html.DisplayFor(modelItem => item.StartTime)</p>
            <p>End Time: @Html.DisplayFor(modelItem => item.EndTime)</p>
            <p>Rental Code: @Html.DisplayFor(modelItem => item.RentalCode)</p>
            <p>Project Info: @Html.DisplayFor(modelItem => item.ProjectInfo)</p>
            <p>Accepted: @Html.DisplayFor(modelItem => item.Accepted)</p>
            <p>Contract Signed: @Html.DisplayFor(modelItem => item.ContractSigned)</p>
          </div>
        </div>
      </div>
    }
  </div>
</div>
