@model TheatreCMS3.Areas.Rent.Models.RentalItem

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://kit.fontawesome.com/ff5f3796c3.js" crossorigin="anonymous"></script>

<h1 class="text-center">Are you sure you want to <span style="color: var(--main-color);">delete</span> <em>"@Html.DisplayFor(model => model.Item)"?</em></h1>

<div class="text-center">
    <hr />
    <ul class="list-group RentalItem-DetailsDelete--Container">
        <li class="list-group-item RentalItem-Details--li">@Html.DisplayFor(Model => Model.Item)</li>
        <lh>Item Description</lh>
        <li class="list-group-item RentalItem-Details--li" style="font-weight: bold;">@Html.DisplayFor(Model => Model.ItemDescription)</li>
        <lh>Item Photo</lh>
        @if (Model.ItemPhoto != null)
        {
            <li class="list-group-item RentalItem-Details--li"><img src="@Url.Action("DisplayImageFromDb", "RentalItem", new { Model.RentalItemId})" width="150" height="175" /></li>
        }
        else
        {
            <li class="list-group-item RentalItem-Details--li">
                <img class="card-img-top" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4b1ceee5-9458-4434-80bc-fc5d83a2ea88/de1noau-2dbb58f5-1c72-4b2b-b2a4-6849226fef79.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzRiMWNlZWU1LTk0NTgtNDQzNC04MGJjLWZjNWQ4M2EyZWE4OFwvZGUxbm9hdS0yZGJiNThmNS0xYzcyLTRiMmItYjJhNC02ODQ5MjI2ZmVmNzkucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.rIhXLvW4X1ju2BZynu8N52kEhC7xvPP6gr3jmGYgrPc" alt="No Photo" width="150" height="150" />
            </li>
        }
        <lh>Pick Up Date</lh>
        <li class="list-group-item RentalItem-Details--li">@Html.DisplayFor(Model => Model.PickUpDate)</li>
        <lh>Return Date</lh>
        <li class="list-group-item RentalItem-Details--li" style="font-style: oblique;">@Html.DisplayFor(Model => Model.ReturnDate)</li>
    </ul>
</div>

<div class="RentalItem-Delete--IndexEditDelBtn">
    <button type="button" class="btn RentalItem-DetailsDelete--IndexBtn" onclick="location.href ='@Url.Action("Index", "RentalItem")'">
        <i class="fa-solid fa-arrow-left-long"></i>
    </button>

    <button type="button" class="btn RentalItem-DetailsDelete--EditBtn" onclick="location.href ='@Url.Action("Edit", "RentalItem", new { id = Model.RentalItemId })'">
        <i class="fa-solid fa-file-pen"></i>
    </button>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <button type="submit" class="btn RentalItem--Delete-Btn">
            <i class="fa-solid fa-trash-can"></i>
        </button>
    }

</div>







