@model TheatreCMS3.Areas.Rent.Models.RentalItem

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Details</h1>

<div class="text-center">
    <h4>Item Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickUpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickUpDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RentalItemId }) |
    @Html.ActionLink("Back to List", "Index")
  
       <i class="fa-solid fa-arrow-left-long"><a href="@Url.Action("Index", "RentalItem")"></a></i>
</p>
