@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalItem>

@{
    ViewBag.Title = "Rentals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://kit.fontawesome.com/ff5f3796c3.js" crossorigin="anonymous"></script>

<h2>Rentals</h2>

<input type="submit" value="Create Item" class="btn RentalItem-CreateEdit--CreateButton" onclick="location.href='@Url.Action("Create", "RentalItem")'">

<hr />

<div class="card-columns">
    @foreach (var item in Model)
    {
        <div class="card" style="height: 20rem;">
            <div class="card-body">

                @if (item.ItemPhoto != null)
                {
                    <div class="RentalItem-Index--ImageContainer">

                        <div style="text-align:center;">
                            <img class="card-img-top" src="@Url.Action("DisplayImageFromDb", "RentalItem", new { item.RentalItemId})" width="150" height="175" />

                            <button type="button" class="btn RentalItem-Index--OverlayBtn" onclick="location.href ='@Url.Action("Edit", "RentalItem", new { id = item.RentalItemId })'">
                                <i class="fa-solid fa-file-pen"></i>
                            </button>
                            <button type="button" class="btn RentalItem-Index--OverlayBtn" onclick="location.href ='@Url.Action("Delete", "RentalItem", new { id = item.RentalItemId })'">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </div>
                    </div>
                }
                else
                {
                    <p class="card-title RentalItem-Index--Card">No Image Upladed</p>
                }


                <a onclick="location.href='@Url.Action("Details", "RentalItem", new { id = item.RentalItemId})'">
                    <h3 class="card-title RentalItem-Index--Card">
                        @Html.DisplayFor(modelItem => item.Item)
                    </h3>
                </a>




                @*@Html.ActionLink("Details", "Details", new { id = item.RentalItemId })*@



            </div>
        </div>

    }

