@model TheatreCMS3.Areas.Production.Models.ProductionPhoto

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h4 class="prodphoto-form-title card col-12 col-sm-12 col-md-6">Create Production Photo</h4>
    <div class="form-horizontal prodphoto-form-styling col-12 col-sm-12 col-md-6">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12 input-test">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control prodphoto-input-field", @placeholder = "Name your photo" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control prodphoto-input-field", @placeholder = "Describe your entry"} })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row prodphoto-btn-together justify-content-center">
            <div class="col-md-offset-2 prodphoto-btn-2">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>

            @Html.ActionLink("Back to List", "Index", null, new {  @class = "btn prodphoto-btn" })
            
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
