@model TheatreCMS3.Areas.Production.Models.ProductionPhoto

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h4 class="form-title card">Edit Production Photo</h4>
    <div class="form-horizontal prodphoto-form-styling">
        <h4>@*ProductionPhoto*@</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ProPhotoId)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control prodphoto-input-field", @placeholder = "Name your photo" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control prodphoto-input-field", @placeholder = "Name your photo" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row prodphoto-btn-together justify-content-center">
            <div class="col-md-offset-2 prodphoto-btn-2">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>

            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn prodphoto-btn" })
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
