@model IEnumerable<TheatreCMS3.Areas.Blog.Models.BlogAuthor>

@{
    ViewBag.Title = "Index";

}

@Styles.Render("~/Content/Areas/Blog.css")



<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var blogAuthor in Model)
{


    <tr>
        <td>
            @Html.DisplayFor(modelItem => blogAuthor.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => blogAuthor.Bio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => blogAuthor.Joined)
        </td>
        <td>
            @Html.DisplayFor(modelItem => blogAuthor.Left)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = blogAuthor.BlogAuthorid }) |
            @Html.ActionLink("Details", "Details", new { id = blogAuthor.BlogAuthorid }) |
            @Html.ActionLink("Delete", "Delete", new { id = blogAuthor.BlogAuthorid })
        </td>
    </tr>

    <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <a href="https://placeholder.com"><img src="https://via.placeholder.com/150" class="img-fluid" alt="Blog Author"></a>
            </div>
            <div class="col">
                <div class="blogAuthor-Card text-left">
                    <p class="card-text">
                        Author for Theater Vertigo<br />
                        <b>@blogAuthor.Name</b><br />This professional is an experienced blog author with past creations in the<br />entertainment industry such as movies, television, and stage<br /><br />
                    </p>
                </div>
                <div>
                    <a href="#Edit" class="btn btn-edit float-left">
                        <i class="fas fa-theater-masks"></i>Edit
                    </a>

                </div>
                <div>
                    <a href="#Details" class="btn btn-details float-left">
                        <i class="fas fa-theater-masks"></i>Details
                    </a>

                </div>
                <div>
                    <a href="#Delete" class="btn btn-delete float-right">
                        <i class="fas fa-theater-masks"></i>Delete
                    </a>


                </div>


            </div>
        </div>
        <div class="card-footer w-100 text-muted">

        </div>
    </div>
}


