@model IEnumerable<TheatreCMS3.Areas.Blog.Models.BlogAuthor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="card">
    <div class="row no-gutters">
        <div class="col-auto">
            <img src="https://placeholder.com/150" class="img-fluid" alt="Blog Author">
        </div>
        <div class="col">
            <div class="card-block px-2">
                <p>Author for Theater Vertigo<br /><br /></p>
                <h4 class="card-text"><b>John Smith</b></h4>
                <p><br />John is an experienced blog author with past creations in the<br />entertainment industry such as movies, television, and stage<br /><br /></p>
                <a href="#edit" class="btn btn-primary">Edit/Details</a>
                <a href="#delete" class="btn btn-secondary">Delete</a>

            </div>
        </div>
    </div>
    <div class="card-footer w-100 text-muted">
        
    </div>
</div>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Joined)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Left)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.BlogAuthorid }) |
            @Html.ActionLink("Details", "Details", new { id = item.BlogAuthorid }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BlogAuthorid })
        </td>
    </tr>
}

</table>
