@model IEnumerable<TheatreCMS3.Areas.Blog.Models.BlogAuthor>

@{
    ViewBag.Title = "Index";

}

@Styles.Render("~/Content/Areas/Blog.css")



<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var blogAuthor in Model)
{


    <div class="card mb-4">
        <div class="row no-gutters">
            <div class="col-auto">
                <a href="https://placeholder.com"><img src="https://via.placeholder.com/150" class="img-fluid" alt="Blog Author"></a>
            </div>
            <div class="col">
                <div class="blogAuthor-Card text-left">
                    <p class="card-text">
                        Author for Theater Vertigo<br />
                        <b>@blogAuthor.Name</b><br />@blogAuthor.Name @blogAuthor.Bio
                    </p>
                </div>
                <div>
                    <a href="#Edit" class="btn btn-edit float-left">
                        <i class="fas fa-theater-masks"></i>Edit
                    </a>

                </div>
                <div>
                    <a href="#Details" class="btn btn-details float-left">
                        <i class="fas fa-theater-masks"></i>Details
                    </a>

                </div>
                <div>
                    <a href="#Delete" class="btn btn-delete float-right">
                        <i class="fas fa-theater-masks"></i>Delete
                    </a>


                </div>


            </div>
        </div>
        <div class="card-footer w-100 text-muted">

        </div>
        
        
    </div>
}
    



