@model IEnumerable<TheatreCMS3.Areas.Blog.Models.Comment>

<p>
  @Html.ActionLink("Create New", "Create")
</p>

<div class="comment-list">
    <ol class="list-group">
        @foreach (var item in Model)
        {
        <li class="list-group-item">
			<div class="blog-comment container">
				<div class="row">
					<div class="col">
						<span class="comment-author">@item.Author</span>
						<span class="time-since">@item.TimeAgo()</span>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-10 mx-auto mt-2">
						<div class="commment-body">
							<p>@item.Message</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col- mx-1">
						Likes: @item.Likes
					</div>
					<div class="col- mx-1">
						Dislikes: @item.Dislikes
					</div>
					<div class="row ml-auto mt-2 justify-content-end">
						<div class="comment-reply col- mx-1">
							<button class="btn btn-primary btn-sm">
								Reply @* @Html.Action()    ADD IMPLEMENTATION!!! *@
							</button>
						</div>
						<div class="comment-edit col- mx-1">
							@Html.ActionLink(
						   "Edit", "Edit", "Comment", routeValues: new { id = item.CommentId }, htmlAttributes: new
								{
									@class = "btn btn-primary btn-sm",
									@role = "button"
						   })
						</div>
						<div class="comment-trash col- mx-1">
							<a href="#"><i class="fas fa-trash"></i></a>
						</div>
					</div>
				</div>
			</div>
		</li>
		}
    </ol>
</div>
