@model IEnumerable<TheatreCMS3.Areas.Blog.Models.Comment>

<p>
  @Html.ActionLink("Create New", "Create")
</p>

<div class="comment-list">
    <ol class="list-group">
        @foreach (var item in Model)
        {
        <li class="list-group-item">
			<div class="blog-comment container">
				<div class="row">
					<div class="col-4">
						<span class="comment-author">@item.Author</span>
						<span class="time-since">@item.TimeAgo()</span>
					</div>
					<div class="col-sm-1 ml-auto">
						<a href="#"><i class="fas fa-trash"></i></a>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="commment-body">
							<div class="col">
								<p>@item.Message</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="row">
							<div class="col-sm-2 ml-auto mr-5 mt-5">
								<button class="btn btn-primary btn-sm">
									Reply @* @Html.Action()    ADD IMPLEMENTATION!!! *@
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col- mx-1">
						Likes: @item.Likes
					</div>
					<div class="col- mx-1">
						Dislikes: @item.Dislikes
					</div>
					<div class="col- mx-1">
						Ratio: @item.LikeRatio()
					</div>
				</div>
			</div>
        </li>
		}
    </ol>
</div>
