@model IEnumerable<TheatreCMS3.Areas.Blog.Models.Comment>

<p>
  @Html.ActionLink("Create New", "Create")
</p>

<div class="comment-list">
    <ol class="list-group">
        @foreach (var item in Model)
        {
        <li class="list-group-item">
            <div class="blog-comment container">
                <span class="comment-author">
                    @Html.DisplayFor(modelItem => item.Author)
                </span>
            </div>
            <div class="col-sm">
                <span class="time-since">@item.TimeAgo()
                </span>
                <div class="col-sm"><i class="fas fa-trash">@*ADD IMPLEMENTATION!!!*@</i></div>
            </div>
            <div class="row">
                <div class="commment-body">
                    <div class="col">@item.Message</div>
                </div>
            </div>
			<div class="row">
				<div class="col-">
					Likes: @item.Likes
				</div>
				<div class="col-">
					Dislikes: @item.Dislikes
				</div>
				<div class="col-">
					Ratio: @item.LikeRatio()
				</div>
				<div class="col">
					<button class="button btn btn-primary btn-sm">
                        Reply @* @Html.Actio()    ADD IMPLEMENTATION!!! *@
                    </button>
				</div>
			</div>
        </li>}
    </ol>
</div>

@*<table class="table">
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.Message)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.CommentDate)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Likes)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Dislikes)
    </th>
    <th></th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.Message)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.CommentDate)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Likes)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Dislikes)
      </td>
      <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.CommentId }) |
        @Html.ActionLink("Details", "Details", new { id = item.CommentId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.CommentId })
      </td>
    </tr>
  }

</table>*@
