@model TheatreCMS3.Areas.Prod.Models.Productions

<link href="~/Content/Areas/Prod.css" rel="Stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div>
  <div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">Production Details</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>

  <hr />
  <div class="Index-Modal-Text">
    <dl class="dl-horizontal">
      <dt>
        @Html.DisplayNameFor(model => model.Title)
      </dt>
      <dd>
        @Html.DisplayFor(model => model.Title)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.Description)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.Description)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.Playwright)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.Playwright)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.Runtime)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.Runtime)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.OpeningDay)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.OpeningDay)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.ClosingDay)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.ClosingDay)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.ShowTimeEve)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.ShowTimeEve)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.ShowTimeMat)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.ShowTimeMat)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.Season)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.Season)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.IsWorldPremiere)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.IsWorldPremiere)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.TicketLink)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.TicketLink)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.IsCurrentlyShowing)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.IsCurrentlyShowing)
      </dd>
    </dl>
  </div>
</div>
