@model TheatreCMS3.Areas.Prod.Models.Production

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        <h2>Create Production</h2>
        <div class="Production-Create--container">
            <div class="Production-Create--form-container">
                

                <form class="Productions-form">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2 Production-Create--label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control Production-CreateEdit--input-box", placeholder = "Enter Title" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2 Production-Create--label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control Production-CreateEdit--input-box", placeholder = "Enter Description" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Playwright, htmlAttributes: new { @class = "control-label col-md-2 Production-Create--label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Playwright, new { htmlAttributes = new { @class = "form-control Production-CreateEdit--input-box", placeholder = "Enter Playwright" } })
                            @Html.ValidationMessageFor(model => model.Playwright, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Runtime, htmlAttributes: new { @class = "control-label col-md-2 Production-Create--label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Runtime, new { htmlAttributes = new { @class = "form-control Production-CreateEdit--input-box", placeholder = "Enter Runtime" } })
                            @Html.ValidationMessageFor(model => model.Runtime, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OpeningDay, "Opening Day", htmlAttributes: new { @class = "control-label col-md-2 Production-Create--label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.OpeningDay, new { htmlAttributes = new { @class = "form-control Production-CreateEdit--input-box", placeholder = "Enter Opening Day" } })
                            @Html.ValidationMessageFor(model => model.OpeningDay, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ClosingDay, "Closing Day", htmlAttributes: new { @class = "control-label col-md-2 Production-Create--label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ClosingDay, new { htmlAttributes = new { @class = "form-control Production-CreateEdit--input-box", placeholder = "Enter Closing Day" } })
                            @Html.ValidationMessageFor(model => model.ClosingDay, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ShowTimeEve, "Show Time Eve", htmlAttributes: new { @class = "control-label col-md-2 Production-Create--label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ShowTimeEve, new { htmlAttributes = new { @class = "form-control Production-CreateEdit--input-box", placeholder = "Enter ShowTime Eve" } })
                            @Html.ValidationMessageFor(model => model.ShowTimeEve, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ShowTimeMat, "Show Time Mat", htmlAttributes: new { @class = "control-label col-md-2 Production-Create--label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ShowTimeMat, new { htmlAttributes = new { @class = "form-control Production-CreateEdit--input-box", placeholder = "Enter ShowTime Mat" } })
                            @Html.ValidationMessageFor(model => model.ShowTimeMat, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Season, "Season", htmlAttributes: new { @class = "control-label col-md-2 Production-Create--label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Season, new { htmlAttributes = new { @class = "form-control Production-CreateEdit--input-box", placeholder = "Enter Season" } })
                            @Html.ValidationMessageFor(model => model.Season, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IsWorldPremiere, "World Premiere", htmlAttributes: new { @class = "control-label col-md-2 Production-Create--label" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.IsWorldPremiere)
                                @Html.ValidationMessageFor(model => model.IsWorldPremiere, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TicketLink, "Ticket Link", htmlAttributes: new { @class = "control-label col-md-2 Production-Create--label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TicketLink, new { htmlAttributes = new { @class = "form-control Production-CreateEdit--input-box", placeholder = "Description" } })
                            @Html.ValidationMessageFor(model => model.TicketLink, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </form>

                    

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="Production-CreateEdit--btn-container">
                            <input type="submit" value="Create" class="btn Production-CreateEdit--btn-default" />
                            <a href="@Url.Action("Index")" class="btn Production-CreateEdit--btn-default">Back to List</a>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>

    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
