@model TheatreCMS3.Areas.Prod.Models.Productions

@{
    ViewBag.Title = "Create";
}
<link href="~/Content/Areas/Prod.css" rel="Stylesheet" type="text/css" />
  

<h2>Create Production</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
 

<div class="form-horizontal" id="ProdCrForm">

  <hr />
  @Html.ValidationSummary(true, "", new { @class = "text-danger" })
  <div class="form-group">
    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Title" } })
      @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Description" } })
      @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.Playwright, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.Playwright, new { htmlAttributes = new { @class = "form-control", @placeholder = "Playwright" } })
      @Html.ValidationMessageFor(model => model.Playwright, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.Runtime, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.Runtime, new { htmlAttributes = new { @class = "form-control", @placeholder = "Runtime" } })
      @Html.ValidationMessageFor(model => model.Runtime, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.OpeningDay, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.OpeningDay, new { htmlAttributes = new { @class = "form-control", @placeholder = "Opening Day" } })
      @Html.ValidationMessageFor(model => model.OpeningDay, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.ClosingDay, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.ClosingDay, new { htmlAttributes = new { @class = "form-control", @placeholder = "Closing Day" } })
      @Html.ValidationMessageFor(model => model.ClosingDay, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.ShowTimeEve, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.ShowTimeEve, new { htmlAttributes = new { @class = "form-control", @placeholder = "Evening Showtime" } })
      @Html.ValidationMessageFor(model => model.ShowTimeEve, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.ShowTimeMat, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.ShowTimeMat, new { htmlAttributes = new { @class = "form-control", @placeholder = "Matinee Showtime" } })
      @Html.ValidationMessageFor(model => model.ShowTimeMat, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.Season, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.Season, new { htmlAttributes = new { @class = "form-control", @placeholder = "Season Number" } })
      @Html.ValidationMessageFor(model => model.Season, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.IsWorldPremiere, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
      <div class="checkbox">
        @Html.EditorFor(model => model.IsWorldPremiere)
        @Html.ValidationMessageFor(model => model.IsWorldPremiere, "", new { @class = "text-danger" })
      </div>
    </div>
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.TicketLink, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.TicketLink, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter ticket link" } })
      @Html.ValidationMessageFor(model => model.TicketLink, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.IsCurrentlyShowing, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
      <div class="checkbox">
        @Html.EditorFor(model => model.IsCurrentlyShowing)
        @Html.ValidationMessageFor(model => model.IsCurrentlyShowing, "", new { @class = "text-danger" })
      </div>
    </div>
  </div>

  <div class="form-group" id="ProdCrBtn">
    <div class="col-md-offset-2 col-md-10">
      <input type="submit" value="Create" class="btn btn-default" id="ProdCrSubmit" />
      <button type="button" class="btn btn-default" id="ProdCrBack">
        @Html.ActionLink("Back to List", "Index")
      </button>
    </div>
  </div>
</div>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
