@model TheatreCMS3.Areas.Prod.Models.Production

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="create-form--title">Create Production</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="create-border--containerBox">

    <div class="create-form--horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="create-form--group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="create-form--group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="create-form--group">
            @Html.LabelFor(model => model.Playwright, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Playwright, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Playwright, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="create-form--group">
            @Html.LabelFor(model => model.Runtime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Runtime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Runtime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="create-form--group">
            @Html.LabelFor(model => model.OpeningDay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OpeningDay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OpeningDay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="create-form--group">
            @Html.LabelFor(model => model.ClosingDay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClosingDay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ClosingDay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="create-form--group">
            @Html.LabelFor(model => model.ShowTimeEven, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShowTimeEven, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShowTimeEven, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="create-form--group">
            @Html.LabelFor(model => model.ShowTimeMat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShowTimeMat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShowTimeMat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="create-form--group">
            @Html.LabelFor(model => model.Season, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Season, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Season, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="create-form--group">
            @Html.LabelFor(model => model.IsWorldPremiere, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsWorldPremiere)
                    @Html.ValidationMessageFor(model => model.IsWorldPremiere, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="create-form--group">
            @Html.LabelFor(model => model.TicketLink, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TicketLink, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TicketLink, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="create-form--subButton">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-success btn-lg" />

        </div>
    </div>

    <div class="create-form--backButton">
        <div class="col-md-offset-2 col-md-10">

            <button type="submit" class="btn btn-warning btn-lg">Back To List</button>

        </div>
    </div>
    <div class="create-form--backLink">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
    <!--
    </div>


    <div class="create-border--containerBox">
        <form>
            <div class="create-form-group">
                <label for="formGroupExampleInput">Title</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="create-form-group">
                <label for="formGroupExampleInput2">Description</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
            </div>
        </form>

        <form>
            <div class="create-form-group">
                <label for="formGroupExampleInput">Playwright</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="create-form-group">
                <label for="formGroupExampleInput2">Runtime</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
            </div>
        </form>

        <form>
            <div class="create-form-group">
                <label for="formGroupExampleInput">OpeningDay</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="create-form-group">
                <label for="formGroupExampleInput2">ClosingDay</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
            </div>
        </form>

        <form>
            <div class="create-form-group">
                <label for="formGroupExampleInput">ShowTimeEven</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="create-form-group">
                <label for="formGroupExampleInput2">ShowTimeMat</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
            </div>
        </form>

        <form>
            <div class="create-form-group">
                <label for="formGroupExampleInput">OpeningDay</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="create-form-group">
                <label for="formGroupExampleInput2">ClosingDay</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
            </div>
        </form>

        <form>
            <div class="create-form-group">
                <label for="formGroupExampleInput">Season</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="create-form-group">
                <label for="formGroupExampleInput2">InWorldPremiere</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
            </div>
        </form>

    <div class="create-container--button">
        <button type="button" class="create-button-btn">Create Account</button>
    </div>
    </div>
        -->
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
