@model TheatreCMS3.Areas.Prod.Models.Production

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Production</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Playwrite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Playwrite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Runtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Runtime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpeningDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpeningDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClosingDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClosingDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowTimeEve)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowTimeEve)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowTimeMat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowTimeMat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seasons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seasons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isWorldPremier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isWorldPremier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isCurrentlyShowing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isCurrentlyShowing)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
