@model TheatreCMS3.Areas.Prod.Models.Production

<!-- Modal -->
<div class="Prod-All-modalheader modal-header">
        <button type="button" class="Prod-All-modalclosebutton close" data-dismiss="modal">X</button>
</div>
<div>
    <div class="text-center">
        <h2 class="Prod-All-modaltitle">@Html.DisplayFor(model => model.Title) Details</h2>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt class="Prod-All-modaldt">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd class="Prod-All-modaldd">
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt class="Prod-All-modaldt">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd class="Prod-All-modaldd">
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt class="Prod-All-modaldt">
                    @Html.DisplayNameFor(model => model.Playwright)
                </dt>

                <dd class="Prod-All-modaldd">
                    @Html.DisplayFor(model => model.Playwright)
                </dd>

                <dt class="Prod-All-modaldt">
                    @Html.DisplayNameFor(model => model.Runtime)
                </dt>

                <dd class="Prod-All-modaldd">
                    @Html.DisplayFor(model => model.Runtime)
                </dd>

                <dt class="Prod-All-modaldt">
                    Opening Day
                </dt>

                <dd class="Prod-All-modaldd">
                    @Html.DisplayFor(model => model.OpeningDay)
                </dd>

                <dt class="Prod-All-modaldt">
                    Closing Day
                </dt>

                <dd class="Prod-All-modaldd">
                    @Html.DisplayFor(model => model.ClosingDay)
                </dd>

                <dt class="Prod-All-modaldt">
                    Evening Showtime
                </dt>

                <dd class="Prod-All-modaldd">
                    @Html.DisplayFor(model => model.ShowTimeEve)
                </dd>

                <dt class="Prod-All-modaldt">
                    Matinee Showtime
                </dt>

                <dd class="Prod-All-modaldd">
                    @Html.DisplayFor(model => model.ShowTimeMat)
                </dd>

                <dt class="Prod-All-modaldt">
                    @Html.DisplayNameFor(model => model.Season)
                </dt>

                <dd class="Prod-All-modaldd">
                    @Html.DisplayFor(model => model.Season)
                </dd>

                <dt class="Prod-All-modaldt">
                    World Premiere?
                </dt>

                <dd class="Prod-All-modaldd">
                    @Html.DisplayFor(model => model.IsWorldPremiere)
                </dd>

                <dt class="Prod-All-modaldt">
                    Ticket Link
                </dt>

                <dd class="Prod-All-modaldd">
                    @Html.DisplayFor(model => model.TicketLink)
                </dd>

                <dt class="Prod-All-modaldt">
                    Is Currently Showing?
                </dt>

                <dd class="Prod-All-modaldd">
                    @Html.DisplayFor(model => model.isCurrentlyShowing)
                </dd>
            </dl>

        </div>
    </div>
    <div class="modal-footer">
        <p>
            <div class="col-md-12 Production-Create-ButtonSpace text-center">
                @Html.ActionLink("Edit", "Edit", null, new { id = Model.ProductionID, @class = "Prod-All-MainBtn btn btn-default" })
            </div>
            <div class="col-md-12 Production-Create-ButtonSpace text-center">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "Prod-All-SecondaryBtn btn btn-default" })
            </div>
        </p>
        <div class="panel-footer">
        </div>
    </div>
</div>
<script src="~/Scripts/Areas/Prod.js"></script>
