@model PagedList.IPagedList<TheatreCMS3.Areas.Prod.Models.Productions>
@using PagedList.Mvc

<link href="~/Content/Areas/Prod.css" rel="Stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="~/Scripts/Areas/Prod.js" type="text/javascript"></script>

@{
  ViewBag.Title = "Index";
}


<h2>Index</h2>

<button type="button" class="btn btn-default" id="ProdCrSubmit">
  <span> @Html.ActionLink("New Production", "Create")</span>
</button>


@using (Html.BeginForm())
{
<p>Search by Title: @Html.TextBox("SearchString", "", new { @class = "ProdIndSrcBar" }) <input type="submit" value="Search" id="ProdIndSrc" /></p>
}

<!--Card container-->
<div class="container">
  <div class="card-columns">

    @foreach (var item in Model)
    {

      <!-- Display Cards -->
    <div class="card">
      <img src="http://www.fillmurray.com/g/200/300" alt="placeholder" class="card-img-top img-fluid" />
      <div class="card-img-overlay">
        @Html.ActionLink("Edit", "Edit", new { id = item.ProductionId }, new { @class = "badge badge-pill" })
        @Html.ActionLink("Delete", "Delete", new { id = item.ProductionId }, new { @class = "badge badge-pill" })
      </div>
      <div class="card-body" style="transform: rotate(0);">
        <h3 class="card-title"> @Html.DisplayFor(modelItem => item.Title)</h3>
        <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
        <a href="javascript:void(0);" class="anchorDetail stretched-link" data-id="@item.ProductionId"></a>

      </div>
    </div>
 <!-- End Display Cards -->

 <!-- Modal -->
    <div id="myModal" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div id="myModalContent"></div>
        </div>
      </div>
    </div>
 <!-- End Modal -->
    }
  </div>
</div>
<!-- End Card Container-->
<!-- Pagination -->
<div class="IndPagination">
  Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
  @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
<!-- End Pagination -->

<script>

</script>
