@model IEnumerable<TheatreCMS3.Areas.Prod.Models.Production>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid text-center Production-index--header">
    <h2>Index of Productions</h2>
</div>

<div class="col-sm-3 mb-3">
    <button type="button" class="btn btn-dark Production-createedit--btnsave">
        @Html.ActionLink("Create New", "Create")
    </button>
</div>
@*<table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Playwright)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Runtime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OpeningDay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClosingDay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShowTimeEve)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShowTimeMat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Season)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsWorldPremiere)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketLink)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsCurrentlyShowing)
                </th>
                <th></th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Playwright)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Runtime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpeningDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClosingDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShowTimeEve)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShowTimeMat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Season)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsWorldPremiere)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketLink)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCurrentlyShowing)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ProductionId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.ProductionId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.ProductionId })
                </td>
            </tr>
    }

    </table>*@

<div class="card-deck">
    @foreach (var item in Model)
    {
    <div class="card Production-card text-white bg-dark mb-4">
        <div class="Production-card--image">
            <img src="~/Content/images/DollsHouse.png" class="card-img-top" alt="No Image" />
            <div class="Production-card--overlay">
                <h2>@Html.ActionLink("Edit", "Edit", new { id = item.ProductionId }, new { @class = "badge badge-dark" })</h2>
                <h2>@Html.ActionLink("Delete", "Delete", new { id = item.ProductionId }, new { @class = "badge badge-danger" })</h2>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
        </div>
        </div>
        }
    </div>
