@model IEnumerable<TheatreCMS3.Areas.Prod.Models.Production>

@{
    ViewBag.Title = "Index";
}

<h2 class="Production--header">Productions</h2>

<div class="text-center">
    @Html.ActionLink("Create New", "Create", null, new { @class="btn Production--button mb-3"})
</div>

<div class="card-deck mb-5">
	@foreach (var item in Model)
	{
	<div class="card">
		<a href="@Url.Action("Details", new { id = item.ProductionID })">
			<img src="@Url.Content("~/Content/images/macbeth.png")" class="card-img" alt="" />
        </a>
		<div class="card-body">
			<h5 class="card-title cms-text-dark text-center">@Html.DisplayFor(modelItem => item.Title)</h5>
		</div>
		<div class="card-footer text-center">
			<p>
				@Html.ActionLink("Edit", "Edit", new { id = item.ProductionID }, new { @class = "badge badge-pill badge-dark" })
				@Html.ActionLink("Delete", "Delete", new { id = item.ProductionID }, new { @class = "badge badge-pill badge-danger" })
			</p>
		</div>
	</div>
            
	}
</div>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Playwright)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Runtime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpeningDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClosingDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowTimeEve)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowTimeMat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Season)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsWorldPremier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketLink)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Playwright)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Runtime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpeningDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClosingDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowTimeEve)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowTimeMat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Season)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsWorldPremier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketLink)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductionID })
        </td>
    </tr>
}

</table>*@
