@model IEnumerable<TheatreCMS3.Areas.Prod.Models.Production>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Playwright)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Runtime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpeningDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClosingDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowTimeEven)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowTimeMat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Season)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsWorldPremiere)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.calendarEvents)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Playwright)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Runtime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpeningDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClosingDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowTimeEven)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowTimeMat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Season)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsWorldPremiere)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketLink)
        </td>
        <td>
          @if (item.calendarEvents == null)
          {
            continue;
          }

          else
          {
            foreach (var i in item.calendarEvents)
            {
              @Html.DisplayFor(modelItem => i.Title)
            }
          }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductionID })
        </td>
    </tr>
}

</table>
