@model IEnumerable<TheatreCMS3.Areas.Prod.Models.Production>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Html.ActionLink("Create New", "Create", null, new { @class = "btn production-index--create" })

@if (Model.Count() == 0)
{
    <h5 class="production-index--noProductionsMsg">There are currently no productions in the database.</h5>
}

else
{
    @*bootstrap classes are set so that cards are laid out in rows of 5 columns*@
     <div class="row row-cols-1 row-cols-md-5 production-index--cardContainer">
         @foreach (var item in Model) { 
             <div class="col-mb-4">
                 <div class="card production-index--card">
                    <a href="@Url.Action("Details", "Productions", new { id = item.ProductionId })">
                        @*placeholder img until production photos model is linked*@
                        <img src="~/Content/images/theater.jpg" class="card-img-top production-index--image" alt="@Html.DisplayFor(modelItem => item.Title)">
                    </a>
                    <div class="production-index--badgeLayer">
                         <a class="badge badge-pill production-index--badge production-index--badgeDelete" href="@Url.Action("Delete", "Productions", new { id = item.ProductionId })">
                             Delete
                         </a>
                         <a class="badge badge-pill production-index--badge production-index--badgeEdit" href="@Url.Action("Edit", "Productions", new { id = item.ProductionId })">
                             Edit
                         </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h4>
                    </div>
                </div>
             </div>
          }
     </div>
}