@model IEnumerable<TheatreCMS3.Areas.Prod.Models.Production>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn prod-index--CreateNewButton" })
</p>

<div class="prod-index-direction">
    @foreach (var item in Model)
    {
        <div class="card prod-index--card" style="width: 10rem;">

            <img src="~/Content/images/Tempest.png" class="card-img-top prod-index-image" alt="...">
            <div class="prod-index-overlay">
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductionId }, new { @class = "btn prod-index-btn" })
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductionId }, new { @class = "btn prod-index-btn" })
            </div>

            <a href="@Url.Action("Details", "Productions", new { id = item.ProductionId })">
                <div class="card-body">
                    <p class="card-text text-dark text-center">
                        @Html.DisplayFor(modelItem => item.Title)
                    </p>
                </div>
            </a>

        </div>
    }
</div>
   





