@model IEnumerable<TheatreCMS3.Areas.Prod.Models.Productions>

@{
  ViewBag.Title = "Index";
}
<link href="~/Content/Areas/Prod.css" rel="Stylesheet" type="text/css" />

<h2>Index</h2>

<button type="button" class="btn btn-default" id="ProdCrSubmit">
  <span> @Html.ActionLink("New Production", "Create")</span>
</button>

<table class="table">
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.Title)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Description)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Playwright)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Runtime)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.OpeningDay)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.ClosingDay)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.ShowTimeEve)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.ShowTimeMat)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Season)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.IsWorldPremiere)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.TicketLink)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.IsCurrentlyShowing)
    </th>
    <th></th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.Title)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Description)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Playwright)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Runtime)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.OpeningDay)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.ClosingDay)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.ShowTimeEve)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.ShowTimeMat)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Season)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.IsWorldPremiere)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.TicketLink)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.IsCurrentlyShowing)
      </td>
      <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ProductionId }) |
        @Html.ActionLink("Details", "Details", new { id = item.ProductionId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ProductionId })
      </td>
    </tr>
  }

</table>

<!--Card container-->
<div class="container">
  <div class="card-columns">

    @foreach (var item in Model)
    {
      <div class="card">
        <img src="http://www.fillmurray.com/g/200/300" alt="placeholder" class="card-img-top img-fluid" />
        <div class="card-img-overlay">
          @Html.ActionLink("Edit", "Edit", new { id = item.ProductionId }, new { @class = "badge badge-pill badge-dark" })
          @Html.ActionLink("Delete", "Delete", new { id = item.ProductionId }, new { @class = "badge badge-pill badge-dark" })
          @Html.ActionLink("Details", "Details", new { id = item.ProductionId }, new { @class = "badge badge-pill badge-dark" })
        </div>
        <div class="card-body bg-dark">
          <h3 class="card-title"> @Html.DisplayFor(modelItem => item.Title)</h3>
          <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
        </div>
      </div>
    }
  </div>
</div>
<!-- End Card Container-->