@using System.IO
@model IEnumerable<TheatreCMS3.Areas.Prod.Models.Production>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string projectBaseDirectory = AppDomain.CurrentDomain.BaseDirectory;
    string productionPhotosDirectory = "Content/images/ProductionPhotos";
}

<h2 class="text-center mt-5">Productions</h2>

@Html.ActionLink("Create New", "Create", "Productions", new { @class = "btn productions--bg-secondary text-light" })

<hr class="productions--bg-light"/>

<div class="container row row-cols-5 justify-content-center">
    @foreach (var item in Model)
    {
        string imageDirectory = $"{projectBaseDirectory}{productionPhotosDirectory}/{item.Title}";
        if (Directory.Exists(imageDirectory))
        {
            <div class="card productions--bg-secondary productions--card m-3">
                <a class="card-img-overlay" href="@Url.Action("Details", new { id = item.ProductionId })">
                    <div class="card-img-overlay productions--card-overlay text-center productions--card">
                        <div>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ProductionId }, new { @class = "badge badge-pill productions--bg-secondary text-light productions--badge-pill" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.ProductionId }, new { @class = "badge badge-pill productions--bg-main   text-light productions--badge-pill" })
                        </div>
                    </div>
                </a>
                <img class="card-img-top" src="~/@productionPhotosDirectory/@item.Title/01.jpg" alt="" height="200">
                <div class="card-body text-center">
                    <h5 class="card-title">@item.Title</h5>
                </div>
            </div>
        }
        else
        {
            <div class="card productions--bg-secondary productions--card m-3">
                <a class="card-img-overlay" href="@Url.Action("Details", new { id = item.ProductionId })">
                    <div class="card-img-overlay productions--card-overlay text-center productions--card">
                        <div>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ProductionId }, new { @class = "badge badge-pill productions--bg-secondary text-light productions--badge-pill" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.ProductionId }, new { @class = "badge badge-pill productions--bg-main   text-light productions--badge-pill" })
                        </div>
                    </div>
                </a>
                <img class="card-img-top" src="~/@productionPhotosDirectory/Filler/01.jpg" alt="" height="200">
                <div class="card-body text-center">
                    <h5 class="card-title">@item.Title</h5>
                </div>
            </div>
        }
    }
</div>