@model PagedList.IPagedList<TheatreCMS3.Areas.Prod.Models.Productions>
@using PagedList.Mvc

<link href="~/Content/Areas/Prod.css" rel="Stylesheet" type="text/css" />


@{
  ViewBag.Title = "Index";
}


<h2>Index</h2>

<button type="button" class="btn btn-default" id="ProdCrSubmit">
  <span> @Html.ActionLink("New Production", "Create")</span>
</button>


@using (Html.BeginForm())
{
  <p>Search by Title: @Html.TextBox("SearchString", "", new { @class = "ProdIndSrcBar" }) <input type="submit" value="Search" id="ProdIndSrc" /></p>
}

<!--Card container-->
<div class="container">
  <div class="card-columns">

    @foreach (var item in Model)
    {

      <!-- Modal Trigger Button -->
      <button type="button" class="btn btn-primary openBtn"  id="IndexModalButton" data-toggle="modal" data-target="#detailsModal">
        Modal Button
      </button>
      <!-- End Modal Trigger Button -->

      <!-- Display Cards -->
      <div class="card">
        <img src="http://www.fillmurray.com/g/200/300" alt="placeholder" class="card-img-top img-fluid" />
        <div class="card-img-overlay">
          @Html.ActionLink("Edit", "Edit", new { id = item.ProductionId }, new { @class = "badge badge-pill" })
          @Html.ActionLink("Delete", "Delete", new { id = item.ProductionId }, new { @class = "badge badge-pill" })
        </div>
        <div class="card-body" style="transform: rotate(0);">
          <h3 class="card-title"> @Html.DisplayFor(modelItem => item.Title)</h3>
          <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
          @Html.ActionLink(" ", "Details", new { id = item.ProductionId }, new { @class = "stretched-link" })
        </div>
      </div>
      <!-- End Display Cards -->

      <!-- Modal -->
      <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="DetailsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="DetailsModalLabel">Production Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- WANT TO DISPLAY DETAILS FOR RESPECTIVE CARDS HERE IN MODAL BODY DIV -->
            <div class="modal-body">
              <p>@Html.DisplayFor(modelItem => item.Description, new { id = item.ProductionId })</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal -->

    }
  </div>
</div>
<!-- End Card Container-->
<!-- Pagination -->
<div class="IndPagination">
  Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
  @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
<!-- End Pagination -->

<script src="~/Scripts/Areas/Prod.js"></script>

