@model IEnumerable<TheatreCMS3.Areas.Prod.Models.Production>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class=".Prod-All-header text-center">Index</h2>

<div class="col-md-offset-2 col-md-12 Productions-Index-ButtonSpace">
    @Html.ActionLink("Create New", "Create", null, new { @class = "Prod-All-MainBtn btn btn-default" })
</div>

@using (Html.BeginForm("index", null, FormMethod.Get))
{
    foreach (var item in Model)
    {
        <div class="Productions-Index-Cards">
            <div class="card" style="width: 18rem;">
                <a href="@Url.Action("Details", "Productions", new { id = item.ProductionID })">
                    <img src="~/Content/images/ProductionPhotos/Hamilton/05.jpg" class="card-img-top Productions-Index-Card_Image" alt="production image">
                </a>
                <div class="card-body Productions-Index-Card_Body">
                    <p>@Html.DisplayFor(modelItem => item.Title, new { @class = "Production-Card-Body_Text" })</p>
                    <p class="Productions-Index-EditDelete_PillBadges">
                        <div class="Production-Index-PillContainer">
                            <a href="@Url.Action("Edit", "Productions", new { id = item.ProductionID })" class="badge badge-pill Prod-All-PillBadgeColor">
                                Edit
                            </a>
                            <a href="@Url.Action("Delete", "Productions", new { id = item.ProductionID })" class="badge badge-pill Prod-All-PillBadgeColor">
                                Delete</a>
                        </div>
                    </p>
                </div>

            </div>
        </div>
    }
}