@{
    ViewBag.Title = "About Us";
}
<div class="about-header-container text-center container-fluid">
  <div class="about-banner">
    <img src="@Url.Content("~/content/images/theater.jpg")" alt="Theater Curtains" class="about-banner-img img-fluid" />
    <div class="about-banner-text">
      <h1 class="about-banner-h1">About Us</h1>
    </div>
  </div>
  <div class="about-mission">
    <h2 class="about-h2"><u class="about-underline">Who We Are</u></h2>
    <p>We seek to engage audiences through compelling, <br />ensemble-driven productions<br /> with a focus on developing new works</p>
  </div>
</div>

<div class="about-history-container container">
  <div class="about-history text-center">
    <h2 class="about-h2"><u class="about-underline">Company History</u></h2>
    <p class="about-p">
      In 1997, Theatre Vertigo was founded by Paul Floding, Nanette Pettit and Jeff Meyers.  Since then, Theatre Vertigo has performed in numerous spaces including The Russell Street Theater, The Electric Company, Theater!Theatre!, and The Shoebox Theater.
      From 2003 to 2014, Theatre Vertigo produced Anonymous Theatre as a summer fundraiser in collaboration with The Anonymous Theatre Company.  Other past collaborations include defunkt theatre, Stark Raving Theater, and Tears of Joy Theatre.
      Theatre Vertigo has worked on world premieres including Faust.Us by Joseph Fisher, 99 Ways to Fuck a Swan by Kim Rosenstock, and The End of Sex by Craig Jessen.
      In 2016, Theatre Vertigo produced its first officially commissioned work from a playwright, I Want To Destroy You, by Rob Handel.
    </p>
  </div>
</div>

<div class="about-ensemble-container container">
  <div class="about-ensemble text-center">
    <h2 class="about-h2"><u class="about-underline">Ensemble</u></h2>
    <div class="card-deck">
      <div class="about-card card">
        <img class="card-img-top" src="@Url.Content("~/content/images/Cast_Img_6.jpg")" alt="Victoria Alvarez-Chacon">
        <div class="about-card-body card-body">
          <h5 class="about-card-title card-title"><span class="about-span">Victoria Alvarez-Chacon</span></h5>
        </div>
      </div>
      <div class="about-card card">
        <img class="card-img-top" src="@Url.Content("~/content/images/Cast_Img_1.jpg")" alt="Kaia Maarja Hillier">
        <div class="about-card-body card-body">
          <h5 class="about-card-title card-title"><span class="about-span">Kaia Maarja Hillier</span></h5>
        </div>
      </div>
      <div class="about-card card">
        <img class="card-img-top" src="@Url.Content("~/content/images/Cast_Img_4.jpg")" alt="Jacquelle Davis">
        <div class="about-card-body card-body">
          <h5 class="about-card-title card-title"><span class="about-span">Jacquelle Davis</span></h5>
        </div>
      </div>
      <div class="about-card card">
        <img class="card-img-top" src="@Url.Content("~/content/images/Cast_Img_7.jpg")" alt="Tom Mounsey">
        <div class="about-card-body card-body">
          <h5 class="about-card-title card-title"><span class="about-span">Tom Mounsey</span></h5>
        </div>
      </div>
      <div class="about-card card">
        <img class="card-img-top" src="@Url.Content("~/content/images/Cast_Img_3.jpg")" alt="Heath Hyun Houghton">
        <div class="about-card-body card-body">
          <h5 class="about-card-title card-title"><span class="about-span">Heath Hyun Houghton</span></h5>
        </div>
      </div>
    </div>
  </div>
  <hr class="about-hr">
  <div class="about-board text-center">
    <h2 class="about-h2"><u class="about-underline">Board</u></h2>
    <p class="about-p">Jamie Floyd (President)</p>
    <p class="about-p">Tom Mounsey</p>
    <p class="about-p">Marcia Reyes</p>
    <p class="about-p">Lena-Liis Kiesel</p>
  </div>
</div>

