@{
    ViewBag.Title = "About Us";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@


<style>
    body {
        background-color: var(--main-color--light);
        padding: 0;
        margin: 0;
    }

    .container.body-content {
        max-width: none;
        padding: 0;
    }
</style>


<div class="contact-header text-center cms-bg-dark w-100 pb-5">
  <div class="aboutPageContainer">
    <img class="card-img-top" src="@Url.Content("~/Content/images/theater.jpg")" alt="Card image cap">
    <h3 class="centered aboutPage-h3">About Us</h3>
  </div>
    
    <h4 class="aboutPage-h4">WHO WE ARE</h4>
    <p class="card-text">We seek to engage audiences through compelling, ensemble-driven<br /> productions<br /> with a focus on developing new works</p>

</div>


<div align="center">
    <div class="aboutPage-History ">
        <h4 class="aboutPage-h4">Company History</h4>
        <p>
            <center>
                In 1997, Theatre Vertigo was founded by Paul Floding, Nanette Pettit and Jeff<br />Meyers.  Since then, Theatre Vertigo has performed in numerous spaces including<br /> The Russell Street Theater, The Electric Company, Theater!Theatre!, and The<br /> Shoebox Theater.<br /><br />

                From 2003 to 2014, Theatre Vertigo produced Anonymous Theatre as a summer<br /> fundraiser in collaboration with The Anonymous Theatre Company.  Other past<br /> collaborations include defunkt theatre, Stark Raving Theater, and Tears of Joy<br /> Theatre.<br /><br />

                Theatre Vertigo has worked on world premieres including Faust.Us by Joseph Fisher,<br /> 99 Ways to Fuck a Swan by Kim Rosenstock, and The End of Sex by Craig Jessen.<br />
                <br />
                In 2016, Theatre Vertigo produced its first officially commissioned work from a playwright, I Want To Destroy You, by Rob Handel.
            </center>
        </p>
    </div>
</div>


@*Align center is keeping aboutPage-Card images centered on the screens instead of the Card bodies moving right or left.*@
<div align="center">

    <div class="aboutPage-header text-center cms-bg-dark w-100 pb-5 pt-5">
        <h4 class="text-uppercase mt-5 mb-5 aboutPage-h4">Ensemble</h4>


        <div class="card aboutPage-Card">
            <img class="card-img-top aboutPage-Card-Img" src="@Url.Content("~/Content/images/Cast_Img_7.jpg")" alt="Tom Mounsey">
            <div class="card-body aboutPage-Card-Bdy ">
                <p class="card-text aboutPage-Card-Text">Tom Mounsey</p>
            </div>
        </div>
        <div class="card aboutPage-Card">
            <img class="card-img-top aboutPage-Card-Img" src="@Url.Content("~/Content/images/Cast_Img_1.jpg")" alt="Kaia Maarja Hillier">
            <div class="card-body aboutPage-Card-Bdy">
                <p class="card-text aboutPage-Card-Text">Kaia Maarja Hillier</p>
            </div>
        </div>

        <div class="card aboutPage-Card">
            <img class="card-img-top aboutPage-Card-Img" src="@Url.Content("~/Content/images/Cast_Img_3.jpg")" alt="Heath Hyun Houghton">
            <div class="card-body aboutPage-Card-Bdy">
                <p class="card-text aboutPage-Card-Text">Heath Hyun Houghton</p>
            </div>
        </div>
        <div class="card aboutPage-Card">
            <img class="card-img-top aboutPage-Card-Img" src="@Url.Content("~/Content/images/Cast_Img_4.jpg")" alt="Jacquelle Davis">
            <div class="card-body aboutPage-Card-Bdy">
                <p class="card-text aboutPage-Card-Text">Jaquelle Davis</p>
            </div>
        </div>
        <div class="card aboutPage-Card">
            <img class="card-img-top aboutPage-Card-Img" src="@Url.Content("~/Content/images/Cast_Img_6.jpg")" alt="Victoria Alvarez-Chacon">
            <div class="card-body aboutPage-Card-Bdy">
                <p class="card-text aboutPage-Card-Text">Victoria Alvarez-Chacon</p>
            </div>

        </div>
        @*<div class="aboutPage-hr">
            <p> <hr /> </p>
        </div>*@

    </div>
</div>


<div class="aboutPage-Board">
    <h3 class="aboutPage-h1">Board</h3>
    <p>
        Jamie Floyd (President)<br /> Scott Stephens <br />Marcia Reyes <br />Lena-Liis Kiesel
    </p>
</div>

