
@{
    ViewBag.Title = "About";
}

<div class="home-about--wrapping">
    <div class="home-about--div1">
        <h1 class="home-about--header">ABOUT US</h1>
    </div>
    <hr />
    <div>
        <h3 class="home-about--header">MISSION STATEMENT</h3>
        <p>To engage audiences through ensemble-driven productions with a focus on developing new works</p>
    </div>
    <hr />
    <div>
        <h3 class="home-about--header">THEATRE VERTIGO ENSEMBLE</h3>
        <div class="card-group m-2 cms-text-dark">
            <div class="card home-about--div2">
                <img class="card-img-top home-about--image" src="~/Content/images/Cast_Img_7.jpg" alt="cast image" />
                <div class="card-body">
                    <h4 class="card-title">Tom Mounsey</h4>
                    <p class="card-text">Award winning performer</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">today @DateTime.Now.ToString()</small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top home-about--image" src="~/Content/images/Cast_Img_1.jpg" alt="cast image" />
                <div class="card-body">
                    <h4 class="card-title">Kaia Maarja Hillier</h4>
                    <p class="card-text">Award winning performer</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">today @DateTime.Now.ToString()</small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top home-about--image" src="~/Content/images/Cast_Img_3.jpg" alt="cast image" />
                <div class="card-body">
                    <h4 class="card-title">Heath Hyun Houghton</h4>
                    <p class="card-text">Award winning performer</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">today @DateTime.Now.ToString()</small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top home-about--image" src="~/Content/images/Cast_Img_4.jpg" alt="cast image" />
                <div class="card-body">
                    <h4 class="card-title">Jacquelle Davis</h4>
                    <p class="card-text">Award winning performer</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">today @DateTime.Now.ToString()</small>
                </div>
            </div>
            <div class="card home-about--div2">
                <img class="card-img-top home-about--image"  src="~/Content/images/Cast_Img_6.jpg" alt="cast image" />
                <div class="card-body">
                    <h4 class="card-title">Victoria Alvarez-Chacon</h4>
                    <p class="card-text">Award winning performer</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">today @DateTime.Now.ToString()</small>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div>
        <h3 class="home-about--header">COMPANY HISTORY</h3>
        <p>
            In 1997, Theatre Vertigo was founded by Paul Floding, Nanette Pettit and Jeff Meyers.
            Since then, Theatre Vertigo has performed in numerous spaces including The Russell Street Theater,
            The Electric Company, Theater!Theatre!, and The Shoebox Theater.
        </p>
        <p>
            From 2003 to 2014, Theatre Vertigo produced Anonymous Theatre as a summer fundraiser in collaboration
            with The Anonymous Theatre Company.  Other past collaborations include defunkt theatre,
            Stark Raving Theater, and Tears of Joy Theatre.
        </p>
        <p>
            Theatre Vertigo has worked on world premieres including Faust.Us by Joseph Fisher,
            99 Ways to Fuck a Swan by Kim Rosenstock, and The End of Sex by Craig Jessen.
        </p>
        <p>
            In 2016, Theatre Vertigo produced its first officially commissioned work from a playwright,
            I Want To Destroy You, by Rob Handel.
        </p>
    </div>
    <hr />
    <div>
        <h3 class="home-about--header">BOARD MEMBERS</h3>
        <ul class="home-about--noBullets">
            <li>Jamie Floyd (President)</li>
            <li>Tom Mounsey</li>
            <li>Marcia Reyes</li>
            <li>Lena-Liis-Kiesel</li>
        </ul>
        <hr />
        <img src="~/Content/images/TheatreLogo.png" alt="logo" />
    </div>

</div>


