@model TheatreCMS3.Models.Contact
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <link rel="stylesheet" href="~/Content/css/Site.css" />
    @Scripts.Render("~/bundles/jquery")
</head>


<div class="Home-Contact--container1">
    <div class="pt-xl-5 mt-5">
        CONTACT US
    </div>
</div>


<body class="Home-Contact--body">
 
    
    <div class="container">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <div class="row justify-content-center mt-5">
                    <h4>GET IN TOUCH</h4>
                </div>

                <div class="Home-Contact--underline"></div>

                <div class="row">
                    <div class="col-8">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })

                        </div>



                        <div class="form-group">
                            @Html.Label("Email Address *")
                            @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })

                        </div>



                        <div class="form-group">
                            @Html.Label("Subject *")
                            @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label" })
                            @Html.TextAreaFor(model => model.Message, htmlAttributes: new { @class = "form-control Home-Contact--textarea", @rows = "4" })
                            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn Home-Contact--btn w-100" />
                        </div>
                    </div>

                    <div class="col-3 mt-4 ml-4 text-wrap">
                        <div class="row">
                            <h4>DONATE</h4>
                        </div>
                        <div class="row">
                            <p>We have a Patreon account! Please donate to our community by pressing the Donate button below.</p>
                        </div>
                        <div class="row">
                            <button class="btn Home-Contact--btn px-4 mt-1">Donate</button>
                        </div>

                        <div class="row mt-4">
                            <h4>VOLUNTEER</h4>
                        </div>
                        <div class="row">
                            <p>Volunteer to help us with our latest productions. We have many volunteer jobs available and are willing to accept any and all help you would be willing to provide! Sign up by clicking the volunteer button below!</p>
                        </div>
                        <div class="row">
                            <button class="btn Home-Contact--btn px-4 mt-1">Volunteer</button>
                        </div>

                    </div>
                </div>

            </div>

        }
    </div>
   
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Site.js")
</body>
</html>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}