@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TheatreCMS3.Models.ContactModel


<div class="Home-Contact--Container">

    <div class="container-fluid Home-Contact--LgHeader" style="padding: 0px; border-bottom-left-radius: 80px 80px">
        <br />
        Contact Us
    </div>

    <div class="Home-Contact--info">
        <div class="Home-Contact--ColumnParent">
  
            <h2 class="Home-Contact--SmHeader">GET IN TOUCH</h2>

            <div class="Home-Contact--Form">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.SenderName, new { @class = "col control-label" })
                            <div>
                                @Html.TextBoxFor(m => m.SenderName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.SenderName)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.SenderEmail, new { @class = "col control-label" })
                            <div>
                                @Html.TextBoxFor(m => m.SenderEmail, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.SenderEmail)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Subject, new { @class = "col control-label" })
                            <div>
                                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Subject)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Message, new { @class = "col control-label" })
                            <div>
                                @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Message)
                            </div>
                        </div>

                        <div class="form-group">
                            <div>
                                <input type="submit" class="Home-Contact-Btn" value="Send" />
                            </div>
                        </div>
                    </div>
                }
            </div>

            <h4 class="Home-Contact--DHeader">DONATE</h4>

            <div class="Home-Contact--Donate">
                <p>
                    We've got a Patreaon account<br />
                    Help support live theatre in<br />
                    Portland, OR. by becoming a<br />
                    Patron today!<br />
                </p>
                
                <div class="Home-Contact--DBtn">
                    <a class="btn Home-Contact-Btn" href="#" role="button">Donate</a>
                </div>
            </div>

            <h4 class="Home-Contact--VHeader"> VOLUNTEER</h4>

            <div class="Home-Contact--Volunteer">
                <p>
                    Lorem ipsum dolor sit amet,<br />
                    consectetuer adipiscing elit.<br />
                    Et magnis dis parturient montes, nascetur<br />
                    ridiculus mus. <br />
                </p>
                <div class="Home-Contact--VBtn">
                    <a class="btn Home-Contact-Btn" href="#" role="button">Volunteer</a>
                </div>
        </div>
    </div>
</div> 