@model IEnumerable<TheatreCMS3.Areas.Rental.Models.RentalRequest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@*accordion container for view of requests*@
<div class="container-fluid mb-4">
    <div id="accordion">
        @foreach (var item in Model)
        {
            <div class="card rental-rentalrequest--container mb-4">
                @*top part of accordion that will show contact person, company name, and time unlil request/ time remaining*@

                <div class="card-header">
                    <div class="container" data-toggle="collapse" data-target="#collapse@(item.RentalRequestID) " aria-expanded="false" aria-controls="collapseOne">
                        <div class="row">
                            <div class="col-md-8">
                                @Html.DisplayFor(modelItem => item.Company)
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">

                                @Html.DisplayFor(modelItem => item.ContactPerson)
                            </div>
                            <div class="col-md-4">
                                @{ DateTime timeToday = DateTime.Now;
                                    TimeSpan timeRemaining = item.EndTime - DateTime.Now;
                                    TimeSpan timeToStart = item.StartTime - DateTime.Now;

                                    @*Time remaining or until starts - ## days, ## hrs, ## mins*@

                                    if (item.StartTime > DateTime.Now)
                                    {
                                        @*Time until rental starts*@

                                        @(item.StartTime - DateTime.Now)
                                    }
                                    else
                                    {
                                        @*Time remaining*@
                                        @(item.EndTime - DateTime.Now)
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                @*More details of the rental request when top part of the accordion is clicked*@
                <div id="collapse@(item.RentalRequestID)" class="collapse container rental-rentalrequest--dropdown" data-parent="#accordion">
                    <div class="card-body">
                        <div class="row rental-rentalrequest--row-center">
                            <div class="col-md-4">
                                Start Time
                            </div>
                            <div class="col-md-4">
                                End Time
                            </div>
                        </div>
                        <div class="row rental-rentalrequest--row-center">
                            <div class="col-md-4">
                                @Html.DisplayFor(modelItem => item.StartTime)
                            </div>
                            <div class="col-md-4">
                                @Html.DisplayFor(modelItem => item.EndTime)
                            </div>
                        </div>
                        <div class="flex-column">
                            <div class="p-2">
                                Rental Code: @Html.DisplayFor(modelItem => item.RentalCode)
                            </div>
                            <div class="p-2">
                                Project Info: @Html.DisplayFor(modelItem => item.ProjectInfo)
                            </div>
                            <div class="p-2">
                                Accepted: @Html.DisplayFor(modelItem => item.Accepted)
                            </div>
                            <div class="p-2">
                                Contract Signed: @Html.DisplayFor(modelItem => item.ContractSigned)
                            </div>
                            <div class="p-2">
                                @Html.ActionLink("Edit", "Edit", new { id = item.RentalRequestID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.RentalRequestID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.RentalRequestID })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                                    }
        </div>
 </div>