@model TheatreCMS3.Areas.Prod.Models.CastMember

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="Prod-All-header">Delete This Cast Member?</h2>

<div class="container CastMember-Delete_Details-Container">
    @* Name & Role *@
    <h3 class="text-center pt-3 CastMember-Delete_Details-Header">@Html.DisplayFor(Model => Model.Name, new { @class = "" }) <br />
                                                                  @Html.LabelFor(Model => Model.MainRole, "Role:") @Html.DisplayFor(Model => Model.MainRole, new { @class = "" })</h3>
    @* Display Image From Cast Member ID *@
    <div class="CastMember-Delete_Details-ImageContainer">
        @if (Model.Photo != null)
        {<img class="CastMember-Delete_Details-Image"
              alt="@Model.CastMemberId"
              src="data:image/jpg;base64, @Convert.ToBase64String(Model.Photo)" />
        }
        else
        { <img class="CastMember-Delete_Details-Image"
               src="~/Content/images/Cast_Img_1.jpg" />}
    </div>

    @* Biography Section *@
    <div class="container CastMember-Delete_Details-Container">
        <h4 class="CastMember-Delete_Details-MB">
            @Html.DisplayNameFor(model => model.Bio)
        </h4>
        <div class="CastMember-Delete_Details-Border">
            @Html.DisplayFor(model => model.Bio)
            <p></p>
        </div>
    </div>

    @* Other Details Section *@
    <div class="container CastMember-Delete_Details-Container">
        <h4 class="CastMember-Delete_Details-MB">Details</h4>
        <div class="CastMember-Delete_Details-Border">
            @* ROW 1 *@
            <div class="row">
                <div class="col">
                    @Html.LabelFor(model => model.YearJoined, "Year Joined: ", htmlAttributes: new { @class = "font-weight-bold" })
                    @Html.DisplayFor(model => model.YearJoined)
                </div>
                <div class="col">
                    @Html.LabelFor(model => model.CurrentMember, "Current Member: ", htmlAttributes: new { @class = "font-weight-bold" })
                    @Html.DisplayFor(model => model.CurrentMember)
                </div>
            </div>

            @* ROW 2 *@
            <div class="row">
                <div class="col">
                    @Html.LabelFor(model => model.DebutYear, "Debut Year: ", htmlAttributes: new { @class = "font-weight-bold" })
                    @Html.DisplayFor(model => model.DebutYear)
                </div>
                <div class="col">
                    @Html.LabelFor(model => model.EnsembleMember, "Ensemble Member: ", htmlAttributes: new { @class = "font-weight-bold" })
                    @Html.DisplayFor(model => model.EnsembleMember)
                </div>
            </div>

            @* ROW 3 *@
            <div class="row">
                <div class="col">
                    @Html.LabelFor(model => model.YearLeft, "Year Left: ", htmlAttributes: new { @class = "font-weight-bold" })
                    @Html.DisplayFor(model => model.YearLeft)
                </div>
                <div class="col">
                    @Html.LabelFor(model => model.AssociateArtist, "Associate Artist: ", htmlAttributes: new { @class = "font-weight-bold" })
                    @Html.DisplayFor(model => model.AssociateArtist)
                </div>
            </div>
        </div>
    </div>

    @* CRUD Buttons *@
    <div class="">
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <div class="col-md-offset-2 col-md-12 text-center">
                    <input type="submit" value="Delete" class="CastMember-Delete_Details-MainBtn btn-default" />
                </div>
                <div class="col-md-offset-2 col-md-12 text-center Production-Create-ButtonSpace">
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn Prod-All-SecondaryBtn" })
                </div>

            </div>
        }
    </div>
</div>

