@model TheatreCMS3.Areas.Prod.Models.CastMember

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Prod/Views/Shared/_Layout.cshtml";
}

<br />
<h2 style="text-align:center;">Cast Member Details</h2>
<br />

<div>
    <dl class="dl-horizontal cm-delete">
      <dd>
        <br />
        <h2>@Html.DisplayFor(model => model.Name)</h2>
        <br />
      </dd>

      <dd>
        <div class="cm-details-img">
          <img src="" alt="Image Coming Soon" />
          @*<p>@Html.DisplayFor(model => model.Photo)</p>*@
        </div>
        
      </dd>

      <dt class="cm-details-left">
        <h4>Bio</h4>
      </dt>

      <dd class="cm-details-box">
        @Html.DisplayFor(model => model.Bio)
      </dd>

      <dt class="cm-details-left">
        <h4>Info</h4>
      </dt>

      <dd>
        <div class="cm-details-box">
          <p>Main Role: @Html.DisplayFor(model => model.MainRole)</p>
          <p>Production: @Html.DisplayFor(model => model.ProductionTitle)</p>

          @if (Convert.ToString(Model.MainRole) == "Actor")
          {
            <p>Character: @Html.DisplayFor(model => model.Character)</p>
          }

          <p>Year Joined: @Html.DisplayFor(model => model.YearJoined)</p>
          <p>Year Debuted: @Html.DisplayFor(model => model.DebutYear)</p>

          @if (Model.CurrentMember == true && Model.CastYearLeft == null)
          {
            <p>Status: Current Member</p>
          }
          else if (Model.CurrentMember == false && Model.CastYearLeft != null)
          {
            <p>Left Cast: @Html.DisplayFor(model => model.CastYearLeft)</p>
          }

        </div>

        <br /><br />
      </dd>
    </dl>
</div>

<div class="cm-btn-div">
  <a href='@Url.Action("Index", "CastMembers")'>
    <button class="cm-btn cm-btn-edit"><i class="fas fa-long-arrow-alt-left cm-fas"> </i>Back to List</button>
  </a>

  <a href='@Url.Action("Edit", "CastMembers", new { id = Model.CastMemberId })'>
    <button class="cm-btn cm-btn-edit"><i class="fas fa-user-edit cm-fas"> </i>Edit</button>
  </a>

  <a href='@Url.Action("Delete", "CastMembers", new { id = Model.CastMemberId })'>
    <button class="cm-btn cm-btn-delete"><i class="fas fa-user-minus cm-fas"> </i>Delete</button>
  </a>
</div>

