@model TheatreCMS3.Areas.Prod.Models.Castmember

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
    <div class="castmembers-detailsdelete--container">
        <br>
        <h4>Castmember</h4>
        <hr />
        <dl class="dl-horizontal">
            <dd>
                @*Converts the image to a string so that it can be displayed on the details page*@
                @if (Model.Photo != null)
                {
                    string words = Convert.ToBase64String(Model.Photo);
                    <div class="castmembers-detailsdelete--img">
                        <img class="card-img-top castmembers-index--image" src="data:image/jpeg;base64,@words" />
                    </div>
                 }

                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd class="castmembers-detailsdelete--textcontainer">
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.YearJoined)
                </dt>

                <dd class="castmembers-detailsdelete--textcontainer">
                    @Html.DisplayFor(model => model.YearJoined)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MainRole)
                </dt>

                <dd class="castmembers-detailsdelete--textcontainer">
                    @Html.DisplayFor(model => model.MainRole)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Bio)
                </dt>

                <dd class="castmembers-detailsdelete--textcontainer">
                    @Html.DisplayFor(model => model.Bio)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CurrentMember)
                </dt>

                <dd class="castmembers-detailsdelete--textcontainer">
                    @Html.DisplayFor(model => model.CurrentMember)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Character)
                </dt>

                <dd class="castmembers-detailsdelete--textcontainer">
                    @Html.DisplayFor(model => model.Character)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CastYearLeft)
                </dt>

                <dd class="castmembers-detailsdelete--textcontainer">
                    @Html.DisplayFor(model => model.CastYearLeft)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DebutYear)
                </dt>

                <dd class="castmembers-detailsdelete--textcontainer">
                    @Html.DisplayFor(model => model.DebutYear)
                </dd>
                <br>

            </dl>
    </div>
    <p class="castmembers-detailsdelete--icons">
        <i class="fa fa-pencil-square-o">@Html.ActionLink(" Edit", "Edit", new { id = Model.CastMemberId })</i> |
        <i class="fa-solid fa-hand-point-left">@Html.ActionLink(" Back to List", "Index")</i>
</p>
