@using TheatreCMS3.Areas.Prod.Controllers
@model TheatreCMS3.Areas.Prod.Models.CastMember

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center p-2">Details</h2>

<div class="castMember-Details--form container-fluid">
    <h2 class="text-center font-weight-bold p-2">@Html.DisplayFor(model => model.Name)</h2>

    <img src="@CastMembersController.ImageSource(Model.Photo)" class="img-fluid mx-auto m-2 d-block castMember-Details--image" alt="@Model.CastMemberID">

    <h4 class="pt-2">
        @Html.DisplayNameFor(model => model.Bio)
    </h4>
    <p class="text-justify castMember-Details--bio">
        @Html.DisplayFor(model => model.Bio)
    </p>

    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.YearJoined)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.YearJoined)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.MainRole)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.MainRole)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Character)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Character)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ProductionTitle)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ProductionTitle)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CurrentMember)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CurrentMember)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DebutYear)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DebutYear)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CastYearLeft)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CastYearLeft)
        </dd>
    </dl>
</div>

<div class="castMember-Details-btn-container pt-3 container-fluid">
    <div class="row">
        <div class="col-sm text-left pl-0">
            <a href="@Url.Action("Index", "CastMembers")" class="btn castMember-Details--btn castMember-Details--buttonoutline">
                <span class="fas fa-arrow-alt-circle-left" aria-hidden="true"></span>
                Back to List
            </a>
            <a href="@Url.Action("Edit", "CastMembers", new { id = Model.CastMemberID })" class="btn castMember-Details--btn castMember-Details--buttonoutline">
                <span class="fas fa-edit" aria-hidden="true"></span>
                Edit
            </a>
        </div>
        <div class="col-sm text-right pr-0">
        </div>
    </div>
</div>

