@model TheatreCMS3.Areas.Prod.Models.CastMember

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center display-4">Cast Member Details</h2>

<div class="p-4 container rounded CastMember-DetDel--container">
    <h1 class="p-2 text-center">@Html.DisplayFor(model => model.Name)</h1>
    <img src="@Url.Action("RenderImage", new { id = Model.CastMemberId })" class="rounded mx-auto d-block" />
    <hr class="CastMember-DetDel--greyLine">
    <h4 class="p-2">@Html.DisplayNameFor(model => model.Bio)</h4>
    <div class="p-2 container rounded border CastMember-DetDel--bio">
        @Html.DisplayFor(model => model.Bio)
    </div>
    <div class="mt-3 p-2 container rounded border CastMember-DetDel--other">
        <dl class="CastMember-DetDel--other">
            <dt class="CastMember-DetDel--other">
                @Html.DisplayNameFor(model => model.YearJoined)
            </dt>
            <dd class="CastMember-DetDel--other">
                @Html.DisplayFor(model => model.YearJoined)
            </dd>

            <dt class="CastMember-DetDel--other">
                @Html.DisplayNameFor(model => model.MainRole)
            </dt>

            <dd class="CastMember-DetDel--other">
                @Html.DisplayFor(model => model.MainRole)
            </dd>

            <dt class="CastMember-DetDel--other">
                @Html.DisplayNameFor(model => model.CurrentMember)
            </dt>

            @* Display Yes or No instead of a checkbox *@
            <dd class="CastMember-DetDel--other">
                @if (Model.CurrentMember)
                {
                <p class="m-0">Yes</p>
                }
                else
                {
                <p class="m-0">No</p>
                }
            </dd>

            <dt class="CastMember-DetDel--other">
                @Html.DisplayNameFor(model => model.ProductionTitle)
            </dt>

            <dd class="CastMember-DetDel--other">
                @Html.DisplayFor(model => model.ProductionTitle)
            </dd>

            <dt class="CastMember-DetDel--other">
                @Html.DisplayNameFor(model => model.Character)
            </dt>

            <dd class="CastMember-DetDel--other">
                @Html.DisplayFor(model => model.Character)
            </dd>

            <dt class="CastMember-DetDel--other">
                @Html.DisplayNameFor(model => model.CastYearLeft)
            </dt>

            <dd class="CastMember-DetDel--other">
                @Html.DisplayFor(model => model.CastYearLeft)
            </dd>

            <dt class="CastMember-DetDel--other">
                @Html.DisplayNameFor(model => model.DebutYear)
            </dt>

            <dd class="CastMember-DetDel--other">
                @Html.DisplayFor(model => model.DebutYear)
            </dd>
        </dl>
    </div>
</div>

<!--back to list and edit buttons-->
<button type="button" onclick="location.href='@Url.Action("Index", "CastMembers")'" class="mt-3 mr-3 btn btn-outline-primary">
    <i class="fa-solid fa-arrow-left"></i>&nbsp;Back To List
</button>
<a href="@Url.Action("Edit", "CastMembers", new { id = Model.CastMemberId })" class="mt-3 btn btn-outline-warning">
    <i class="fas fa-edit"></i>&nbsp;Edit
</a>
