@model IEnumerable<TheatreCMS3.Areas.Prod.Models.CastMember>

@{
  ViewBag.Title = "Index";
  Layout = "~/Areas/Prod/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Cast Members</h2>
<div class="cm-link-btn">
  @Html.ActionLink("Create New", "Create")
</div>


@{
  int index = -1;
  List<string> Titles = new List<string>();

  <!-- This foreach loop adds unique Production Titles to a list -->
  foreach (var item in Model)
  {
    <!-- Add first production title to a list -->
    if (index == -1)
    {
      Titles.Add(item.ProductionTitle);
      index++;
    }
    <!-- As we iterate through the Model, if the next production title is different than previous title saved in list, then we add new title to the list -->
    if (item.ProductionTitle != Titles[index])
    {
      Titles.Add(item.ProductionTitle);
      index++;
    }
  }
}

<!-- Now we iterate through the list, print the title that is in the list, and if a cast member is in that production, print a card in a div -->
@for (int i = 0; i < Titles.Count; i++)
{
    <h3>@Titles[i]</h3>
    <hr />
    <div class="d-flex row cm-row-index">
      @foreach (var item in Model.Where(x => x.ProductionTitle == Titles[i]))
      {
       <div class="card cm-card-body card-display col-3 showHidden" style="width: 18rem;">
          <a href='@Url.Action("Details", "CastMembers", new { id = item.CastMemberId })'>
            <img src="~/Content/images/Cast_Img_3.jpg" class="card-img-top" alt="...">
              <div class="">
                <br />
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                <div class="card-hidden">
                  <div class="cm-hiddenBtn">
                    <i class="fas fa-user-edit cm-fas"> </i>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CastMemberId })
                  </div>
                  <div class="cm-hiddenBtn">
                    <i class="fas fa-user-minus cm-fas"> </i>
                    @Html.ActionLink("Delete", "Delete", new { id = item.CastMemberId })
                  </div>
                </div>
              </div>
          </a>
       </div>
       }
    </div>
}

