@model IEnumerable<TheatreCMS3.Areas.Prod.Models.CastMember>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var GroupByProdTitle = Model.GroupBy(Model => Model.ProductionTitle);
}

<div class="Prod-All-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="col-md-offset-2 col-md-12">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn Prod-All-MainBtn" })
</div>

<div class="">
    @foreach (var group in GroupByProdTitle)
    { 
        <h2 class="CastMember-Index-ProdTitles">@group.Key</h2>
        <hr style="background-color:var(--main-color);"/>
        <div class="row">
            @foreach (var member in group)
            {
                <a href="@Url.Action("Details", "CastMembers", new { id = member.CastMemberId })">
                    <div class="card border-danger ml-3 CastMember-Index-Container">
                            @if (member.Photo != null)
                            {<img class="CastMember-Index-Image"
                                  alt="@member.CastMemberId"
                                  src="data:image/jpg;base64, @Convert.ToBase64String(member.Photo)" />
                            }
                            else
                            { <img src="~/Content/images/Cast_Img_1.jpg" />}
                        <div class="card-img-overlay CastMember-Index-Overlay">
                            <div class="CastMember-Index-InnerBadges">
                                <h5 class="CastMember-Index-h5">@Html.DisplayFor(Model => member.Name, new { @class = "" })</h5>
                                @Html.ActionLink("Edit", "Edit", new { id = member.CastMemberId }, new { @class = "badge Prod-All-PillBadgeColor" })
                                @Html.ActionLink("Delete", "Delete", new { id = member.CastMemberId }, new { @class = "badge Prod-All-PillBadgeColor" })
                            </div>
                        </div>
                    </div>
                </a>
             }
        </div>
    }
</div>