@model IEnumerable<TheatreCMS3.Areas.Prod.Models.CastMember>
@using System.Linq;
@{
  ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
  @Html.ActionLink("Create New", "Create",null, new { @class = "btn prod-btn  " })
</div>

@{
   
    foreach (var title in ViewBag.ProductionTitles)    //For Each Distinct ProductionTitle
    {
      <div>
          <div class="prod-form-label">
              @Html.DisplayFor(modelItem => title) <!--Display Title-->
          </div>
          <hr class="cms-bg-main-light mt-2 pb-2"/>   <!--Divider Line-->
      </div>


      <div class="row mb-2">
        
        @foreach (var castMember in Model)   //For Each CastMember in that Production, Display Card
        {
           List<string> titlesList = castMember.Productions.Select(x => x.Title).ToList();
           if (titlesList.Contains(title)) { 

           <div class="card bg-dark m-sm-auto w-25">            
              <img src="data:image;base64,@System.Convert.ToBase64String(castMember.Photo)" class=" card-img-top">
              <div class="prod-overlay text-center">
                @Html.ActionLink("Details", "Details",null, new {id = castMember.CastMemberId }, new {@class = "detailsLink fas fa-edit" }) <!--Overlay link to Details-->
                <div class=" prod-overlay-icon-container text-center ">
                  <a href=@Url.Action("Edit", "CastMembers", new { id = castMember.CastMemberId } ) title="Edit"><i class="far fa-edit fa-2x prod-icon mr-2"></i></a>
                  <a href=@Url.Action("Delete", "CastMembers", new { id = castMember.CastMemberId } ) title="Delete"><i class="fas fa-user-times fa-2x prod-icon ml-2"></i></a> 
                </div>
              </div>            
              <div class="card-body bg-dark text-light">
                 @Html.DisplayFor(modelItem => castMember.Name)
                 @Html.DisplayFor(modelItem => castMember.MainRole)
              </div>
          </div>
          }
        }
      </div>
  }
}





