@using TheatreCMS3.Areas.Prod.Controllers
@model IEnumerable<TheatreCMS3.Areas.Prod.Models.CastMember>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="card-deck">
    @foreach (var item in Model)
    {
        <div class="card">
            <img src="@CastMembersController.ImageSource(item.Photo)" class="card-img-top" alt="@item.CastMemberID">
            <div class="card-body bg-dark" onclick="location.href='@Url.Action("Details", "CastMembers", new { id = item.CastMemberID })'">
                <h5 class="card-title text-center">@item.Name</h5>
            </div>
        </div>
    }
</div>
