@model IEnumerable<TheatreCMS3.Areas.Prod.Models.CastMember>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="display-2 text-center">Cast Members</h2>
<hr />

@using (Html.BeginForm("Index", "CastMembers", FormMethod.Get))
{
    //the following are search options
    <div class="float-right mb-4">
        @Html.TextBox("search")<input type="submit" name="submit" value="Search" class="CastMember-Index--search"/>
    </div>
}

<div class="text-center">
    <button type="button" onclick="location.href='@Url.Action("Create", "CastMembers")'" class="btn btn-block" id="CastMember-CreateEdit--yellowButton">ADD A NEW CAST MEMBER</button>
</div>
<hr class="CastMember-Index--greyLine">

@if (Model.Count() == 0)
{
    <h2 class="display-4 mt-5">Records not found</h2>
}
else
{
    var titles = Model.Select(m => m.ProductionTitle).Distinct();
    foreach (var title in titles)
    {
        <h2 class="display-4">@title</h2>
        if (title == null)
        {
            <h2 class="display-4">Other</h2>
        }
        <hr />
        <div class="card-deck">
            @foreach (var item in Model)
            {
                if (item.ProductionTitle == title)
                {
                    <div class="card bg-dark CastMember-Index--card">
                        <img src="@Url.Action("RenderImage", new { id = item.CastMemberId })" class="card-img CastMember-Index--image" />
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                            <a href="@Url.Action("Edit", "CastMembers", new { id = item.CastMemberId })" class="btn btn-warning CastMember-Index--editBtn CastMember-Index--button">Edit</a>
                            <a href="@Url.Action("Delete", "CastMembers", new { id = item.CastMemberId })" class="btn btn-danger CastMember-Index--delBtn CastMember-Index--button">Delete</a>
                            <a href="@Url.Action("Details", "CastMembers", new { id = item.CastMemberId })" class="stretched-link"></a>
                            <p class="CastMember-Index--text">Click to see more!</p>
                        </div>
                    </div>
                }
            }
        </div>
        <hr />
        <hr class="CastMember-Index--greyLine">
        <hr />
    }
}